openapi: 3.0.0
info:
  title: Templates
  version: '1.0'
  description: >-
    goPaddle is a DevOps platform that helps to build, deploy, and scale
    microservices. ... Each component contains a microservice artifact and its
    deployment specification. A microservice design can be deployed on a
    container cluster like Kubernetes for web scale deployments and easy service
    lifecycle management.
servers:
  - url: https://portal.gopaddle.io/gateway
  
security:
  - bearerAuth: []
  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      
  schemas:
    Files:    # Schema name
      type: object
      properties:
        FileHead:
          type: string
        FileContent:
          type: string
    PemKeyFile:
       type: object
       properties:
         keyFile:
           type : string
         OtherFile:
           type : array
           items: 
             $ref: '#/components/schemas/Files'
    Terraform:
      type: object
      properties:
        FileContent:
          type: string
        FileName:
          type: string
        Files:
          type : object
          items:
            $ref: '#/components/schemas/PemKeyFile'
        Description:
         type: string
         
         
          
paths:
  /v1/{projectId}/terraform:
    summary: Templates list call
    get:
      summary: list template
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
          required: true
          description: Numeric projectId of the templates to get
      description: This API lists all the templates in gopaddle portal for given project
      operationId: ''
      responses:
        default:
          description: Success response
          content:
            application/json:
              examples:
                list_response:
                  value: >-
                    {"paginationCount":1,"templates":[{"id":"tmpea34d1d1ef637e4450ea0fde7276d178c5c4","Project":["prjca5e4c9ae0585e4e79ea8b3e67d5be369fae"],"desc":"","templateGraph":"iVBORw0KGgoAAAANSUhEUgAABW8AAAJ7CAIAAAATKPTRAAAABmJLR0QA/wD/AP+gvaeTAAAgAElEQVR4nOzdd1xT1/8/8BOSsElA9hARUGQJijIdqEhxV20dValaxC11j2rFaqvW1tWiIm2titvWAVWrglbFASgyXYAoe0kChJnx++N+m18+gBQVuAm8nn/4uCv3vHITkPu+557LkEgkBAAAAAAAAACgxZToDgAAAAAAAAAACgbVBAAAAAAAAAB4N6gmAAAAAAAAAMC7YdEdAAAAAAA6uPr6ej6fX15eXlZWVldXJxAIqOUCgaCuro6a1tTUZLPZ1LSOjo6ysjKHw+Fyudra2vSEBgCAZqGaAAAAAAAfRCKR5OTkvHz5Mjs7u6ioKCcnp7CwMDc3t7CwsKysrLy8vKqq6kP2z+VyuVxuly5dTE1NDQ0NqX/NzMxMTU2tra1RbgAAoAUDz3QAAAAAgJYTCASpqamJiYnPnj3LyMhIT09PT0+vqakhhLDZbOnZvomJiZGRkY6ODpfLpXoZUB0NmEwml8uldqWqqqqmpkZNl5eXi0QiQohQKKyoqKitrS0vL+fz+Xw+n8fj8fn80tLSvLw8aZ2iuLiYeqGenp6VlZW1tbW1tbWdnZ2Tk5O1tTWTyaTj2AAAdCKoJgAAAABAcyorK+/fv//gwYPExMTExMT09HSxWKylpWVjY2Mtw8rKysjIqN1S1dXVvX79Ol3GixcvMjMzhUKhurq6vb29s7Ozs7Ozl5eXg4MDigsAAK0O1QQAAAAAaKioqOjmzZsxMTExMTGJiYlCodDCwqJPnz69e/fu3bu3k5OTpaUlg8GgO2ZDNTU1KSkpiYmJSUlJSUlJCQkJfD6fw+F4enp6enoOHDjQ09NTWVmZ7pgAAB0BqgkAAAAAQAghYrE4ISHh+vXrERER9+7dYzAYNjY2AwYM8PLyGjx4cLdu3egO+D4yMzPv3LkTExNz586dtLQ0dXV1T09PHx+fcePG9erVi+50AAAKDNUEAAAAgE5NJBLduHHjxIkT58+ff/PmjYWFhZ+fn5+f37BhwzQ1NelO15pevXp15cqVy5cvR0VFVVZW2tnZTZ48ecqUKT179qQ7GgCA4kE1AQAAAKCTiouLCw8PP336dEFBQb9+/SZPnjxq1ChbW1u6c7W5urq627dvX7hw4cyZM9R7nzp16meffdae4z4AACg6VBMAAAAAOpfa2tqLFy/u2bMnJibG1tZ20qRJU6dOtbGxoTsXDcRi8d27d8+cOXPixAk+nz9u3LjAwEAfHx+6cwEAKABUEwAAAAA6i5KSkh9//DEsLKyiomLixIkLFy708vKiO5RcqKmpOXXqVEhISFxcnLOz8/Lly6dOnYonQQAANAPVBAAAAICOr6ysbOfOnXv27FFTU1uyZElAQIChoSHdoeRRbGzs3r17T5482bNnz+Dg4E8++URJSYnuUAAA8gjVBAAAAICOTCgU7t27d/PmzUwmc+XKlYsWLdLQ0KA7lLx79uzZN998c/LkSQcHh59//nngwIF0JwIAkDsotQIAAAB0WHFxca6url999dWSJUtevny5evVqlBJawsbG5tixY0lJSaampoMHD54zZ05ZWRndoQAA5AuqCQAAAAAdkFAoXL16tYeHh7a2dmJi4qZNm7S0tOgOpWDs7e0vXbp04sSJyMhIW1vbK1eu0J0IAECOoJoAAAAA0NGUlJT4+fn99NNPoaGhUVFRPXv2pDuRAps8efKTJ0+GDx8+evTo7777DrcJAwBQMG4CAAAAQIfy5MmTESNGMBiMP//8s0+fPnTH6Th++umn5cuXjx079vjx48rKynTHAQCgGaoJAAAAAB1HRkbGoEGDunfvfuHCBV1dXbrjdDS3bt0aM2aMj4/PqVOnWCwW3XEAAOiEOx0AAAAAOoicnJxhw4aZmZldunTpQ0oJx44dYzAYn3322fbt269du9aKCWWlpKRs37594cKFDAZj6dKlbdRK6xo0aNClS5f+/vvvWbNm4ZocAHRyKKkCAAAAdAQSieTzzz/X0NC4fPkyh8P58B3+9NNPbdG7IT8/39jYmBDi4ODg4OBACImMjGz1Vppp9wN5eXmdP39+xIgRAwcODAwM/PAdAgAoKPRNAAAAAOgIQkJCbt26dfjw4S5durTKDtuiJz+Px/vss88aLFRXV2/1hlrS7nvz8fFZuXLlsmXLMjIyWmufAAAKB9UEAAAAAIVXUVHx1VdfrVmzpl+/fnRneSuBQDBp0qSsrKwO0O7GjRu7d+++fv36VtwnAIBiwZ0OAAAAAArv+PHj9fX1y5Yta4ud5+bmHj16NDw8/NatW1OnTn369OmjR490dXXPnj37zz//qKiopKamuri4bNiwQUVFhXpJk6vOnTv39OnTsrKyOXPm2NjYrFixQj7bbQkVFZVVq1YFBAQUFRUZGBh8+A4BABQOnukAAAAAoPBcXV3t7e0PHTrUKns7duzY9OnTeTwel8slhFy5cmXp0qUvXrxYv369qanpL7/8cu7cuVOnTv3xxx83btxgs9mlpaUeHh7GxsY3b95kMBi7du1626oxY8akpKS8fPlStjlbW1s/P79du3Y1iNHW7X6gmpoaU1PTdevWLV++vBV3CwCgKHCnAwAAAIBiq6ioePjw4bhx49po/35+fl5eXiKRaMaMGXPmzHnw4AGLxdqwYcO8efPYbDYhRFdXd926dbdu3QoPDy8qKnrbKkVpt4VUVVV9fX1v3rzZRvsHAJBzqCYAAAAAKLZXr16JxWIbG5u2a4LNZrNYLCsrK2r2/v37AoGga9eu0g1Gjx5NCLl582YzqxSo3Rbq1atXZmZm2+0fAECeoZoAAAAAoNiqq6sJIaqqqu3W4qtXrwghb968kS7R09NTV1fPy8trZpXitvs26urqVVVVbbd/AAB5hmoCAAAAgGLT0dEh/3si3da6d+9OCGl8Wd7GxqaZVYrb7tsUFxe31vM4AQAUDqoJAAAAAIqte/fu6urqCQkJ7daiu7u7lpbW+fPnpUtyc3OrqqrGjh3bzCpCiJKSUmVlpcK1+zaPHj1ycHBo9d0CACgEVBMAAAAAFBuTyRw2bJjsiXSrq6ysFIlEPB6PmtXT09u6dWtMTExUVBS1ZO/evTNmzBg6dGgzqwghJiYmJSUlDx8+/Oeff1pyjwBd7bbEmzdvbt++PXz48FbZGwCAwmEGBwfTnQEAAAAAPgibzd62bduUKVN0dXU/fG/Jycl//vnnmjVrqLEYfvnll4MHDwoEgoKCAgsLCyMjI0KIq6urk5PTnj17YmNjHzx40KVLl++//57BYDS/ytzcPDIy8uLFi+7u7k5OTlRzISEh1tbWfn5+DWK0dbsfaOfOnXFxcaGhoSoqKq2yQwAAxcKQSCR0ZwAAAACADyISifr06WNgYHDt2jXq/PlDHDt2bPr06Twej8vltkq85tna2vr5+e3atasd2motL1++7N2798qVK7/++mu6swAA0AN3OgAAAAAoPCaTefjw4Vu3bu3fv7+19kk9KqId1NfXt09DrUUsFs+aNcvKymrNmjV0ZwEAoA2L7gAAAAAA0Ar69OmzZs2aFStW2NraDhky5MN3OH/+/AEDBjg7Ow8bNuzD99ZYamrqlStXiouLGz+IQc4tW7bs3r17Dx48UFZWpjsLAABtcKcDAAAAQAchFotnzJhx/vz5K1euDBw4kO44HdNXX321ffv28PDwKVOm0J0FAIBOuNMBAAAAoINQUlL6/ffffX19x4wZExkZSXecjkYoFH755Zfbtm377bffUEoAAEA1AQAAAKDjYLPZJ0+enDhx4rhx4zZt2iQWi+lO1EEUFhb6+Pj88ssvx44d8/f3pzsOAAD9cKcDAAAAQAd04MCBoKCgwYMHHzhwwNLSku44iu38+fMLFy5UV1f/888/HR0d6Y4DACAX0DcBAAAAoAOaN2/erVu38vLyHB0dt2/frnDPTZATOTk548ePnzBhgo+PT1xcHEoJAABSqCYAAAAAdExubm4JCQnr1q0LDg52dnb+448/0Cm15Xg83saNG+3s7FJSUq5du3b48GFtbW26QwEAyBFUEwAAAAA6LDab/dVXXyUnJzs4OEyaNKlv374XL15ETaF5FRUVW7ZssbS0/Omnn1avXp2UlNRGz8gEAFBoGDcBAAAAoFNITU3dtGnT2bNne/ToMXv27Llz5+JiewMZGRlhYWFhYWF1dXULFy5cs2YNDhEAwNugmgAAAADQiSQmJv7000/Hjx9ns9mff/55QEBA79696Q5Fs7q6uitXruzfv//q1avm5ubz5s2bM2dOly5d6M4FACDXUE0AAAAA6HTevHlz6NCh/fv3Z2Rk2NnZTZkyZerUqdbW1nTnalcikejmzZsnT578888/eTzesGHDFi5cOHr0aCaTSXc0AAAFgGoCAAAAQCclkUju3bt38uTJ06dPFxYWuri4jBw5csSIEa6urh34jLq8vPz69euXL1+OjIwsKChwcXGZMmXK5MmTu3btSnc0AABFgmoCAAAAQGcnEomio6P//PPPy5cvv3r1SldX19fX19fX18vLq0ePHnSnawV1dXUPHz68devWlStXYmJixGJx//79R48e/emnn/bs2ZPudAAACgnVBAAAAAD4/548eXLp0qUrV67cuXOnpqbG0NDQ2dnZ19fXw8Ojd+/eGhoadAdsqby8vIcPH0ZHR9+7dy8xMbGmpsbIyGj48OEjR44cPny4rq4u3QEBABQbqgkAAAAA0IS6urrTp09v2LChuLhYQ0OjqKhISUnJ2traycnJ2dnZycnJ1tbW3NycxWLRnZQQQiorK9PT01NSUhITEx8/fpyYmFhcXMxgMHR0dKqqqgICAoKCgjrbwBAAAG0K1QQAAAAAaKiqqur777/funWrg4NDaGhov379MjMzHz9+nJSUlJiYmJiY+PLlS0IIm822sLCwsrKytra2srIyMzMzMjIyNjY2MTFRU1Nri2Bv3rzJ/9erV6/S09PT09MzMjIKCgoIIcrKynZ2dk7/6tOnD5PJXLlyZVhY2CeffLJv3z49Pb22SAUA0AmhmgAAAAAA/yMyMnLx4sU8Hi84OHjRokVNjsjI5/OfP3+ekZFBncxT/xYWForFYmoDLpdrYmKira3N5XI5HA41weVyWSyWhoaGsrIyIYTFYmlpaRFCxGIxn8+nXlhZWVlfX19VVVVeXs7n86l/y8rKSkpKCgsLa2pqqM1UVVW7du1qZWUlrWVYW1tbW1uz2ezGaf/++++AgID6+voDBw58/PHHbXHQAAA6G1QTAAAAAOD/5OXlrVmz5ujRo6NHj96/f7+Zmdk7vVwoFBYVFeXl5Um7D/B4PKocQFUEysvLRSIR9S8hpLa2tqqqinqttrY2g8EghKipqamqqqqpqXE4HO6/tLW1dXV1jWV06dLlnbLx+fxVq1YdPHjw008/PXDgwLu+HAAAGkA1AQAAAACIUCgMCQnZsGGDgYFBSEjIRx99RHeiNnHhwoW5c+ey2exff/3V19eX7jgAAApMie4AAAAAAECzR48eeXp6rly5csGCBSkpKR21lEAIGTduXEpKiqenp5+f3+LFi6urq+lOBACgqFBNAAAAAOi8+Hx+UFCQq6urmpra48ePt23bpqqqSneotqWnp3fq1KlTp04dP368b9++Dx8+pDsRAIBCQjUBAAAAoJOKiIhwcHAIDw/ft2/fzZs37ezs6E7Ufj799NPHjx8bGxu7u7sHBwdT4zgAAEDLoZoAAAAA0OlkZmaOGDFi3LhxQ4YMefbsWWBgIDUCYqfStWvXqKiokJCQHTt2DBgw4MWLF3QnAgBQJKgmAAAAAHQi9fX1e/bs6d27d25u7p07d44cOaKnp0d3KNowGIzAwMDY2Nja2loXF5eDBw/SnQgAQGGgmgAAAADQWdy6dcvZ2Xnt2rUrVqyIj4/39PSkO5FcsLe3v3fv3ty5c+fPnz9hwoTS0lK6EwEAKABUEwAAAAA6vjdv3sydO9fb29vS0jItLS04OFhZWZnuUHJERUVlx44dUVFR8fHxzs7O//zzD92JAADkHaoJAAAAAB2ZRCI5cuSIjY1NZGTk77//HhERYWFhQXcoOeXt7Z2cnDxgwIAhQ4YEBQXV19fTnQgAQH4xJBIJ3RkAAAAAoE08f/58/vz5N2/eDAgI2LFjB4fDoTuRYjhy5MiCBQvs7e2PHz9uZWVFdxwAAHmEvgkAAAAAHVB1dXVwcLCjo2NZWdn9+/dDQ0NRSmg5f3//uLi42travn37Hj9+nO44AADyCNUEAAAAgI7mr7/+srOz27179/fffx8XF9e/f3+6EykeW1vb+/fvz5w5c/r06f7+/pWVlXQnAgCQL6gmAAAAAHQc+fn5/v7+o0ePdnBwSElJCQoKYjKZdIdSVKqqqnv27Dl37tylS5f69++flJREdyIAADmCagIAAABARyAWiw8ePNirV6+YmJjLly9HRESYmZnRHaojGDduXGJioqGhobu7+6+//kp3HAAAeYFqAgAAAIDCS0hI8PDwWLRo0cyZM5OSkvz8/OhO1KGYmppGRUWtWrUqMDBwxowZuOsBAICgmgAAAACg0Ph8flBQUP/+/VVUVB4/frxnzx4NDQ26Q3VATCYzODj46tWr165d69evX3JyMt2JAABohmoCAAAAgKKKiIhwdHQMDw/ft2/fP//8Y2dnR3eiDm7YsGHx8fF6enpubm5hYWF0xwEAoBOqCQAAAACKJzMzc+TIkePGjfP29n769GlgYCCDwaA7VKdgZmZ28+bNVatWzZs3z9/fXyAQ0J0IAIAeDIlEQncGAAAAAGip+vr6ffv2rV+/3sTEZN++fcOGDaM7UScVERExc+ZMU1PTM2fO2NjY0B0HAKC9oW8CAAAAgMK4fft2nz591q5du3z58uTkZJQSaDRmzJhHjx6pq6u7urqeP3+e7jgAAO0N1QQAAAAABVBWVhYUFOTt7d2tW7fU1NTg4GBlZWW6Q3V23bp1u3Pnzvz58ydMmLBmzRqRSER3IgCA9oM7HQAAAADkmkQiOXr06IoVK1gs1rZt2/z9/elOBA2Fh4cHBga6ubmdOnXKwMCA7jgAAO0BfRMAAAAA5NeLFy98fX1nzZo1fvz4p0+fopQgn6ZPnx4TE5OVldWvX7+4uDi64wAAtAdUEwAAAADkUXV1dXBwsKOjY2lp6b1790JDQzkcDt2h4K369OkTHx9vY2MzaNCgQ4cO0R0HAKDNoZoAAAAAIHdu3LjRp0+fH374YdOmTXFxca6urnQngv+mq6t75cqVoKCgL774Yu7cuXV1dXQnAgBoQ6gmAAAAAMiRgoICf3//oUOH9ujR48mTJ6tXr2YymXSHgpZiMpnbtm07ceLEsWPHfHx8iouL6U4EANBWUE0AAAAAkAtisfjgwYM2NjYxMTGXLl2KiIjo2rUr3aHgfUyePPn+/fu5ubmurq4pKSl0xwEAaBOoJgAAAADQ7/Hjx56enosWLZo5c2ZiYuKIESPoTgQfxMHBIS4urnv37h4eHhcuXKA7DgBA60M1AQAAAIBOAoFgzZo1/fr1Y7PZCQkJe/bs0dTUpDsUtIIuXbpcvXrV399//PjxwcHBdMcBAGhlLLoDAAAAAHReERERixYtqqio+PHHHxcvXqykhCs9HQqLxQoJCXFyclq4cGF2dvb+/fuVlZXpDgUA0DrwPxYAAAAADXJyciZOnDhu3LjBgwc/e/YsKCgIpYSOKjAwMCIi4o8//hg6dGhRURHdcQAAWgf+0wIAAABoV0KhcM+ePba2tsnJyVevXj1y5Ii+vj7doaBt+fn53blzJy8vz8PDIzU1le44AACtANUEAAAAgPZz586dPn36rF27dvny5cnJyT4+PnQngnbi4ODw4MEDExMTLy+va9eu0R0HAOBDoZoAAAAA0B7KysqCgoIGDx6sr6+fkJAQHBysoqJCdyhoV/r6+tevXx87duyoUaOOHDlCdxwAgA+CURgBAAAA2tyZM2cWLVqkpKR06NAhf39/uuMAbVRUVA4fPmxpaTlz5szMzEw86wEAFBeqCQAAAAAfqry8XF1dncVq4i+rFy9eLFiwIDo6OiAgYMeOHRwOp/3jgVxhMBjBwcFdu3adN29ednZ2aGhok98cAAA5hzsdAAAAAD5IQUGBjY3NF1980WB5TU1NcHCwo6NjSUnJ3bt3Q0NDUUoAqS+++OLs2bMnT56cOHFiVVUV3XEAAN4ZQyKR0J0BAAAAQFHV1dUNGjQoPj5eLBZHR0d7e3tTy2/evDl//vzs7OwNGzasWLGCyWTSGhPk1IMHD8aMGdO9e/fIyEg82gMAFAv6JgAAAAC8v0WLFj18+FAkEikpKc2ePbu2tragoMDf33/IkCHW1tZpaWmrV69GKQHexs3N7d69e2/evPHw8Hjx4gXdcQAA3gH6JgAAAAC8p3379i1cuFA6y2Qyp0yZEhkZqaOj8/PPP48aNYrGbKBA8vPzR40alZ+ff+nSpT59+tAdBwCgRVBNAAAAAHgfd+/eHTx4sFAolF3IYrFmz569a9cudXV1uoKBIqqoqBg/fvzDhw8vX77s7u5OdxwAgP+GOx0AAAAA3ll2dvaYMWMaX5VhMBjp6ekoJcC70tLS+uuvv7y9vX18fK5fv053HACA/4ZqAgAAAMC7qampGTt2bEVFhUgkarCqvr7+xo0bp06doiUYKDQVFZUzZ86MHz9+9OjRFy9epDsOAMB/wJ0OAAAAAO9m2rRpp0+fbnCPgxSDwdDV1U1PT+dyue0cDDoAkUgUGBgYHh5+/PjxiRMn0h0HAOCt0DcBAAAA4B38+OOPJ06ceFspgcViMZnMkpKSS5cutXMw6BiYTOYvv/wyf/78yZMnHz58mO44AABvxaI7AAAAAIDCuHbt2qpVqxp07WSz2fX19YQQMzOzwYMHe3h4eHh4ODs705QRFB6Dwdi9ezeHw5k9e3Z9fX1AQADdiQAAmoBqAgAAALSy+vr6yspK6WxZWZl0urKykjrxlqqrqxMIBC3ZbePXNkNbW5vBYPznZmw2W1NTs5nXampqstlsajo3N/eTTz4Ri8VMJpMQIhKJVFVVXVxcBg0a5OHh4ebmZmBg0MJ4AP/pm2++UVJSCgwMrK6uXrx4Md1xAAAawrgJAAAAHVZtbW1VVZVAIKirqysvLxcKhTwejxDC5/PFYrH0NL68vFwkEklLANRJu0gkKi8vJ4RQLxeLxXw+nxBSXV1dU1ND7Z96ITUtu7wzYDAYWlpaVFmBEMLhcKhpJSUlargEdXV1FRUVBoOhra1NCFFVVVVTUyP/lipUVFSo5z5wuVwlJSVpUUNLS4vFYlGv5XA4LBZLW1u7yZIHdBI7duxYvXr17t27lyxZQncWAID/gb4JAAAAcoc6zy8rKxMIBAKBoLKyksfjUdMVFRVVVVW1tbXUmXxZWZlQKKyoqKipqamurqYKATweTygUUrWAZrBYLC0tLfLv5fe3nQbr6empqqqSRqfBhBANDQ1lZWVqWllZWUNDg5qWvpYiPdMmhKipqVF7kyW7QTOYTCaHw/nPzci7lDZkCyIUaRmFQlVeqOk3b95UVlZSB022/4VEIqHKNIQQ6uMgjYoypaWldXV10i2lCamOG9TH13xU6tBR5QZtbW0Wi8XhcKiPg/oguFwui8XicrmqqqoaGhpcLldLS0tDQ0NdXV1HR0dDQ0NDQwNVCYWzcuVKNpv95ZdfMpnMhQsX0h0HAOD/QzUBAACgDZWVlfH5fJ4MPp9fWVlZUVHB5/OpAkF5eXl5eTk1Ta1tsj+/9BSRusotPYFUVla2tLSkTuabvKYtexaqo6ND/r0A3u4Ho/2oqalRHQH+E3VA5AdVvGhQFZLtY8Ln80UiEY/Ho8oZVFWioKBAKBRKS0tVVVVVVVVvKydpa2tTlQUtLS0ul0tNczgcqvSgqampra2tra2to6Ojra3N5XKpWentHtD+vvzyS5FItHjxYiUlpfnz59MdBwDg/3TkvyQAAABaXW1tbWlpaUlJSWlpqbQ60KBYIDvb4OUaGhra2tqampqamprSEzlLS0sOh0NdYabWUstlz/paePUeFB3VPaS1ahwNqlTUNNXnpaqqSlrSqqqqyszMrKiokHaEedtXV1pcoEhnqdKDtra2vr6+rq4u1X0DWtHy5csFAsHChQuVlJTmzp1LdxwAAEJQTQAAAKDU1NS8efOm7H/l5+fn5eXJLikoKJAdckhVVVVHR0dHR4e6/q+jo9O1a9fevXvrNEVXV1dFRYXG9widDYfDaeG9IY1VV1eXNULdkUFNv379Wrq8uLi4wSMzdXR0jI2NG/wImJiYyC40NDREjazlvv76a6FQuGDBAnV19RkzZtAdBwAAozACAEDnUFlZmZeXV1RUVFBQkJ+fX1RUJJ0tLCwsLS2tqqqSbqykpKSnp6crQ09Pj7roKktHR6dj3y8A0HI8Ho8qK5T+r5KSEtmFsuNZsFgsXV1dfX19IyMjIyMjAwMDExMTAwMDIyMjY2NjAwMDPCOjsbVr1/7www+nTp2aMGEC3VkAoLNDNQEAADqIoqKinJycnJycgoKCgoKCoqKi3Nxcql5QUFAgLRYwGAzqLMXY2NjQ0NDQ0NDIyKhB7UBXV5fe9wLQUQkEggYlhpKSkry8vMLCwsLCwry8vOLi4traWmpjFoslLS7o6+ubmJhQP7NmZmZdu3Y1NjbunKM5LFu2LCQk5Pz58yNGjKA7CwB0aqgmAACAIqmurs7Pz8/MzMzLy6MmqOns7GxqIH3y790HVJ9qac9q6WzXrl075xkIgKKgfsypm4yoCdnZ169fS++q0NHRsbS0pH60ZSfMzc07cL8hiUQyZ86cEydOXLlyZeDAgXTHAYDOC9UEAACQR8XFxRn/yszMpDodvH79WvoUvS5dupiamnbr1s3MzMzU1NTc3NzMzIy6YtnCwfwBQBGJRKKCgoJXr17l5uZSvxakvx8KCwup532yWHVC8O8AACAASURBVCwjIyPq90O3bt2s/tW1a9eOMVKDSCSaOnXq1atXo6Oj+/btS3ccAOikUE0AAAA6iUSi7OzsDBmZmZkZGRnUw+2UlZUtLCyocwCqdmBqampmZmZubq6urk53dgCQL0KhkOq8kJ2dnZubm52dnZ2dnZWVlZGRwefzCSHKysqyxQWKpaWlIpYga2trR48enZSUdOvWLRsbG7rjAEBnhGoCAAC0H4FA8OTJk9TU1LS0tJSUlBcvXrx69aquro4QwuFwGvx935EuJAIAvUpKSjIayc/Pp9aamppaW1v36tXLwcHBzs7O3t7e0NCQ3sAtIRAIhg8fnp+ff/fuXWNjY7rjAECng2oCAAC0lerqaqp2QElLS3v58qVEIlFRUbG1tbWzs7OxsZGWD/T19enOCwCdS1VVlbSykJ6eTlU537x5QwjR1dWlKgsODg62traOjo56enp0521CaWnpgAED2Gz2rVu3tLW16Y4DAJ0LqgkAANBqKisrHz58GBsb++DBg8ePH798+VIsFisrK/fq1Uv2j3JLS0v0OAAA+VRQUJAqIy0traysjBCir6/fu3fv/v37u7m5ubq6mpiY0J30/+Tk5Hh4ePTo0ePy5csqKip0xwGATgTVBAAAeH9CoTA1NZUqH8TGxqalpYlEIiMjI1dXVxcXF3t7e3t7e2tr6w48uDoAdHh5eXlUZSExMTE2Nvbp06disdjMzMzV1dXV1dXNzc3FxUVLS4vGhMnJyYMGDfLz8zt+/DiDwaAxCQB0KqgmAADAu6murr579250dPTt27cfPXokEAg0NTVdXFykl+zMzc3pzggA0FbKy8vj4+OpEmpsbGxeXh6TybS1tfXw8BgyZMjQoUNpGXPhxo0bI0aMWLp06datW9u/dQDonFBNAACAFklOTo6MjLx69eq9e/dqa2t79OgxePBgd3d3V1dXOzs73LkAjVVUVNB1wZbGpltLZWWlpqZm+7f73ocuKSkpISFBQ0PDw8PD1NS01YPJrZycHKqscOfOnQcPHgiFQnt7ex8fn1GjRg0ePFhZWbndkpw4cWLatGm7du0KCgpqt0YBoDNTojsAAADIL4lEcvv27SVLlnTv3r1379579+7t1q3bwYMHs7Oznz9/HhYW9sUXXzg6OspJKeHYsWMMBuOzzz7bvn37tWvX2qiVlJSU7du3L1y4kMFgLF26tI1aUXQhISEDBw50d3dv/6ZDQ0MHDx5sa2vbDm1dvXo1IiLijz/+cHNzYzAYKioqw4cPHzFihJ+f34ABA/T09BgMxosXL951t8eOHfPx8enRo0fjVRERERMnTmQwGAwGIyUlpcmXOzk5MRiMLl26bN++vaqqquXtvvehq66unjlz5rNnz0aOHHnmzBkrK6v3eNctkZCQsHv3bnm7EmZmZjZhwoRt27bduXOnrKzs0qVLI0aMuHnzpq+vr76+/qRJk06cOPFOH8R7mzp16nfffbds2bKzZ8+2Q3MAAEQCAADQyIsXL9atW9etWzdCiKOj41dfffXgwQORSER3ruaEh4cTQkpKStpi53l5eQ2WmJubf/nll23RVjONypVm4tXX1zs6Ovbq1as981CEQuGAAQOMjIzauqH9+/fv27ePmj5//jwhxMvLS3aD2trawYMHp6WlveuehUKht7e3np5ek2srKyupP+HmzJnTeO2dO3eo6t7nn3/+Hu2+36Fbu3bt/Pnzqemampr169e/efPmXXfSQtHR0StXrmyjnbeurKysn3/+2dfXl81ma2pqzpgx4/r162KxuK3bDQoKUlVVvX37dls3BACAvgkAAPA/7ty5M2HCBBsbmyNHjkyePDkpKSkpKWnLli2urq5KSgrwv0ZbjPjI4/E+++yzBgvV1dVbvaH/bFR+NB+PxWLR1dedyWSamZm1dSt//fVXVFTU/PnzqdmePXsSQthstuw2ysrKc+fOfY8h8Zp/CxoaGhYWFhoaGuHh4aWlpQ3W7tu37+OPPyaEWFtbt267zfj111+lzamoqGzevFlHR+c99tMSQ4YM0dLSCgkJaaP9t6Ju3botXLjw77//zs3N3bp16/Pnz318fJycnA4dOlRXV9d27e7cuXPUqFGjR49OTk5uu1YAAAjudAAAAKnnz59PmjRp4MCBr1+/PnTo0MuXL7dv3+7o6Eh3LpoJBIJJkyZlZWV1+EZbTs7jtbWKioovvvhi06ZN0iVvK7RNnTq1V69erR5AW1vb39+/uro6LCxMdnlRUdGzZ8+8vb0JIe02sH9ZWVlRURGHw6Fm6+vr8/LyiouL267FZcuWffPNN5mZmW3XROvS19dftGjR/fv3Hz9+7OHhsWDBgh49ehw5cqSNmlNSUgoPD3d0dBw5cmR2dnYbtQIAQFBNAAAAyt69ex0cHJ4/fx4VFRUfH+/v76/oj3XMzc3dtm2bg4PDmzdvPvroo27dulEXcs+ePbt48eIVK1aMGDFi/fr1tbW10pc0uercuXNPnz4tKSmZM2fODz/88J/tpqamrlu3zsbGJicnJzg42Nzc3N7e/saNGzU1NUuXLrWysjI3N//777+l20skkgMHDsyfP9/Nzc3X15e64bxxo4WFhXPmzNm8efOcOXPGjx/f+KK01KVLlxYsWBAUFOTh4SF7ttnkuzt16pSWllbXrl0JIXw+f/PmzUwm08PDgxDy+PHjlStXWlpaCgSCgIAAPT09V1dX6hSu5cckKirK19e3S5cuH330kezpXyuGoVy4cCEwMHD16tVLlizJz8+XLm/yuDX+bvz2229aWloMBmP37t3UdeN79+4ZGxt/9913jd9UWFiYioqKnZ1dM2+cEHLw4MG8vLxmYjT/eRFCCgoKPv744y5duvTt2zctLU121ZIlSxgMRkhIiFAolC785ZdfAgMDm6wjNPO1f9uha/Kb2UBUVNQXX3xBCPntt99mzZr1ySef9OnTx9TUdP/+/YSQxMREb29vBoMxbNiwgoKCXbt2qaqqbt26tb6+vpnPOi0t7auvvrKzs8vNzR03blyXLl1cXV3v378vbVRDQ6Nfv37ffvtt88dfDjk5OYWGhj5//nzgwIEzZ86cMGFCRUVFWzSkqqp64cIFLS2tsWPHSm+NAQBofXTfagEAAPQLCgpiMpnbtm2T85ERmkeNm8Dj8ajZy5cv9+rVi8lkbty48eDBg66urrm5uTt37vTy8qqrq5NIJCUlJT169Bg0aBB1J3Mzq0aPHm1hYdGguV69ejU5bkJRUdGMGTMIIYGBgQ8fPiwvL3dzc7O0tFy0aFFaWlpFRYWnp6elpaV0+61bt/7+++8SiUQoFNrZ2RkZGQkEgsaNent7T548mZp2cnKaPn16kwfhyJEjU6dOpT5H6nQrKiqq+Xfn6+trZmYm3YOjo6O7u7tEIsnPz/fx8SGELFy4MDU1NSEhQUVFZcqUKdRmTR4TWX5+frq6urNnz75y5cq+ffvU1dVNTEwqKyvbIsyxY8fc3d2rq6upHerr60tv/m/yuDX53VizZg0hJC4ujtq4trbWzc2tybfm4eHx6aefyi55+vQpIcTb25uaFYvF2dnZbm5uOTk5zcRo5vOaPn26hobGkiVLnjx5kpSUpKGhMWrUKGlzzs7OEonko48+IoScOnWKWigUCnv37l1ZWfnzzz8TQrZs2SLdvpkD3syhe9s3swHqvR84cICaffXqFSHku+++o2ZLS0uNjY0dHR0lEsnq1avDw8OlL3zbZ33r1i3qMTFffvnljRs3/vjjD11dXXV1ddlxOjZv3szlcoVCYZMfkEK4efOmkZGRvb19WVlZGzWRlZVlaGg4btw4hf7FDgDyDNUEAIDO7tSpUwwG4+zZs3QH+VANqgkSiYS6apqenk7NFhYWamhoHD16VLrBoUOHCCFHjhxpZpXkHasJEomEuqk7KSmJmt24cSMhJCEhgZrdsGEDIaSoqEgikeTm5hoaGkr/1v/6668JISdPnmzcqLe3t/QMbdq0ab17927cblFREZfLzczMlM5OmDAhLS2t+Xf38ccfy57Uubu7Uyd1Eolk7dq1RGZgywEDBvTo0YOabkk1wcTERDq7fv16QsiePXtaPYxAIDA2Nj5+/Lj0VRMmTJCtJjR53Bp8NyQSSXZ2NovFCggIoGYjIyM3b97c+H2JRCI2mz1v3jzZhdQZNYfDoQK7urpSAxDIVhMax3jb5yWRSKZPn87lcqnzf4lEMmTIEGNjY2lzVDXh0qVLhBBPT09q4YULF5YtWyaRSBpUE5o54M0cuma+mQ00qCYUFBQQQrZt2ybd4Pjx44SQ4ODgCRMmyL6wmc961qxZLBZL+vZPnTpFCPn666+lGx88eFD2R0xBZWdnm5mZNahMta6YmBgVFZU1a9a0XRMA0Jkpdi9WAAD4cAcPHpw2bdrEiRPpDtL62Gw2i8WysrKiZu/fvy8QCKjO1ZTRo0cTQm7evMnlct+2iupo8E6oQfWl99JTJ5bSIfrMzc0JIdR14Lt379bX18+dO1f62oCAADU1tcb7vHHjBiGkurr62LFjsbGxkqYeknfnzh2xWNy9e3dqVl9f/48//iCEXLx48f3eHfVGpPe8mJmZpaent+QIUKT30hNCZs2atWXLlocPH1pYWLRumNu3b+fn58sO8KGsrCydfttxa/DdoHb46aefhoeHb926VU9P7/Tp01QZqIGysrL6+vomRxns27cv1Rxl8uTJzcd42+clTSj9zlhaWt67d69Bc35+fj179rx79258fHy/fv32799P1REaaOZrb2Bg8LZD1/Jv5n+aOnVqWFhYcHBwUlJSC1/CZDJZLJb07Y8fP15ZWVl2TEFtbW1CSGFhoUIP7GJmZnbgwIHRo0dnZWVZWFi0RROenp5hYWH+/v5WVlYBAQFt0QQAdGYYNwEAoLPLzMx0cHCgO0V7oPpgv3nzRrpET0+P6kHdzKoPb7fBfezUrFgsJoQ8efJEQ0Mj7H+NHTu28U5EItHWrVs///zznj17urm5NdlQSkpKfX1940JDm747Qsjff//NkHHhwoXG21hYWCgrK1dXV7d6GOraeIPnKUi15LhJLV26tKam5uDBg3V1dSUlJZaWlo23oYoa1MfXvEWLFkkf/NFkjLd9Xo01ORQCg8FYsmQJIWTPnj3p6ekNiiNSzRzwZg5dy7+ZLTFz5kxCyK+//vp+L2ez2SYmJrIjRFClupZ8CnLOycmJEJKbm9t2TcyYMWP16tULFy78559/2q4VAOicUE0AAOjsPDw8zpw5U19fT3eQNkddBG48FLyNjU0zq9o0krq6ek5OTk5OjuzCxuPhi8XikSNHJicnnz59etCgQW/bG4fDqampaTBcX21tbVu/O09Pz8cyhgwZ0ngbJSUlFovl4ODQ6mGoy+nUOXMDLTxuUv379/fy8goJCYmMjBwzZkyT23C5XFVVVR6P9597GzhwoI6OTlFRUW1tbZMx3vZ5/eeepT7//HMul3v69Omvv/560aJFTW7TzAFv5tC18JvZEgKB4Pjx49OmTfv5558TExPfYw+EkLq6OtlvCFUcMTIyer+9yY/ffvtNXV29rXtYfPfddyNGjPjkk08yMjLatCEA6GxQTQAA6Ow2bdr04sWLWbNm1dTU0J2lbbm7u2tpaZ0/f166JDc3t6qqauzYsc2sIoQoKSm10bjo0tHppEsyMjL27dvXoNHY2NirV68OGzaMmm1wQVt6hbZfv36EkA0bNkiXPHz48MSJE82/OxaLVVlZKRKJqFWVlZUtueQrG09LS8tJhuwNDlJZWVn19fWTJk1q9TC9e/cmhJw5c0b2gFB7aP64NWnFihV5eXnLly//9NNPm9yAwWB4eno26EnRzG5nzZoVHx/fZIy3fV7NJ5RIJNIHAWhqan7xxRd1dXXx8fG+vr6yYaSRmjngzRy6Zr6Z72rDhg3Lly/fuXOnlpbWggULpMFa/lkXFRUVFBTI3o1VUlLC4XDs7e3fI4/8OHr06DfffLNjx44mf2RaEfXMSFNT07Fjx/L5/DZtCwA6FVQTAAA6O2tr67Nnz/7111+DBg167yuH8ok6V5FeRtbT09u6dWtMTExUVBS1ZO/evTNmzBg6dGgzqwghJiYmJSUlDx8+/Oeff6qqqv6z3fLyckKItGM29ee79LoudSpIXYIePnx4//79jx8/PnHixPDw8H379s2dO3fhwoUNGq2uriaEHD58ODk5+ffff6cGVkxKSiosLNy5c6eent6TJ08IIV5eXiNGjDh37pyPj09ISMiqVas2bdo0ffr05t+do6Mjj8fbunXr8+fPt2zZUltb+/z580ePHkmTS99IYWEhNfh/S44Jk8ksKysTCASEEIlEsnnz5o0bN/bq1avVw3h5eQ0ePPjQoUMHDhyoqqqKi4u7c+dOcXHx8ePHmzluDb4bUmPGjOnatauTk5Ouru7bPt+pU6fGxMTIVhCoS76yXfEJIVVVVYsXL6YGaGgyhrW1dZOfF/Vt4fF41LMqqTdbW1tLHefs7Oy8vDxp7W/RokVKSkqLFi2S3g1BXbeXjnDRzAFv5tB5eXm97ZvZQElJCSFEeiSph19SCwkhDx48yM7OHj58uIGBwebNm+/evRsaGkqtauazJoTU1tZKB0r49ttvp0+f7u7uLm307t27EydOpO46UURlZWXz58///PPPV6xYsWDBgnZoUVNT88KFC6WlpdQzRNqhRQDoFNp51EcAAJBPz549c3NzYzKZc+bMycjIoDvO+2jwTIewsDB9fX1CyOeffy59noJEIjl37pyvr++iRYu+/vrrH374gXpOXvOrEhMTzczMevbseebMGenGb3umQ3R0NHXJd9q0aenp6f/884+zszMhZOTIkUlJSTExMX379qXWUse5tLR02rRpBgYG+vr6/v7+ubm5TTY6b948LS0td3f369ev//XXX3p6ep988kllZeXevXvNzMyePn1KvUogEMyfP9/U1NTQ0HD+/PmyT7h427vj8/ljxozR1NR0d3ePi4ubPXv2zJkz//rrr+joaKqT/IIFC4qKisLDwzU0NAghwcHBQqGwyWMiKzExccqUKX5+foGBgUFBQQ0eGtK6YXg83qxZswwNDc3NzYODgwMDA2fNmnX9+nWRSNTkcdu9e3eT3w3K3Llz3/amKHV1ddbW1nfv3qVmw8PD+/TpQwhhMpn9+vUbOXLkyJEjPTw8qEET9u7d28zH1+TndfToUWqUwaVLl/L5/MOHD1ODPi5btuzUqVPe3t6EkPHjx9++fZsKMH36dD6fL5FIKisrd+/ebWpqSgjp0qXLzp07q6qqmj/gzRy6t30zZWVkZIwfP54QYm9vf+3atZcvX06bNo0QYmVldfny5aioKDMzs2XLllHNUT+hysrKP//8czOftUQiCQgIYLPZs2bN+uSTTwICAjZt2iT7jMOqqqouXbpIv/OKpaKiYvfu3bq6ugYGBtKne7abu3fvqqiorFq1qp3bBYCOiiFpwdg/AADQGUgkkmPHjq1fvz4nJ2fcuHGLFy8eNGiQ9MEE8u/YsWPTp0/n8XhcLrcdmrO1tfXz89u1a1c7tAXtydXV9datW6qqqs1sEx8fv3nz5ibHm4QPN2fOnPDwcKprSWPr16/X1tZesWJFO6f6QBkZGQcPHqTG+FywYMH69evb5zdVA6dPn54yZUpoaOicOXPav3UA6GAU5m9EAABoawwGY/r06enp6cePH8/LyxsyZEj37t3Xrl0r+2A2+fe2M5BW1xnGreyEoqOjhw4d2nwpgRDSr1+/zz77bOfOne2TCqQuXbokEokUqJRQXFy8b98+Ly+vHj16hIeHr1y58vXr1zt27KCllEAImTRpEvWIh5s3b9ISAAA6EhbdAQAAQL6wWKxJkyZNmjQpNTU1PDz8+PHj27Zts7S0HDNmzJgxYwYOHCh9Ir18mj9//oABA5ydnaWD3rWu1NTUK1euFBcXNx4kHxTX7du3582b5+DgkJycfOvWrZa8ZPLkyVevXr148eJ7PzcR3ubNmzd1dXWVlZWampqyyxMTE8vLy7du3UpXsJZLTU2NiIiIiIi4f/++mpra+PHjN2zY4OPjQw2iQa9vv/326dOnkyZNio+PNzc3pzsOACgw3OkAAADNEYvFsbGxFy9ejIyMTE5O1tDQGDhw4LBhw4YOHers7KxA90EANCMtLY16JOShQ4da8ixJaDtr16796aefBALBrFmzZs+ePWDAALoTtVROTk5UVFRUVFR0dHRubq6BgcHo0aNHjx7t6+tLDfMhPyorK93d3dXV1f/zph4AgGagmgAAAC2VlZV19erV6Ojo6Ojo4uJiLpfbv39/Nze3/v37u7q6Ghsb0x0QAKD9CASCR48exf4rKytLVVXVw8Nj2LBhPj4+/fv3l+d664sXL1xdXceMGXPkyBG6swCAokI1AQAA3plEIklOTr59+zb1N/SzZ88kEknXrl1d/+Xi4qKlpUV3TACA1iQUCtPS0mJjYx88eBAbG5uWliYUCg0NDamKqqenp6enp5qaGt0xWyoyMnLcuHH79+8PDAykOwsAKCRUEwAA4EPx+fy4uDjpBbr8/Hwmk9mjRw8HBwc7Ozt7e3t7e/uePXuy2Wy6kwIAvIPXr18/efIkOTn5yZMnKSkpqampAoFAQ0Ojb9++VOXUzc2tW7dudMd8fxs3bty6deuNGze8vLzozgIAigfVBAAAaGXZ2dmxsbEJCQnUX+GZmZkikYjNZvfs2ZOqLNjZ2Tk4OFhbW8vDgGQAAJTc3Ny0tLSUlBTq3ydPnvD5fEKIkZER9bvL0dHR1dXV3t6eyWTSHbZ1iMXisWPHPnr06OHDh7hbDQDeFaoJAADQtmpra588eSL7N/rLly/FYrGysrJVIxYWFioqKnRHBoCOTCKR5ObmZvyv9PR0Ho9HCNHX13d0dLS1taV6Vzk4OHTp0oXuyG2orKzM1dXV0NDwxo0b6EEGAO8E1QQAAGhv1dXVVH3h+fPn1N/xmZmZxcXFhBAlJSUzM7MGJQZLS0ttbW26UwOA4qmtrc3KympQOHj58mVNTQ0hRF1dnfoNY2VlZW1t3atXL0dHRz09PbpTt7fk5GQPD4+5c+f++OOPdGcBAEWCagIAAMiFmpqavLy8zMzMzMzM1NTUtLS0zMzM169fC4VCQoiqqqqJiYmxsbGJiYmlpaWlpSU1bWVlhUIDQCdXX19fXFycn5+fmZmZl5cnO5GVlSUWiwkhOjo6lo1YWFjI82MX2tOJEyc+++yzw4cP+/v7050FABQGqgkAACC/6urqXr16lZmZmZOTk52d/fr165ycnJycnNevXwsEAmobbW1tMzMzc3NzMzMzasLAwMDU1FRfX9/AwKDD3N4M0MnxeLz8/PyioiKqTPD69evs7Ozc3NzXr18XFBRQf9Cy2WwTE5OuXbuam5ubmppSE926dbO0tORwOHS/A3m3dOnS0NDQmJiYPn360J0FABQDqgkAAKCQysrKqLKCtL6QnZ1NFR2oPsyEECUlJQMDAwMDAxMTEwMDA0NDQ2NjY9nZTtilGUA+VVVV5efnFxQUUPWCoqKigoICajY3N7e4uFj6c81kMo2MjGQLiF27djU1NTU3NzcyMkJfg/cmFAp9fHxevXoVHx+vq6tLdxwAUACoJgAAQEfD5/Opa5j5+fmFhYXSkxPpbH19PbWlsrKytKygp6enK0NfX1+6RIEeIA8gb0QiUWlpaUlJSem/iouLG8zm5eVJexsRQvT09AwNDaXlP2NjY2rWxMSE6nOEkkEbKSwsdHFx6du374ULFxgMBt1xAEDeoZoAAACdTlFRUXFxcUFBAVV0KCwspM5tZM9wqHutKerq6lRlQV9fX1dXV1pl0NbW5nK52v/icrnoTQ2dRE1NDe9ffD6fmij9XyUlJSUlJWVlZbIv5HA4ssU7aoK6NcnIyIgqH+DJAjS6e/eut7f3t99+u3LlSrqzAIC8QzUBAACgCQ2KC9RscXGx7BIej1dbWyv7KiUlJe3/1aDcQE1oampqa2traGhoaGhoaWnR9R4BKDU1NQKBgM/nV1RUCAQC2QIBn88vKytrXDho/M3ncrmytTZpsYCqwUkpKyvT9TahhXbs2LFu3bqbN296eXnRnQUA5BqqCQAAAO+vurpa9ryL10iDtVVVVY13wuVyqcoCh8PhcDjUNJfL1dLSoqapAgQ1raOjw2KxtLS0VFVV1dTUNDU1cSEXysrKhEJhRUVFbW1tVVVVZWWlQCAQCARlZWXURGVlJY/Ho6YrKir4fD41XV5eXl5eLhKJGuyQxWJpN0VaEWswgV45HYlEIpkwYUJ8fHxCQgIGlwGAZqCaAAAA0H7q6uqoK8DU6VxlZWXjUztqms/ny05XVFRQD8tsEpfLZbFYXC6XzWZramqqqampqqpqaWlR54QsFovD4aioqKirq6urq6uoqFD1CEIIVYxgMpnU2aCGhoaysjJ1nZkQQm3cbgenA5NIJDwejxBSXV1NjSZI9f+vqamprq4mhPB4PIlEQs1SG9fX11dWVlLbV1ZW1tfX83g8kUjE5/Pr6uoEAkFVVVVtbe1/fjGoOpSWllaDohW1vHEBS1NTk9qyvY4NyKOysrK+ffva2tr+9ddfGEABAN4G1QQAAADFUFtbS/VClz2ZpC4sN7g0LRAIqLKFSCSSnpdSZ6rUeSm1hxa2y2AwtLW1CSFUkYIQoqOjI10rOy3bUYIqXlDT0vIEhcvlNh5FT9pK86R1kGZQB+E/d0UdpcbLZa/VS0/+CSHUEZZuJjscAHVUZXcrFov5fD4hhPqY/jMMhSoGEUJ0dHSoEo9sDYjD4UjLQ9LOKVQBiMvlMplMbW1tag/q6uq4iQY+UGxs7MCBAzdv3rxq1Sq6swCAnEI1AQAAoPOizpypcgMhhLrQLT1tpk6SRSJReXk5+fc8WTpLCJGdJoTw+Xzp6JWyZ9GyxQvpVfoGGblLjQAAIABJREFUpOftdXV1LBbrbYP2N38pXkpbW/s/L6g2qHFIUefn1LSysrL0Kn2DegfV9YOaltZZSKOaC3XOL40kLbJQJRXp/jkcDpPJ/M/3BdCefvzxxzVr1ty4cWPAgAF0ZwEAeYRqAgAAAMiL1NRUFxeXLVu2rFixgu4sAJ2dRCKZOHFiXFwcBlAAgCahmgAAAAByQSgUenp6KikpxcTE4EI9gDzg8Xh9+/bt1atXZGTk23oMAUCnhV8KAAAAIBe2bduWlJT066+/opQAICe0tbVPnToVFRX1/fff050FAOQOqgkAAABAv7S0tG+//fbbb7+1t7enOwsA/H/9+/fftm3bhg0bbt++TXcWAJAvuNMBAAAAaCYUCj08PNhs9u3bt9ExAUDeSCSSCRMmxMXFPX78GAMoAIAU+iYAAAAAzbZs2ZKWlvb777+jlAAghxgMxm+//cZkMgMCAnAlEgCkUE0AAAAAOiUmJm7duvW7777r2bMn3VkAoGk6OjrHjh2LjIw8cOAA3VkAQF7gTgcAAACgTX19vbu7u6qq6q1bt9AxAUDObdy48fvvv3/w4EHv3r3pzgIA9EM1AQAAAGizYcOGnTt3Pn78uEePHnRnAYD/IBaLhw4dWlJSEhcXp6amRnccAKAZ7nQAAAAAeiQkJGzfvn379u0oJQAoBCUlpaNHj+bn569atYruLABAP/RNAAAAABrU1tb2799fT08vKiqKwWDQHQcAWurs2bOTJk06d+7cuHHj6M4CAHRCNQEAAABosHbt2p9++ikxMdHKyoruLADwbmbPnh0REZGYmGhiYkJ3FgCgDaoJAAAA0N4ePXrk7u6+d+/eefPm0Z0FAN6ZQCBwcXExMjKKiorC+KkAnRaqCQAAANCuamtrXVxcDA0Nr1+/jnscABTUo0ePPDw8vvnmm9WrV9OdBQDogVEYAQAAoF1t2LAhOzv70KFDKCUAKK6+fftu2bJl/fr19+/fpzsLANADfRMAAACg/dy/f3/AgAH79++fM2cO3VkA4IOIxWI/P7+srKyEhAQNDQ264wBAe0M1AQAAANpJTU2Ni4uLiYnJ1atX0TEBoAPIy8vr3bv3p59+un//frqzAEB7w50OAAAA0E7WrVuXm5v766+/opQA0DGYmJiEhYWFhoZGRkbSnQUA2hv6JgAAAEB7uHv37qBBg8LCwmbNmkV3FgBoTTNmzLh69WpSUpKhoSHdWQCg/aCaAAAAAG2uqqrK2dnZwsLi77//RscEgA6Gz+c7OTk5OzufP3+e7iwA0H5wpwMAAAC0ubVr1xYVFf32228oJQB0PFwu9+jRoxEREYcPH6Y7CwC0H/RNAAAAgLYVExMzaNCg33//fcaMGXRnAYC2snz58l9++SUxMdHCwoLuLADQHlBNAAAAgDYkEAicnZ1tbW0vXrxIdxYAaEO1tbWurq4cDufmzZtMJpPuOADQ5nCnAwAAALShVatWlZSU4OlxAB2eiorK4cOHY2Njd+7cSXcWAGgPqCYAAABAW4mOjt6/f39ISIipqSndWQCgzTk7OwcHB2/YsCExMZHuLADQ5nCnAwAAALQJgUDg5ORkb29/4cIFurMAQDsRiUTe3t7l5eVxcXHKysp0xwGANoS+CQAAANAmli1bxufzDx48SHcQAGg/TCbz8OHDmZmZ33zzDd1ZAKBtoZoAAAAArS8qKiosLCwkJMTQ0JDuLADQriwtLbdv3759+/bY2Fi6swBAG8KdDgAAANDKysvLHR0d+/bte+7cObqzAAANJBLJiBEjXr16lZCQoKqqSnccAGgT6JsAAAAArWzZsmVVVVWhoaF0BwEAejAYjNDQ0Ly8vODgYLqzAEBbQTUBAAAAWtO1a9d+++23/fv3GxgY0J0FAGjTrVu3HTt27Nix486dO3RnAYA2gTsdAAAAoNXw+XxHR8eBAwceO3aM7iwAQDOJRDJq1KjMzMyEhAQ1NTW64wBAK0PfBAAAAHhPFRUVQqFQdklQUFBNTc3u3bvpigQA8oPBYISFhRUVFW3YsEF2+b17916/fk1XKgBoLagmAAAAwHsaNGiQvb19fHw8NRsZGXn48OEDBw7o6+vTGwwA5ISpqemPP/64a9euW7duEUJ4PN7s2bO9vLzWr19PdzQA+FC40wEAAADeR0lJiYGBAYPBIISsW7du8eLFLi4uQ4YMOXLkCN3RAEC+jB8/Pikp6dtvv12yZAmPx6uvrzcxMcnNzaU7FwB8EFQTAAAA4H2cOXNm8uTJ1B8STCaTw+GwWKynT5926dKF7mgAIF+SkpJGjRqVk5OjpKQkFouphVlZWd26daM3GAB8CNzpAAAAAO8jOjqazWZT0yKRqKKiorS09Pvvv6+rq6M3GADIlTNnzgwePLigoIAQIi0lKCkpUfc+AIDiQjUBAAAA3sfly5dlCwdCoVAsFv/www9OTk6PHj2iMRgAyInc3NyPPvpo8uTJfD6/wYitTCYT1QQARYdqAgAAALyz7OzsV69eNV4uEolevHjh5uaWkpLS/qkAQK788ssvV69elUgkje+trq+vv379Oi2pAKC1oJoAAAAA7yw6OprJZDa5SiwWT5w40crKqp0jAYC8Wb9+/ddff81gMJSUmjjpyMrKysvLa/9UANBaUE0AAACAd3b9+nXqaQ6yWCwWm83etWvXyZMn1f4fe/cZF8XV9gH4LLv0soD0JmBBioodBSwJGhtJDKKJBTV2o0GNiRpjxBC7MRIlllgi9q4Bk6goRrFrEAtiQ5HeZIFd2sLO++E8z7z77C5LERjA//WB3+zs7Jl7Zs8Me+45c0ZXl5PAAKDp4PP5y5cvP336tJ6eHjvMCktDQ+PKlSucBAYA9QLZBAAAAKi1c+fOKdwFrampaW9vf/v27eDgYK6iAoAmyN/fPy4urm3btgKBQH4+hk4AaO6QTQAAAIDaSUxMzM7Olp/D4/GGDx8eFxfXuXNnrqICgCarbdu2//77b1BQkPxMDJ0A0NwhmwAAAAC1c/HiRfYaI3t3w4kTJ4RCIbeBAUCTpaOjs3Pnzj179mhpabEnkGfPnimkJgGgGUE2AQAAAGonOjqajtCOuxsAoFaCgoKuX79uZWXFDqNw9epVbkMCgDpDNgEAAABqQSaTXbhwobKykhAycuTI+/fv4+4GAKi5rl273rt3b8CAAfRBDxg6AaD54ik//RUAAABUunLlSmZmJtdRcOzly5cLFy4UCARTpkx57733uA7nP1q1atV0ggFoSYqLi8vKytiXMpmsoKBAfgGJRFJeXl7tBxUwDLN///6IiAgnJ6dt27ZVVXgNCQQCQ0PD2n7K0NBQYWBIysDAQP4JFHw+38jISM0CAO8sZBMAAABqSlNTU+FBBtB0/PTTT/Pnz+c6CoA6KigokMlktGVeXl4ukUjYpjV9SQhhGEYkEtHlCwsLaRchttEulUrFYnFVi5WUlJSWlsovRlWbLIBqKecy5PMUPB7P2NhYYb6urq6Ojg4hRFNT08DAgL5rYmJS1WLyq6CLsXOMjY15PB5NcGhra+vp6TXs1gLIQTYBAACgpng83uHDh0eNGsV1IPA/jhw5Mnr0aELIypUrFy9ezHU40GLRhndBQUFFRUVBQQFt5NP2PzuTEJKfn08IKSoqqqiooG34ioqKoqIiQohIJGIYRiwWS6XSsrKy4uLiysrKwsLCmsdAm46EEH19fS0tLUII24CUv4Rew8UIIVpaWvr6+vKrEAqF9B4ESrmByhZO6ejo6OrqqoxWoaiaqFt7mO7YWn2ktLS0pKRE5Vs0s8O+pN+UmtUpF0XrACX/FbMfpHVAvnCVi7H9PpRjUIP9iun+p3WAftEaGhp0uFwjIyM+n6+np6etrU0zGvRT9NukuQkTExOas6Azq+rKAe8yVAgAAABoCX7++ed58+YRQpBQAAVlZWUSiUQkEtHGv1gsZqeLiopog7+wsLCiokIkEtEcAU0cFBYWSqVSNnGgZhW0oUUvGis34bS0tJydnYmqJhx74ZqWQK9Fs5edaYHKPe1BAXvxv8Vjkw4KHVhoJxRab2n3E7aLisrEVnJyMvlvUoNmQ+in1N+fQghhUwy0rrI1n9ZndqaWlpZQKDQ0NNTX19fX1zc2NjYwMNDT0zMwMFDIRkGzhmwCAAAAtARz584lhCCh0FLRVlN+fn5BQUFBQQHNBVSVICgsLKTTBQUFtCmlXKCOjo6+vr5QKKQXw+nFWGNjY11dXUtLy2qv0Cq0qRp/h8C7ic/nszdENByFPFpNeuWIxeLs7Gw6UyQSSaXSoqIihV4eLD09PX19fUNDQ6FQSKfVpB7ou1QdRseABoVsAgAAALQQSCg0IyUlJfn5+fn5+fS6aH4V2Hezs7Pp/f/yaPNeR0fHxMTExMSETltbW7u5uSnPl59o1aqVtrY2JxsO0PTRvjCtWrWql9KUD3b5o17+GFdYoKqj3kSO/JGuTFdXF10hGhSyCQAAANByIKHAIZlMlpeX9+bNG/qXnaB/c3Nz8/LyRCIR7WKg8FlNTU167dHY2NjY2FgoFJqbm7dt21b4v0xMTOiEvr4+RpsDaBZ0dXV1dXVtbGzq8Fna56jgf7F9lKjMzMz4+Hg6zY4/yqL3XBgbG7dq1crU1FT+L51goeNDHSCbAAAAAC0KEgr1rqKiIicnJycnJzMzMzc3VyFNQCfy8vIUcgS6urryP9nbtGnTs2dPmg5gkwIspAYAQBlNL9ra2tb8IzRlqZyAYE9ZSUlJ7BlMvu+Dpqam/CmL/WtmZtaqVStzc3Nzc3NLS8tGuNOkGUE2AQAAAFqCo0ePstO2trZBQUFLliwpKysLCQnhLqjmge1ynJGRkZ6erjyh0N+Y9iu2sbGxtrY2MzNr166dyj7GdbsUCQDwNmgCooYLK99mxZ79cnJynj59SmcqnANNTEysra3Z06DChJ2dHX2QyrsAT4gEAACoKTwhsmlKSUkZPXr09evXld/i8/kqR+B71+Tl5aWnp6ekpKSnp6empqalpWVlZdG+BtnZ2fJPnjMyMrKysjI3N7ewsLCysrKwsDA3N5efeHcGzwcAoCorK7Ozs3NycrKysujJU2EiOztb/lkYrVq1oudMS0tLa2trW1tbGxsbe3t7mmuo6omqzRGyCQAAADWFbELzcuTIkdGjR78jP3UqKyszMzPl8wXp6emvX7/OyMhITU0tKSmhixkaGtrb21tbW1tbW9NfupaWlmzuwNzcHI8nAACog8LCwoyMDHpTmPxEVlZWampqRkZGeXk5XbJVq1bW1tYODg42Nja2trZ2dnY2Njb0pampKbdbUVu40wEAAACg2ZBKpa9fv05KSnr58iX9m5ycnJKSkpWVRTvi8ng8S0tL+iPVw8Nj4MCB9vb27JUxDDMGANAQjIyMjIyMXFxcVL7LMExWVlZ6enpaWlpKSkpGRkZKSsqrV6+uXbuWkpJSVFREF9PV1bWzs7O1tXVycnJ2dmb/WllZNeKm1AKyCQAAAABNUVZWFpsyYP+mpqbSrIFQKKS/Mvv06SN/jcva2vrduWUXAKBZ4PF4VlZWVlZWXbt2VX63qKiI9ilLS0tLTU1NTU19+fJlbGxscnIy7dGgq6vLJhfoBJ3W19dv9E35H8gmAAAAAHCsvLz8yZMnCQkJjx49SkhIePLkycuXLyUSCSFEU1PTwcHB2dm5Xbt2H3zwAftrstl1iAUAAJUMDQ1dXV1dXV0V5stkMppZSEpKojnl27dvHzlyJDMzky5gYWHh7Ozs5ubm6urq4eHh6uraunXrxowc2QQAAACARlVWVpaYmPj48eNHjx49fvz44cOHL168qKioEAgEbdq08fDw+PDDD9kLUPb29nw+n+uQAQCgsWloaDg4ODg4OPTr109+fnFxMdtn7fnz548fP/7rr78yMjLIfxMT7u7u8vkFHo/XQBEimwAAAADQsHJzc+/cuXP37t24uLgHDx4kJSXR3EHbtm3d3d1HjRpFf/l16NABNykAAIB6enp67u7u7u7u8jPz8/Np7zbaze3s2bPp6emEEAMDA1dX106dOnXr1q1bt26dO3fW1taur0iQTQAAAACoZ1Kp9M6dO1evXr1x48adO3eSk5MJIa1bt+7Wrdunn35KcwcuLi7IHTQXRUVFGMCy8WVnZ0dHR+fk5Pj5+Sk0nJomsVhsYGDQdMqBd4qJiYmPj4+Pjw87RyQSsfmF+Pj4o0ePFhYWampqenh4dO/e3dvb28fHp02bNm+zUo23DhsAAACgnl28eNHLy+vVq1dcB1ILFRUVly9fXrZs2YABA4yNjfv06bNu3brKysopU6b89ddf2dnZr169On78+PLly0eNGtWxY8emn0rYv38/j8cbM2bMmjVrzp8/30Brefjw4Zo1a7744gsejzdv3rwGWot6aurbtm3b+vXrp3w/c7WU996OHTs6depECImJibG3t3/z5s1bB/7/muMho96TJ0+mTJni6+sbExPTpUuXwsLCRlhpbXdjTk6OQCC4d+/e/v37/fz82rVr95YBqC+Hk2+Z3cb6LVbl4VCrs8G5c+ciIyNVvlVRUXHlypUlS5acPXu2HmOOi4vbuHFjM3rqsLGxsbe399SpU3/++eeLFy+KRKInT578/vvvAwYMePz48YwZM9q2bWtjYzNq1Kjw8PBnz57VYRXomwAAANAkZGRkWFtbN4VCmsJ68/PzU1JS6DCETVx2dvapU6fOnj174cKFgoKCNm3a+Pr6jh8/3tvbu6pHhTUvmzZtatWqVb0Xy9YZDw8PDw8PQkhUVFS9r6WG1NS3KVOm7Nu3jz5How7k915BQUFubi4hpLi4ODU1tX6Hw6jhIVNfh2ojnGq+/fZbDw8Pe3v7PXv2nDlzxsjIqEFXR9X2zHPy5MnWrVt7enp27Nhxx44dFRUVbxnAp59+qqYcTk6M7DbWb7EqD4eanw22bt3KMMzMmTNVvnv79u3du3fv3r3b2dm5HmPu0qWLSCRauHDh2rVr67HYRsPj8dq3b9++ffsxY8YQQsrKyu7cuRMbGxsbG7tkyZLZs2e3adPmgw8+GDp06MCBA2uY70bfBAAAAO6JRCL6353zQprIegMCAtLS0ppy3+aioqI9e/YMHjzYxsZm/vz5ZWVlP/7447Nnz54/f7579+7PP/+8ZaQSCCECQf1ffFJZZ/T09Op9RTWkpr7x+Xw7O7s6lyy/9zp06EBrRYcOHaysrIRCYZ2LVVaTQ6a+DtXGOdWcPXuW7iKhUNhoZ7bannmOHTsWGBhI3rqesNSXw8mJkd3G+qX+cFB/Njhz5syFCxeqSiUQQnr37j1nzpz6ClXegAEDDA0Nw8PDG6LwRqatre3t7b1w4cLIyMjc3NzLly+PHj365s2b/v7+1tbW06ZNi4mJqbYjBvomAAAAcEwikYwaNeotO6/WSyHNaL0cysjI2LZt2y+//FJcXDxw4MBdu3Z98sknuMm55t7BOkOxzSdHR0fax7sx1ddub5yvr6SkpOl3TXrz5k1MTMzKlSu5DqQBNdw21vlwKCoqmjx58sWLF9Uv1nC3ks2fP9/Z2XnIkCH12/GBWwKBwNfX19fXd8WKFampqcePHz969Oh7773Xtm3b2bNnT506tar8DvomAAAA1LNjx47NmTNnwYIFQ4YM+e6778rKygghhw8fNjQ0tLe3J4QUFBSEhoby+fzevXsTQk6ePJmYmJibmzt16tT169cnJCQsWbLEzc0tLS3to48+MjU17dmz540bN2pViEJIjx49+vbbb11cXFJTU0NCQhwcHNzd3WNiYkpLS+fNm9emTRsHBwf5+0uzsrKmTp0aGho6derUESNG5OXl0fnx8fETJ05cu3btvHnzZs2apXK9DMNs3bp15syZvXr1GjRoEL0VMy0tbfXq1R4eHm/evPnggw9at27NlqlSTk7O5s2bb968SQhRs0MamUQi+eqrrxwcHHbt2rVo0aKMjIzIyMigoKB3JJVQ1ZeossJTKt9SX1eVqakANQ/p8uXL5ubmPB7vu+++o8VeuHDByMho2bJl5H/rG3X69Olp06YtXLjwyy+/pM9do96mejs6Oo4cOZIQwufz58+fr2avqlwLdefOnalTp44ZM6Znz57btm1ju8QrbEK1h6ryenft2mVoaMjj8TZu3FheXk4IuX79urW1tUJLss6H/P3795W3VOWpZs+ePdOmTSOEHD16dOrUqWvWrKmqLimv5fLly7U61ylQrglqqvepU6dsbW27d+8uX0JmZubHH39samratWvXhIQEOrPmZ1T15SiH9+eff86aNSs4OLh3796//fab+rCVdxcdXEDN2VV+G5W34uzZswKBQEtLKyoqqrS0dMqUKTwez8XF5dKlS4SQ169fe3l5jRw5UuVmqjwcauK3337T1tZ2c3OTn1nVfpBX1VepMjw1x6C+vn737t1XrFhR85ibFzs7u+Dg4NjY2AcPHvTr12/RokVt27Y9evSo6qUZAAAAqBlCyOHDh9Uvs2HDBm9v7/LycoZhcnNz27Vr17dvX5lMxjDMoEGD7Ozs2CU7duzo5eVFp4cPH+7o6EinL1++7Obmxufz586dGxMTc/z48VatWunp6aWnp9e8EAXZ2dnjx48nhEybNu3u3buFhYW9evVydnaePXt2QkJCUVFRnz59nJ2d2eX79+8/evRoOt25c+dx48bRaRcXl9jYWIZhiouLfX19Va531apVv//+O8MwFRUVbm5uVlZWEonkr7/+6tChA5/PX7Zs2fbt23v27JmWllbVPoyNjfX19SWEHDt2rNodosbhw4fr8adOYmKio6Ojqanp9u3b6ffb4u3bt48QIhKJ6EuVX6KaCq/mLZV1tUOHDnPnzlUOQ00FqFVItOl74sQJWqxUKvX19ZXJZAr1jWGY/fv3e3l5lZSU0BLMzc2trKzoWzWv3gp7ryoqP6tyLQzDvHr1Sl9f/+XLlwzDBAUFEUK6des2d+5c5U2o9lBVud5FixYRQm7fvk2XKSsr69Wrl3LMdTvkd+7cqbzGqk419I76H3/8kb6s6jtVXsu9e/dqda6Tp7wb1dRhhmGGDBny1VdfsR8fN26cvr7+l19++fjx4/v37+vr6w8bNoy+VaszalXlKIcXERHx2WefVVZWMgxDG7cXLlyo1e46dOiQ+rOr/Daq3IrPPvtMS0uL1s/y8nJ7e3s/Pz92nwQGBr548ULlZqpX1dmAYZjevXsHBgbKz1G5Hx4+fEgI2bFjR7VfpcrwqjoGqdDQUKFQWFFRUZNtae5oFonH4wUGBir/70M2AQAAoKaqzSZkZWXp6+vv3buXnbN7925CSEREBMMwH3/8sXwiwMvLq6pEwKRJkwQCAftvm7aKv//++1oVooDe53n//n36kl6SjYuLoy+XLl1KCMnOzqYv+/fvv3LlSjo9duzYTp06MQxDL1du2rSJzj9w4IDyetPS0iwtLemvOoZhvv/+e0LIoUOHGIaZPHkyIeT58+dqdiDr3Llz8j+a1ewQNeoxm5CSkmJnZ+fr65uVlVUvBTYLyu1hhS9RTYVXfyzUKpvAqK0ANQ9JLBabmpoGBATQ+VFRUeHh4XRavr5JJBJra2u2ejMM88knn9BsQq2qdw2zCcqfVbOWBQsW2Nvb0/lPnz4lhGzbtk15E2pyqKqMOSUlRSAQTJkyhd1FoaGhygHX+ZBXnqPyVMP8bzZBfV1SLrNW5zoF8rtR/Xrz8/M1NTWvX7/Ovjtu3DihUMjW0gEDBlhbW6vZzKq+JjXlyIeXnZ0tFAqTkpLoW9nZ2Z988klCQkJtd5eag0thG1VuBb3jYP/+/XT+3LlztbS03rx5wzBMSUnJJ598UtVmqlfV2aCyslJTU3PGjBnsnKr2g3w2Qc0+URmemlpNbd++Xb6OvQsuXbokFAo//fRThfkYNwEAAKDe3LhxQyKR0DsRqOHDhxNCLl26RC+X1RCfzxcIBJqamvTliBEjtLS0Hjx48Dax0RGzNTT+c5MjHeiLXYWDgwMhhF6GJYTExMQQQkpKSvbv33/r1i2GYejCgwYNCg4OTkhIWLly5Weffaa8lmvXrkml0unTp7NzpkyZoqurSz8uEAhq+GhrhVs0G2KH1MpPP/2kra0dFRXVOAPLN1kKX6KaCi8UCuvlWKDUVICahzR+/PigoKDw8PDc3FwzM7PDhw+HhYXRZeTr25UrVzIyMjp27MjOYW/Arq/qrUDhs2rWkpaWVlxcTGe2a9fOzMwsJSVFeRNqcqiqjNnOzi4wMHDfvn2rVq0yMzM7cuQIbYqrUat9ojxH5alGgfrvVLnMWp3rFMjvRvXr/eOPPywsLHr16iX/cU1NTXZFzs7O169fV7OZar6mqsqRDy82NlYmkzk5OdGX5ubmx48fJ4T88ccftd1dVR1cCtuociv69+/v5OS0d+9eOlLm/fv3Kyoqjh49Om3atOPHjwcEBNSwNtZQfn6+VCo1MTGpdj88evSIXUb9V6kcnppaTRkbGxNCsrKy5E8ULVu/fv1Onjz53nvvBQcHe3l5sfORTQAAAKg3ycnJhBD5x8ibmZnRXqNvU6ympqaNjc3bP3tMHo/HU34pk8noy8rKyrVr18bFxc2ePbtXr17sbbQnTpyYOnXqli1b6BBNffv2VSj28ePH+vr6Vd22Wl8aYoeol5yc3K1bt3c8laBMTYVvoGOBUlMB1K932rRpGzdu3Ldv38SJE/l8vnybhJWYmEjkGp/yGqd6q1nL0KFDDx48eOHChffff18kEonF4sGDB6sspNpDtSrz5s07ePDg9u3bFyxYkJubW+04c2+5T6o61ch7y7qk/lynhvr1Hjt2bOTIkQqFV7XeOp9RleNnPXz4UCqVMgyjsMBb7i75g0thG1VuBY/HmzBhQmhoaGZm5vPnz3v27Mnn8/ft20ezCfv376/hZtYQTRXJf31V7Qd56veJcnjV1mqaq6pJLWpJfHx3fYHVAAAgAElEQVR8NDU1X758KZ9NwCiMAAAA9YZeHklKSlKY//YPCywvL2+0Jw7KZLKhQ4c+ePDgyJEjCj/7NDU1Dxw4sHfvXkLIoEGDaLtLnp6eXmpqampqqvzMnJyceg+yMXcIIWTAgAFRUVGcDP3YlKmp8A13LFBVVQD163V1dfX19d21a9fhw4fHjh2rsmTaE4E2PxQ0TvVWs5Zx48Zt3749KCho6dKlX3311cGDB729vVUWUu2hWpUePXp4e3uHh4dHRUX5+/u/TbTVUnOqkdfQdakO6y0qKjp37hwdRLBab3NGVcPIyKi0tJQdoJEqKyt7+91FDy6FbVSzFRMmTJDJZAcPHgwPD58zZ86ECRNiY2MvXrxobW3N9lKp82YqEAqFOjo6IpGInVPVfpB/qX6fKIdXba2miQkrK6s6b0hztGzZMh6P5+PjIz8T2QQAAIB64+XlZWhoeOrUKXYO7Zn84YcfEkIEAoFYLK6srKRvicVi9sqGhoaGWCyuqtjs7OzMzMyAgIDaFlK3Kye3bt06d+7c+++/T1/Syz6EkLKysi1bthBCxo0bd+PGDZlMRu+YlV9vx44dGYZZuHAhW9qLFy9+/fXXOoShhvwOaRyzZs0aOnTokCFD6C9OoNRUePXHgvoKXy01FUD9egkh06ZNe/DgQURExHvvvaeycPqwOvkBzGUyGT3iGqd6q1lLaWnp06dP4+PjQ0NDd+7c+fHHH6ssoSaHqhoLFixIT0//6quvAgMD2ZnyJ5P6OuSrOtUQQuRveaj2O31LVZ0n1aw3MjLSxMSkT58+NSm/tmfUGqLPWVi6dCkb/927dw8ePPiWu4s9uBS2Uc2X5ejo2L9//02bNunq6trY2IwYMcLAwGDs2LGTJk16+81UwOPx+vTpI9/Poqr9IP8pNftEZXjV1urc3FwjIyN3d/c6b0jzUlhYOHPmzDVr1uzatUv+hhGCbAIAAEA9MjMzW7Vq1dWrVy9cuEDn/PLLL+PHj6ftlo4dO4pEolWrVj19+vTHH38sKyt7+vTpv//+SwixsbHJzc29e/fuP//8Q++LLisrY8cFWLFixbhx42jfwpoXsmHDBjMzs8ePH9NCCgsLCSFs5/CCggIid7GlqKiI/Pd6Du0vumfPngcPHvz+++90WK/79+9nZWXt3LmTNqvs7OyEQmGXLl0U1uvt7d2jR48DBw4EBATs27fv119/nT59+hdffEEIoUkQ+WtKamRlZRFC6EhsVFU7pHHw+fz9+/cHBQVNmjTp/fffp/cPv4MUvkQ1FV79saBc4atVVQWoeUj05ciRI01MTAYOHMjeV0/+t755e3v369dv9+7dW7duLS4uvn37dmxsbE5OzoEDB+qreqvfqwMHDqxqLZs3b75w4cKxY8dOnToVHR0dFxcnlUqVN4EQUu2hWlxcXFXM/v7+9vb2nTt3btWqFZ2jcDKp8yGvMEfNqeb169eEEFo31H+nymup+blOedPkd6Oa9R47diwgIEC+CtFViEQiOqofLaqsrKy4uLi2Z9SqyiFKFXXIkCEnT5708/MLDw//5ptvli9fPm7cuNruLlLFwaWwjWq2ghAyadKkly9ffvnll4QQPT29wMBAMzMz9tmZKjezzj777LOrV6+yuYyq9gP93iUSifqvUmV4ao5B6tq1awEBAfS2i5atuLh469atrq6uJ06cUN2lqzGGgAQAAGgRSA2eEMkwzMmTJwcNGjR79uzvv/9+/fr17OPECgoK/P39DQwMvLy8bt++/fnnn0+cOPHMmTMMw8THx9vZ2bVv3/7o0aMMw0yZMkVTU3PSpEkjR46cMmXK8uXL2cGla17IL7/8Ymdnl5iYyDDMxYsX6RXXsWPHPn/+/J9//vH09CSEDB069P79+1evXu3atSt998WLFwzDzJgxw9DQ0MvLKzo6+syZM2ZmZiNHjszLy+vRo8ewYcPWrl07bdq07du305AU1puXlzd27FgLCwtzc/OgoCD6JMjffvuNjnk2YcIEdnD1qsTExPTv358Q0rNnz/Pnz6vfIWrU7xMiqZs3b9Jevl27dt25c2d+fn79lt+kKDyVoKovsaoKr+YthTpDqXmmQ1UVoA4hMQyzdOnSjIwM9qVyfROJRJMmTbK0tHRwcAgJCZk2bdqkSZOio6MrKytrXr1r+EwHlZ9VuRaGYS5evGhhYSHfiHV0dHz58qXCJpSWllZ7qKo/JKdPny7/1cifTJS/vhruE5VrVHmquXLlCh3Sz8nJaf/+/XQfqvxOlcus7blOftOUa4LK9YrFYl1d3YsXL8rvsb1799KR+ebNm1dQULBnzx46Ksf8+fPLyspqfkZVU87Zs2cVwpNIJDNnzrS1tbW0tJw5c6Z8Zavh7mKqOLhUbqPKrRCLxQzDlJSUfPnll+yScXFx7AMUqqqN6qk5G5SXl7dt2/batWvsHOX9cPPmTTqkSLdu3f788081+6Sq8Ko6BhmGKS4uNjU1ZQ+HlioxMXHJkiVmZma6urqzZs3Ky8tTuRiPUTV0KgAAACjj8XiHDx8eNWpUQ69o6tSp+/btKykpaegVNRd12yFHjhyhT0ev93ju3LmzYcOGkydPMgwzePDg0aNHDx48WOWQfs3a/v37x40bJxKJhEJhI6zO1dV18ODBP//8s/JbzfGIaIi9t3fvXqFQOHz48Ly8vJycnLS0tPj4+Nzc3NWrV9fXKqiePXtevnxZR0enfouFJqhpHlxqzgaEkDt37oSGhp4+fbqRo6K+++47Y2PjBQsWcLL2hvbkyZPTp08fOnQoLi7O2tp6+vTps2bNUvkAFArPdAAAAAAO2NnZKQyUxYqIiBgyZEgjx1Mr3bt3P3DgQEFBwcmTJw8dOhQUFMQwTM+ePYcMGTJo0KBu3boJBC3nJ1ZJSUnjZBPYTvstST3uvbt37y5atCgtLY0QYm5ubm5u7ubm1q1btwMHDtRL+ayLFy++9957SCUAh9SfDbp37z5mzJgNGzbMnz+/0UKi/vzzz8rKyhaWSigoKLh06dLff/999uzZly9fmpqaBgQE/PTTT/369VO4nUdZy/lXBwAA0GK8efOmvLxcLBYbGBhwHUtDURguW72muUOEQuHEiRMnTpwoEomio6PPnj3722+/ff/99/r6+l5eXj4+Pj4+Pl5eXk0q5jqYOXOmj4+Pp6cnOwBb/Xr06NHff/+dk5OjPOI6q2lWgJqox7338OHD9PT00NDQYcOGubq6FhUV3bhx4/z582vXrq2XUK9cuTJjxgwPD48HDx5cvny5XsqEpq9JHVw1ORtQo0ePPnfu3B9//FFfg3HWRHx8fGFh4apVqxptjQ0nJSUlNjb26tWrV65cefjwISGkW7duY8eOHTx4cK9evWqeEMedDgAAADXVOHc6LF68eNOmTRKJZNKkSZ9//rnC05jeQXXeIQ13p4Majx8/jv2vpKQkPp/v4uLS/b88PT3pI9Og5nBEUJWVlcuXL9++fXtWVpaBgYGbm9vMmTODgoKqvXhYQwkJCfSRkLt371bzvEZoSXBwvTuysrLuyMnMzBQIBN26dfP29u7bt6+3t7eZmVkdikU2AQAAoKYabdwEqBecZBPkpaenX79+nf31JhKJBAKBs7Ozh4eHq6urh4dHhw4dXF1dtbW1uYoQmqPi4mJdXV06xj4AgLK8vLxHjx49fvz40aNHCQkJCQkJGRkZhBBnZ2ea2u7Ro0ePHj309fXfckXIJgAAANQUsgnNC+fZBAXPnz//999/Hz58SH/hPX/+XCqV8vl8Z2dnd3d3ml9wdXV1dXXFLesAAFBDubm57H8W+pc+udPIyIjNXHfq1Kl79+6mpqb1u2qMmwAAAADQGNq2bdu2bVs2GyWVSp8+fZqQkECvHf3xxx/r16+n+YXWrVs7Ozs7OTmxf52dnVu1asVt/AAAwKHKysrU1NSXL18mJSUlJSXRiefPn+fm5hJCjI2NXV1d3d3dhw0bRnPT9vb2DR0SsgkAAAAAHNDU1HR3d3d3dw8MDKRzpFLp8+fPHz169PTp06SkpBcvXpw/fz41NbWiooIQYmRkJJ9coBOOjo64UQIAoIXJz89n8wVs+uD169fl5eWEED09PfpfoFevXmPGjOnQoYObm5utrW3jx4lsAgAAAECToKmpSe90kJ8plUpfv34t/5vy8uXLv//+e15eHiGEx+NZW1vb29vTv7a2tjY2NuxLPT09jjYFAACqkZubm56enpKSkp6enpaWlpKSkpGRkZKSkpqaKhKJCCF8Pt/Ozo7mjn19fdk8sqWlJdex/weyCQAAAABNl6amZps2bdq0aaMwv7CwkOYXkpOT6Y/RuLi4qKio9PT0srIyuoyJiQlNLtjY2NjZ2cnnGiwsLBp9UwAA3i3l5eVZWVlsviA1NVU+fVBaWkoXEwqFtra2dnZ2NjY23bt3t7W1pVkDBwcHLS0tbjdBPWQTAAAAAJofIyMjT09PT09P5bfy8/PT09MzMjLo36SkpPT09Pj4ePqSXczExMTa2ppmHJQn7OzsmvivWAAAbpWUlOTn59OTrcqJrKwsmUxGF6anXBsbG1dX1/fee4+eb21sbNq0aWNsbMzthtQZsgkAAAAALYqJiYmJiYm7u7vyWxKJ5PXr15mZmRkZGTk5OdnZ2XTi5s2bdKKkpES+HEtLS3Nzc0tLSysrK3NzcwsLCwsLC1NTU1NT01atWpmamurq6jbilgEANJKCgoK8vLy8vLw3b97k5eXl5OTk5OSwZ87MzMzs7OyqTpgdOnTw9fW1sLCwsrKysLCwt7e3srLS1NTkcHMaCLIJAAAAAO8KfX195aEZ5InF4oyMjOzs7JycHPpzmU7Ex8fn5ORkZWXl5+fLL6+rq0vTCuxfSj7jQCda5C9pAGheJBIJzQ7Qv2y+QH4mfUmHv6UEAoG5ubm5uTm9Taxdu3Y0TWBubm5lZUWTCO9mZy5kEwAAAADgPwwMDNq1a9euXbuqFqisrFT48S0/8eLFi1u3btFpsVgs/0FDQ0OaXDA2NhaqYmxsLP8WnlUBANUSi8UFBQUikahAjkgkUp5Dz1TssDKEEB6Pp5D3dHZ2lp/DpkeNjIw43MamDNkEAAAAAKgpPp9P73eodsmysjKVSQf6Kz87O/vZs2fsb/3CwkKFj+vo6MgnFxRyDXp6ekZGRkZGRvr6+np6esbGxgYGBnp6egYGBg2z3QDQgBiGEYlEEolEIpHQBIFEIikuLi4oKCgqKipQwuYLKisr5cvh8/kKpwszMzM6MIFyhylTU1Mej8fVJrcMyCYAAAAAQP3T1ta2tra2trauycK0LaFwOVGh5fDq1Ss29SCRSJQTEJSxsbGenp6+vr6RkZGhoSFNN5iYmNAJQ0NDmozQ19cXCoUGBgaampomJiYCgcDQ0FBXV1dHR6dedwPAO6GwsFAqlRYUFJSXl9OkQHFxMU0EFBcXSySSgoICsVhM36KJg+Li4sLCwsLCwuLi4uLiYuUy+Xy+0X+xmURra2uaLzAxMVHu4oR8YiNDNgEAAAAAOMbj8ejgkbX6FG2H0MaJWCwuLi4Wi8UKDRU6nZSUpNCSke/wrMDIyEggEBgbG2tpaenr6+vr62tpaRkbGwsEAiMjIx0dHV1dXUNDQ4FAYGJioqmpSbtFaGtrGxkZ8fl8ujz9LI/Ha76jtUNLVVFRUVRURAihw6CIxWKpVFpaWlpSUlJUVCSVSkUiEU0KFBcXl5WVFRQUSKXSwsLCsrIyepRJpdL8/HxaTklJCfukQ2UKGT19fX0DA4PWrVvTaTblp6+vb2xszC5Ac4JI7TV9yCYAAAAAQLNEL1rW7bO0IaR8QbW8vFwkEkml0qKiIoX2VWlpaW5uLtu+qqioKCgooO2rmoTK5/Np3wfaD4IQYmxszOPxVGYf5JcnhNAUBiGEJi8IIfJ5CrowIYQmNQghtLS67RloTOywpkVFRXTYP7ZxLpVK6eAjtOcOXaywsJD27acTdGF2SfnsAK2ZMpmsoKBAYflqozI2NtbU1DQ0NGRzZ5qamvR+IisrK1rNhEKhQCCgQ5zQm4wUuvno6ekJhcKG2GnQdCCbAAAAUAs3btzAbZaNQCaTaWhovGUhN27cqJdgoEWiPQtq2xuiKrT9JhKJGIahzULabGMvAtO3aLaCZi7YJiJdvrCwMCsrS+XyhBB2orY0NDTYFp1QKKSHFc1fsMuwqQqWiYmJWCym2Q1CiMINIModLtgshkrq31XGZltqgm0t1xzbbq/Ju2xDncW25yn6bcovUFBQIJPJ2Je0bhBCaHKKyHUNqAPaaGcnaEue/ZZpXsnCwkJbW5tNPNFKrmZ5+v3K98SpW2zwDuIxDMN1DAAAAM2Dvb19amoq11FALdjZ2aWkpHAdBUC9YbtCVFZWsiNH0NQDqa7hqnwZnGI/RWVnZ9+9ezc1NdXLy8vOzk55+Wob2PLq0HJWaI1XSzkbop58hkVZbVMnyqUpNMjZAtnmvfoUD23wk/+OGkAXo91Yar6NAI0D2QQAAABocu7fv79y5cpjx445OTktWLBg4sSJeF4gQEOLjY1ds2bNmTNnOnbs+NVXX40ZM0YgQEdmAKjS2/YhBAAAAKh3nTp1OnTo0LNnz4YOHTpv3jwHB4eQkBD2zmEAqEcMw0RGRnp7e/v6+ubn558+ffrevXtBQUFIJQCAesgmAAAAQBPl5OQUFhb26tWrmTNnhoWFOTg4BAcHp6encx0XQAshk8mOHj3asWPHjz76yNTU9OrVq7Gxsf7+/uhUDwA1gTsdAAAAoBkoKiratWvX2rVr8/LyRo0a9d1337Vv357roACaq7KyssOHD//4448vXrwICAhYtmyZu7s710EBQDODvgkAAADQDBgaGgYHByclJW3fvv3mzZuurq7+/v537tzhOi6AZqawsDAsLMzJyWnatGleXl6JiYlHjhxBKgEA6gB9EwAAAKCZkclkZ86c+eGHH+7cuePt7b1w4UJ/f3+ugwJo6rKysrZs2RIWFiaTySZOnLho0SJra2uugwKAZgx9EwAAAKCZ0dDQ8Pf3v3379pUrV3R1dT/88EMfH5/IyEhcIwFQKSkpKTg42NHRcevWrcHBwcnJyWFhYUglAMBbQjYBAAAAmisfH5/z589fuXLFxMTko48+6ty5c0REREVFBddxATQV8fHxQUFB7du3j4qKWr169atXr0JCQoyNjbmOCwBaAmQTAAAAoHmjHRPi4+M9PT0nT57crl27sLCw4uJiruMC4BJ9OkOXLl3u37+/a9eup0+fBgcH6+jocB0XALQcyCYAAABAS9CxY8eIiIhnz559+OGH3377raOjY0hISH5+PtdxATQqmUwWGRnZu3dvX1/f/Pz806dPx8XFBQUF8fl8rkMDgJYGozACAABAS5OTkxMeHv7LL79IpdLPP//8m2++sbW15ToogIYllUoPHjy4Zs2axMTEoUOHLlmyxMvLi+ugAKAlQzYBAAAAWiaxWLxz585169bl5OSMHj16yZIlLi4uXAcFUP8kEsmOHTt++umnzMzMTz/9dNGiRW5ublwHBQAtH7IJAAAA0JKVl5cfOnRo5cqVz549Gzp06Pfff9+jRw+ugwKoH3l5eZs2bdq8eXNpaenkyZMXLFhgb2/PdVAA8K5ANgEAAABaPplMdubMmdDQ0Nu3b3t7ey9cuNDf35/roADqLjMzc+vWrRs3bmQYZubMmV9//XWrVq24DgoA3i0YhREAAABaPg0NDX9//1u3btHHSX744YfdunWLiIiorKzkOjSA2nnx4kVwcLCTk9O2bdvmzp37+vXr1atXI5UAAI0PfRMAAADgnfPvv/9u3LjxwIEDTk5Os2fPnjFjhra2NtdBAVQjLi7u559/PnDggKOj45w5c6ZPn44nPgIAh5BNAAAAgHfU8+fPN23atG3bNktLy/nz50+ZMkVfX5/roABUiI2NXbNmTVRUVJcuXebOnTt27Fg88REAOIdsAgAAALzTkpOTN2zYsGPHDj09vS+++OLLL780NTXlOigAQv473sePP/5469YtjPcBAE0NsgkAAAAAJDc3d/PmzZs2bSovL//8888xNj5wiz6LZNWqVU+fPh06dOh3333Xq1cvroMCAPgfyCYAAAAA/IdYLN65c+f69euzs7NHjx69ePFiV1dXroOCd4tCJfz22287dOjAdVAAACogmwAAAADwP+hl4dWrVz958gSXhaHRKHSQ+frrr+3s7LgOCgCgSnhCJAAAAMD/0NLSCgoKevjw4alTp3Jycry8vHx8fCIjI7mOC1qs5OTk4ODg1q1bh4eHz5kzJzk5OSwsDKkEAGjikE0AAAAAUEFDQ8Pf3//GjRtXrlwxMTH58MMPu3TpEhERUVlZyXVo0HI8fPgwKCioXbt2p0+fXrlyZXJyckhICMYBBYBmAdkEAAAAAHVox4S4uLiOHTt+/vnnLi4uYWFhpaWlXMcFzdu///4bFBTUuXPnuLi4HTt2PHv2LDg4WE9Pj+u4AABqCuMmAAAAANTUixcvfvnll+3btwuFwhkzZsybN08oFHIdFDQzsbGxa9asiYqK6tq1a3Bw8Lhx4zQ0cIUPAJofZBMAAAAAaicrK2vLli0bN25kGGbixImLFy+2srLiOiho6mQy2ZkzZ0JDQ2/fvu3t7b1w4UJ/f3+ugwIAqDvkQQEAAABqx9LSMiQk5PXr1z/88MORI0ccHR2nT5/++vVrruOCJqq8vDwiIsLNze3jjz+2tLS8detWbGwsUgkA0NyhbwIAAABA3Ukkkh07dmzYsCEjI+PTTz9dtGiRm5sb10FBU1FUVLRr165169bl5OSMHj16yZIlLi4uXAcFAFA/kE0AAAAAeFtSqfTgwYNr1qx5/PjxsGHDvv322969e3MdFHApJycnPDz8l19+qaiomDRp0jfffGNra8t1UAAA9Ql3OgAAAAC8LU1NzaCgoIcPH54+fTovL69Pnz70SRC4bPMOevXqVXBwcOvWrX/99dcvv/wyOTk5LCwMqQQAaHmQTQAAAACoHzwez9/f/9q1a1euXDExMfnoo4+6dOkSERFRUVHBdWjQGB48eBAUFNSuXbs//vhj1apVr169CgkJMTEx4TouAIAGgWwCAAAAQD2jHRPi4uI6deo0efLk9u3bh4WFlZSUcB0XNBQ6qmLnzp3v3bu3c+fOZ8+eBQcH6+npcR0XAEADQjYBAAAAoEF07tw5IiLi6dOn/v7+ixcvdnR0DAkJEYlEXMcF9Sk6OtrHx8fX1zc/P//06dPx8fFBQUECgYDruAAAGhyyCQAAAAANyMnJKSws7NWrVzNnzgwLC3NwcAgODk5PT+c6LngrMpksMjKye/fuAwcO1NXVjY2Npd0TeDwe16EBADQSZBMAAAAAGpyFhUVISEhycnJoaOjRo0ednZ2DgoKePXvGdVxQa2VlZRERER06dPj444+tra3v3Llz/vx5b29vruMCAGhsyCYAAAAANBIjI6Pg4OCXL19u3779xo0bHTp08Pf3v3v3LtdxQY0UFhaGhYU5OTlNmzbNy8srMTExMjKyW7duXMcFAMANZBMAAAAAGpW2tnZQUFBiYuKpU6cyMjJob/mrV6+q+UheXl5iYmKjRfiuEYlEKSkpahbIzs4OCQlp3br10qVLAwMDk5KSIiIi2rVr12gRAgA0QcgmAAAAAHBAQ0PD39+f9pMvKSnx8fGhT4JgGEZ54enTp3fu3Pnvv/9u/DhbvJSUFE9Pz759+1ZWViq/m5SUFBwc7OjouGXLluDg4NevX4eFhdnY2DR+nAAATQ2yCQAAAABc8vPzi42NvXLliomJyUcffUSfBFFRUcEu8OzZs5MnT0qlUn9//6ioKA5DbXmSk5O9vb3T0tKSk5OPHTsm/xZ9OoOLi0tkZOSqVatevXoVEhJibGzMVagAAE0NsgkAAAAA3KMdE+Lj4z09PSdPntyuXbuwsLDi4mJCyJo1a/h8PsMwlZWVI0aMOHnyJNfBthDJycm+vr6ZmZkVFRU8Hu+HH36gHUPo0xm6dOly//79nTt3Pn36NDg4WFdXl+t4AQCaFp7K3nQAAAAAwJWkpKT169fv3r1bKBROnjx53bp1UqmUvsXj8Xg83t69e8eMGcNtkM3dq1evfHx8srOz2X1LCPnhhx/OnDlz8+bNAQMGLFy48IMPPuAwQgCAJg7ZBAAAAICmKCcnJzw8fPv27bm5ufItXkKIhobGnj17xo0bx1Vszd3Tp0/79u375s0b+R0rEAisrKw8PT2//fbb3r17cxgeAECzgGwCAAAAQBNVUFBga2srkUiU39LQ0Ni1a9eECRMaP6rm7smTJ76+vvn5+fKDU7CuXr3ap0+fxo8KAKDZwbgJAAAAAE3Upk2bysrKVL4lk8kmTZq0e/fuRg6puXv8+LGPj09VqQSBQLB69erGjwoAoDlC3wQAAACApqi4uNjOzi4/P1/NMjweb/PmzbNmzWq0qJq1+Pj4AQMGFBUVqUwlUDwe78GDB+7u7o0ZGABAc4S+CQAAAABN0aFDh/Lz8wUCgZplGIaZPXv2li1bGi2q5uvff//t169ftakEhmF++eWXxgwMAKCZQt8EAAAAgHpWWlr6559/VlZWvk0h2dnZ//zzz5s3b968eZObm5ufny8Wi9l3BQIBj8eTyWR0LZMnT8YDCNR48eLFDz/8UFJSQgjh8Xh8Pl8mk8lkMvoun883MDAwNTU1Nzdv1apV9+7dO3bs+JZr7NGjh6Oj41sWAgDQlCGbAAAAAFDPTpw4ERAQwHUUwKVPP/304MGDXEcBANCA1PWdAwAAAIA6oH3pcc3mnTVq1Ki37JkCAND0YdwEAAAAAAAAAKgdZBMAAAAAAAAAoHaQTQAAAAAAAACA2kE2AQAAAAAAAABqB9kEAAAAAAAAAKgdZBMAAAAAAAAAoHaQTQAAAAAAAACA2kE2AQAAAAAAAABqB9kEAKoUBTYAACAASURBVAAAAAAAAKgdZBMAAAAAAAAAoHaQTQAAAAAAAACA2kE2AQAAAAAAAABqB9kEAAAAAAAAAKgdZBMAAAAAAAAAoHaQTQAAAABo4S5evOjl5fXq1SuuAwEAgJYD2QQAAACAFi4/Pz8lJUUikdS5hIyMjHqMp0lpwZsGANCgkE0AAAAAaOECAgLS0tLc3d3r9nGRSDRmzJj6DamJaMGbBgDQ0JBNAAAAAIAqSSSSUaNGtci7JFrwpgEANAJkEwAAAAC4kZWVNXXq1NDQ0KlTp44YMSIvL+/s2bMCgUBLSysqKqq0tHTKlCk8Hs/FxeXSpUuEkNevX3t5eY0cOTI+Pn7ixIlr166dN2/erFmzql1RTk7O5s2bb968SQi5d+/e119/7ezsLJFIpkyZYmZm1rNnz6SkJLqkcsknT55MTEzMzc2dOnXq+vXrVYZdbbGEkD///HPWrFnBwcG9e/f+7bff6EyGYbZu3Tpz5sxevXoNGjTo2bNnysE/evTo22+/dXFxSU1NDQkJcXBwcHd3j4mJKS0tnTdvXps2bRwcHM6ePatmr9Z801TGk5aWtnr1ag8Pjzdv3nzwwQetW7dmywQAeKcxAAAAAFCvDh8+XJNfWf379x89ejSd7ty587hx4xiG+eyzz7S0tCQSCcMw5eXl9vb2fn5+7EcCAwNfvHjh4uISGxvLMExxcbGvr6/6tcTGxvr6+hJCjh07xjBMRkaGn58fIeSLL7549OhRXFyctrb2p59+ShdWWfLw4cMdHR3Vh62+2IiIiM8++6yyspJhmBUrVhBCLly4wDDMqlWrfv/9d4ZhKioq3NzcrKys6IbLy87OHj9+PCFk2rRpd+/eLSws7NWrl7Oz8+zZsxMSEoqKivr06ePs7Kw+vBpumsp4/vrrrw4dOvD5/GXLlm3fvr1nz55paWnq93lgYGBgYKD6ZQAAmjv0TQAAAADgTOfOnemEh4fH/fv3CSFTp04tLy8/deoUIURTUzMgIODy5cv5+fmEkNLS0srKSnt7+ydPnsTFxRFCdHV1Z86cqX4V3t7eS5cuZV9aWVn16NGDELJ8+XI3NzdPT88ePXrcvXuXECKVSmtYsnLYaorNycmZM2fOihUrNDQ06AZ+8skn1tbW6enpGzdupJkCPp8/cuTIzMzMyMhIhXWZm5t7eXkRQmbPnt21a1dDQ8PBgwcnJSVNnjzZ1dXVwMDg/fffT0pKysnJURNeTTatqngGDx7s7e1dWVk5fvz4qVOn3rx508bGRv0+BwB4Fwi4DgAAAADgHRUTE0MIKSkp2b9//61btxiGIYT079/fyclp7969dHTA+/fvV1RUHD16dNq0acePHw8ICNDU1Bw0aFBwcHBCQsLKlSs/++yzalekp6cn/5LP5xNCBIL//A60s7N7/vw5IaSGJasMW02xsbGxMpnMycmJzjc3Nz9+/Dgh5NixY1KpdPr06WzJU6ZM0dXVVV4jLZkmI2jJNFr60sHBgRCSm5trbm5eVXg12bRr165VFY+mpqZAIGjTpo3KHQIA8G5CNgEAAACAG5WVlWvXro2Li5s9e3avXr1u3LhBCOHxeBMmTAgNDc3MzHz+/HnPnj35fP6+fftoNmH//v2EkBMnTkydOnXLli3Hjx8/evRo37596yukmpSsMmw1Hj58KJVKGYbh8Xjy8x8/fqyvr8+OoVBzCuXQlzKZTH141W5aneMBAHg34U4HAAAAAA7IZLKhQ4c+ePDgyJEjCi3bCRMmyGSygwcPhoeHz5kzZ8KECbGxsRcvXrS2tmYvlR84cGDv3r2EkEGDBiUmJtZXVNWWrCbsqhgZGZWWliYkJMjPLCsr09PTS01NTU1NlZ8vf8NCHagJr9pNa4h4AABaMGQTAAAAADhw69atc+fOvf/++/QlvXpPpx0dHfv3779p0yZdXV0bG5sRI0YYGBiMHTt20qRJhJCysrItW7YQQsaNG3fjxg2ZTHbx4sV6CamqkjU0NMRicbVhV6V79+6EkKVLl7LdB+7evXvw4MGOHTsyDLNw4UJ2yRcvXvz66690ml24VqoKryabpj4eAABQgDsdAAAAADhA++fv2bOnZ8+ed+/eTUhIyMrKun//vqWlpaWl5aRJk4KCgk6cOEEI0dPTCwwMvHXrFm2WE0J27tw5e/ZsPp9vZ2cnFAq7dOmifl1ZWVmEkNzcXPqyoKCAEFJRUcG+W1JSQlvdKku2sbHJzc29e/euWCymjXyVYVdVrLe395AhQ06ePOnn5xcQEJCcnJyYmHjixAk+n9+jR48DBw6UlpaOGDGisLDwxIkThw4dIoRs2LDhxx9/vHr1qqurKyGksLBQvmS6IrbXQFFRESGkrKxMzV41NjaudtO8vb2rikcsFldWVopEImNj47f61gEAWhB+SEgI1zEAAAAAtCiPHj06duyY+l9ZdnZ2WVlZ58+fv3nz5ogRIwYMGBAVFfX69etRo0ZpaWm5uLgUFRXRzgiEkNatW7dv375Tp06EkMrKyr1790ZGRqalpe3bt2/8+PEfffSRmhVdunRp7dq1r169ys7OdnJySk5OXr9+vUgkEovFPXv2PHXq1LZt24qKing8Xu/evfft26dcsoODQ1RU1B9//OHl5TVs2DCVYZubm4eFhaks1tfXNyAgID8//9q1a5cuXWrTpk14eLienh6PxwsICEhLS7t06dLZs2d1dXXDw8MtLS0JIXfu3Ll9+/aECRPMzMxiYmLWrl2blZVVVFTUuXPnhw8frlmzJjMzMycnp1OnTi9evFi9enVGRoZEIvH09OzYsaPK8AICAg4dOqR+0zw9PVXGs2PHju3bt0skkszMTEdHRysrq2orwNGjRwkhgYGBNasvAADNEq/azmkAAAAAUCtHjhwZPXo0fmW9s0aNGkUIOXLkCNeBAAA0INzpAAAAANDs2dnZ0a7+yiIiIoYMGdLI8QAAQIuHbAIAAABAs6fwJAIAAICGhmc6AAAAAAAAAEDtIJsAAAAAAAAAALWDbAIAAAAAAAAA1A6yCQAAAAAAAABQO8gmAAAAAAAAAEDtIJsAAAAAAAAAALWDbAIAAAAAAAAA1A6yCQAAAAAAAABQO8gmAAAAAAAAAEDtIJsAAAAAAAAAALWDbAIAAAAAAAAA1A6yCQAAAAAAAABQO8gmAAAAAAAAAEDtIJsAAAAAAAAAALWDbAIAAAAAAAAA1I6A6wAAAAAAWqbt27ebmJhwHcV/MAzD4/G4jqLxcLu9KSkpRkZGaWlptra2XMUAANDQeAzDcB0DAAAAQAuRlJQUGRm5b9++O3fucB0LcMnR0fHVq1eurq4DBw4cOHBg//79DQwMuA4KAKA+4U4HAAAAgLeSmZl59OjR6dOn29ratmnTZsWKFU5OTtu2bUtOTma4dvnyZXd3d11d3ZUrV0ql0kZbLyHk8OHDjbY6Bc+fPx85ciSPx/P19b1+/TonMSQkJJw/f/7DDz+8evXqRx99ZGxs3L1790WLFkVHR5eXl3NdZwEA6gH6JgAAAADUmkQiuX79enR0dHR09L///qujo+Pt7e3n5+fn59elSxcNDe4v2OTn54eEhGzevLl///6//vqri4tLY66dx+MdPnx41KhRjblSBbdv3164cGFMTIyfn9/PP//s4eHBVSQ5OTmXLl2Kjo4+e/ZscnKyvr5+7969aW3p1q0bV1EBALwlZBMAAAAAaqSysvLevXs0g3D58uXy8nJnZ2c/P7/hw4cPHDhQR0eH6wD/g2GYvXv3LliwQCAQrF69OigoqPFjaArZBCo6OnrBggWPHj36/PPPQ0JCrK2tuY0nKSmJVqHz58+LRCIrKytfX19ai2xsbLiNDQCgVpBNAAAAAFCHbf5FR0fn5+dbWlr27dvXz89v2LBhTXCMvWfPns2aNevixYtTpkxZt26dkZERJ2E0nWwCIUQmkx0/fnzhwoVZWVlz5sxZvHixUCjkOqgqk1N+fn6DBw82NDTkOkAAgGogmwAAAACgSCwWx8TEREVFnT9//uXLl3p6en369KEtva5duzbNhyOUlJSsWbNm9erVrq6uW7du7dWrF4fBNKlsAlVeXr5ly5aQkBA+n//111/PnTtXW1ub66D+Q+HGGW1tbR8fnyZ14wwAgDJkEwAAAAAIIaSioiI+Pp626P755x+ZTObp6UlbdL6+vk2n5alSTEzMzJkzU1NTly5dumDBAj6fz208TTCbQL1582bt2rVhYWGWlpY//PDD+PHjm1puKDMz88qVK9HR0WfOnElLSzMzMxswYICfn9+gQYMcHR25jg4A4P8hmwAAAADvNPZGhrNnzxYWFrK9zd9//31TU1Ouo6teZmbmN998s3fv3uHDh//666/29vZcR0RIE84mUCkpKT/++OPOnTu7du26Zs2aAQMGcB2Ramzl/Pvvv4uKitjK6efnZ2JiwnV0APCuQzYBAAAA3jnsGPt//fVXSkqKgYGBl5eXn5+fv7+/m5sb19HVlEwm27dv37x584RC4ebNm4cOHcp1RP+viWcTqISEhJCQkKNHj/r5+a1bt87T05PriKpEO85ERkZGRUXFxcXxeLxm1HEGAFoqZBMAAADgnVBSUnL16lX21nQNDQ22PdavXz9NTU2uA6yd+Pj4GTNm3L17d+bMmStWrDAwMOA6ov/RLLIJ1IULFxYuXBgXFxcQELBmzRonJyeuI6pGXl7exYsX6VMhmsugHgDQIiGbAAAAAC1ZUlISvaIbGxtbWlrK9hUfNGhQUxjYvw4kEkloaOj69et79+69ZcsWDw8PriNSoRllEwghDMMcO3Zs8eLFKSkpM2bMCAkJaS73ETx79uz8+fPR0dExMTEikcjW1nbgwIEDBw708/OzsLDgOjoAaOGQTQAAAICWhh3HLioqKj093dzcvH///vTBew4ODlxH91YiIyNnz55dVFS0bNmyOXPmNNnR/ptXNoGSSqW7d+/+/vvvy8vLFy5cGBwcrKOjw3VQNVVZWXn79m2aWbh+/XpFRYWnp+fAgQMHDRrk7e3djDYEAJoRZBMAAACgJVB4xp6Ojo63t3dLesZeWlpacHDw8ePHAwMDw8PDzc3NuY5IneaYTaDEYnF4ePiKFSuEQuHSpUsnT57M+QMyaqu4uPjatWv0WLh7966uri57LOBWCACoR8gmAAAAQHNVWVl579492mq6fPlyeXk5vZFh+PDhAwcObDHXYysqKsLDw7/77jtra+tff/3Vz8+P64iq13yzCVR6evry5ct37drVvn37kJCQwMBAriOqI9pPJzIy8s8//8zLy7OwsOjXr5+fn9+wYcNsbW25jg4AmjdkEwAAAKCZYR+bFx0dnZ+fb2lp2bdv35baQLp69eqMGTNevHjxzTffLF68uLmM3t/cswnUkydPli5deuzYsd69e69bt65Pnz5cR1R3MpksLi6OHjVXrlwpKytrkak3AGhMyCYAAABAMyAWi2NiYqKiot6dcexFItGyZcs2b97cr1+/LVu2uLi4cB1RLbSMbAJ18+bNb7755sqVKyNHjly5cmXbtm25juhtyd8KoXBbUEs9mgCgISCbAAAAAE1URUVFfHw8bfP8888/MpmMfaajr69vc7lKXzdHjx6dPXu2hobGmjVrgoKCuA6n1lpSNoGKjo6eP39+YmLipEmTfvjhB0tLS64jqh/skKWRkZEZGRnsrRBDhw61s7PjOjoAaNKQTQAAAICmhb2R4dy5cwUFBewzHd9//31TU1Ouo2twz58/nzVr1oULF8aOHbtx48ZmusktL5tACJHJZPv27Vu0aFFRUdEXX3yxZMkSQ0NDroOqN1XdCkEfhtKSthQA6guyCQAAAMC9nJycS5cuRUdH//XXXykpKQYGBl5eXn5+fv7+/m5ublxH10hKS0tXr169evXqDh06bN261cvLi+uI6q5FZhOo4uLiTZs2rVq1SktLa8mSJV988YVAIOA6qHqGWyEAoCaQTQAAAABulJSUXL16lW2xaGhosDcy9OvXT1NTk+sAG9WlS5dmzpz5+vXr77//fsGCBc3uqYQKWnA2gcrLy1u3bt3GjRsdHR1DQ0NHjhzZUtvYCrdCmJub9+/fH7dCAABBNgEAAAAaWVJSUmRkZFRUVGxsbGlpKdubetCgQUKhkOvoOJCZmfnNN9/s3bt3+PDh4eHhDg4OXEdUD1p8NoF6/fr1ihUrduzY0aNHj7Vr1/bt25friBoQboUAAAXIJgAAAECDYy9vRkVFpaens5c3Bw8e3DIaz3XDMMzevXvnz5+vo6MTFhYWEBDAdUT15h3JJlB37txZuHDhxYsX/fz8NmzY0LFjR64janAKt0Joa2v7+PjgVgiAdw2yCQAAANAgJBLJ9evXVd563aVLFw0NDa4D5Fh8fPyMGTPu3Lkza9asFStWGBgYcB1RfXqnsglUdHT0119/ff/+/bFjx65evdrGxobriBpJamrquXPnzp8/Hx0dnZuba2lpOXDgwEGDBg36P/buMy6Kq/0b+Fl2QWkSuiAoYmzYRRBFlCgaCyQqYkUURaJGxa7xDoqxYEiigmIvEVCDWKJgR4yAsaIiisbYpXcFpO88L+b+z7P3lmGBhWHh933Bh52dnblmzpwp18ycM2JEk+n5AgCkQjYBAAAAFKaqqurRo0d0BiE2Nra8vJx+FtrZ2Xn48OEtW7bkOsBG4fPnzwEBAZs3b7a1td2zZ0/37t25jkjxmmE2gRAiFApPnTq1atWqzMzMhQsX/vDDD83q5R36VQg6s3Dz5s2KiorevXuPGDHi66+/tre3V1NT4zpAAFAwZBMAAACgrpg+HaOjo/Pz842NjQcPHuzk5DRmzJg2bdpwHV3jEhkZuXDhwo8fP/r5+S1cuLCpPqPRPLMJtPLy8t9///3HH38UCoUrVqxYvHhxixYtuA6qoYm+CpGQkKChoTFw4ED60SRra2uuowMAxUA2AQAAAGqjqKjo+vXrUVFRV69effPmjejVAl6clio1NXXx4sUnT550c3PbuXOnkZER1xHVo+acTaDl5+f//PPPQUFBhoaG//nPf7y8vJpq5qhab968od+DuHr1akFBQfv27YcPH+7k5DR8+PAvvviC6+gAoPaQTQAAAAB5VVZWJiYm0vcbb9y4IRQKmT4dHRwcmuENWDlVVlYGBwf7+voaGxvv2rVr+PDhXEdU75BNoKWkpGzYsOHgwYN9+vT5+eefhw4dynVEXBJ9E+qvv/6iKIrZgTg6OgoEAq4DBICaQTYBAAAAqsG8yHDlypWPHz8y3cINGzZMT0+P6+gau4SEhLlz5z558mTVqlU//PBDM8m5IJsgKjk52c/PLyIiwsnJKSAgoE+fPlxHxL3c3NyYmJjo6OiLFy9++PBBX19/6NChTk5Oo0aNMjc35zo6AJALsgkAAAAgRXZ29l9//RUdHX3p0qX3799raWnZ2dk5OTm5uLhYWVlxHZ1yKCgoWLdu3c6dOwcPHrx79+4uXbpwHVHDQTZB0t9//71y5cpbt265urpu2bLF0tKS64gaCzpfGRkZGR0dXVpaiqZbAZQFsgkAAADwXyUlJTdv3mT6dFRRUWGeQx4yZIiqqirXASqTiIiIBQsWqKio/Pzzz9OnT29uDUkgmyAVRVEnT55cs2bN+/fvZ86cuXHjRkNDQ66DakTEdkGi3cqiNRaARgjZBAAAgObu9evXkZGRUVFR8fHxzI1BJyenESNGNKv+7RTl5cuX33///dWrV93d3bdt26avr891RBxANoFFRUXF4cOH161bV1ZWtmrVqkWLFqmrq3MdVKOTkZFx5cqVqKgouqeY1q1bDx8+3MXFxcnJSVdXl+voAIAQZBMAAACap4yMjLi4uOjo6KioqLS0NENDQ0dHRycnp5EjR7Zt25br6JRVRUXF1q1b/fz8OnXqtGfPngEDBnAdEWeQTahWcXHxzp07N2/e3KpVK19f39mzZ/P5fK6DaoxE224Ua/wVz0wBcAvZBAAAgOaiuLj41q1bUp8i7tOnT7Ptvk5Rbty4MW/evHfv3q1YsWLNmjVqampcR8QlZBPklJOTs2HDhl27dnXs2HH9+vVubm5cR9SoMR3T0u25MG03Ig0KwAlkEwAAAJoy0dt6sbGx5eXlzIsMI0eO1NbW5jrApiAzM3PFihVhYWFjxozZuXNnu3btuI6Ie8gm1Mg///zj6+t78uRJOzu7gICAQYMGcR2REmD6mrl06VJhYSGzZxs1apSWlhbX0QE0C8gmAAAANEHMeTb9yrGxsfHgwYOdnJzGjBnTpk0brqNrOiiKCg0NXbp0acuWLbdv3z5hwgSuI+LMjh079u3bx3x88eKFiYkJk66ysLCIjIzkKDSlcffu3ZUrV964ccPZ2Xnr1q0dO3bkOiLlUFpaGh8fj7YbARoesgkAAABNRFFR0e3btyMjIyMjI9+8eaOhoTFw4ECcUtefx48fz5079969e/Pnz9+4cWMzf9Bj8+bN//nPf2R9a2Vl9fTp04aMR3lFR0cvW7bs2bNnnp6e69evb926NdcRKZOUlJQrV65cvnw5Ojo6Ly/P3Nx85MiRI0eOdHJyatWqFdfRATQ1yCYAAAAoscrKysTERKntkzk4OLRo0YLrAJVbaGhop06d+vfvLzb88+fPAQEB/v7+PXr02LNnT79+/TgJr1F5/fr1l19+KfXEUlVVddOmTStWrGj4qJSUUCg8derUihUrcnJyFixYsGbNGllXwkKhEC2eSFVVVXX//v1Lly5dunTp3r17Kioq9vb2dGahZ8+eyK4CKASyCQAAAMqHeZHhypUrHz9+ZF4YHjZsmJ6eHtfRNRFnzpxxdXU1NTV98eKFhoYGMzwyMnLhwoUfP3708/NbuHAhruUY/fr1e/DggeS5JY/He/36tYWFBRdBKbHPnz/v2LFjy5YtAoFg+fLlS5YskWza86uvvlJXVz979iy6NmCRm5sbExMTHR19/vz51NRUIyOjIUOGODs7u7i4oLNJgLpANgEAAEA5ZGdn//XXX3STY+/fv9fS0rKzs3NycnJxcbGysuI6uqbm6dOnNjY2paWlfD5/2bJlW7ZsIYSkpaWtXr06NDTUzc1tx44dxsbGXIfZuAQFBS1btqyyslJ0oIqKiq2t7a1bt7iKStnl5eUFBAQEBga2bdt248aNEyZMYO6rR0VFubi4qKioTJ06NSQkBPfb5fH06dOoqCi6Vdqqqir6YS5nZ+eBAwciMwhQU8gmAAAANJCcnJyLFy9Onz5d/p+UlJTcvHmTaV1MRUUFHa03gPz8/D59+qSlpVVUVBBC+Hz+3bt34+LifH19jY2Ng4ODR4wYwXWMjVFWVpaJiYlQKBQdKBAIgoKC5s2bx1VUTcP79+83bdp04MCBfv36BQQEDBkypKqqysrK6tWrV1VVVSoqKkuXLv3ll1+4DlOZFBcXx8TEREVFXbx48cOHDwYGBl999RWdnzUxMeE6OgDlgGwCAABAQ4iMjPT09MzNzU1KSurevTv7yK9fv46MjIyKioqPjy8tLWVeZBgxYoSOjk7DBNxsCYXCUaNGxcTEMPfYBQKBtrZ2SUnJ6tWrV69ejdYoWAwdOpS+5csM4fP5aWlpRkZGHEbVZDx58mT16tXnz593cnIaNGjQ+vXrmTN5Ho/3yy+/LFu2jNsIlRSzy42Nja2srOzTpw+9y3V0dBQIBFxHB9B4IZsAAABQvz59+uTj4/P777+rqKioqKgEBAQsWbJEcrSMjIy4uLjo6OioqKi0tDRDQ0NHR0cnJ6eRI0e2bdu24cNutlasWLFt2zbR62FCiIqKyoYNG9asWcNVVMri8OHDXl5ezOMJfD7fycnp0qVL3EbVxERHRy9fvvz169dFRUWiZ/I8Hu/gwYOenp4cxqbsiouLb926FRkZefbs2Xfv3unr6w8dOhR96wLIgmwCAABAPbp58+a0adOYZ+ZVVFScnJwuX75Mf0ufuUrtJr1Pnz54ibfhHTt2bNq0aVK/atWq1b///ot77Ow+ffpkaGhYXl5Of1RRUTly5Ii7uzu3UTU9mzdvXrt2rVjOixDC5/MjIyNHjRrFSVRNDN3YbWRk5NWrV8vKyqysrFxcXPCWGYAoZBMAAADqRWlpqZ+fX0BAgIqKiuhJf4sWLa5fvx4bG0s3A1ZeXs68yDBy5EhtbW0OY27mHj16ZGdnV15eLqubw8mTJ4eEhDR8YMrl22+/vXDhAv2eiJqaWnZ2tqzeDaF28vPzLSwsPn36JPkVj8dTU1OLiYkZOHBgwwfWVH3+/Pnvv/+Ojo4+e/bs8+fPtbS0HB0dXVxcRo8ebWZmJs8U3r9/v3HjxrVr18o5PoCyQDYBAABA8e7duzdlypR3796JtW/PMDMzGz58+PDhw4cNG4bb3Y1BdnZ2r169srOzZRUZIYTH48XGxg4aNKghA1M6ERERkyZNoihKIBCMHTs2IiKC64iamqVLl+7cuZN+3EkSn8/X0tK6detW165dGziw5oDpnffixYtFRUWWlpZ0T5ODBw+W7L+T8dNPP61bt65Vq1aHDh1ydXVtyIAB6hWyCQAAAIpUWVn522+//fjjjzweT+rpvqqqqqen5969exs+NpCloqJi6NChd+7ckSwyHo/H5/MrKysFAkHPnj137drVv39/ToJUFqWlpQYGBsXFxTwe7/Tp02PHjuU6oiYlOzu7TZs2lZWVLOfwAoHAyMjo7t27eNW//oh2uJOQkKCpqTlgwABnZ+dx48ZJtnRjbW394MEDHo9HUdSsWbOCgoI0NTU5CRtAsZBNAAAAUJjk5ORp06YlJSVJvs8sqmfPnomJiQ0WFVTr+++/37t3L1NqAoGgqqqKoigjI6PBgwfb29vb2dn17duX5d4jiPLw8AgNDdXS0srJyUEXGIpVXl7+66+/Pnr06PHjx69fv6bzXy1atKiqqhJ9rEYgEHTo0OHWrVu6urrcBdtcMA8ssJbznQAAIABJREFUXLp0qbCwkH55zdnZecSIES1atMjOzjY2NmauuQQCQevWrU+cODFgwABuwwaoO2QTAKCZiouLy8jI4DoKaFIuX7585MgRlufkGTwe78CBAzVqIsHGxsbCwqL2wf2ft2/f3rt3r+7TaUri4uJ27NhB/y8QCCwsLLp27dqpU6eOHTvq6ekRQnr16tWpU6d6DaCJ7Y4ePXq0efPmr776at68eVzHUktjxozR0NCop4mXlpZeuHCBPecoj6qqqqysrJSUlNTU1JSUlHfv3qWnp9NNYKqoqAiFwk6dOm3YsIHH4yki6uZOnv1AaWlpbGzspUuXLl68SLewMGzYsC+++CI0NJTp6IQQIhAIhEKhr6+vr68vn8+nB2LnXH/qtTo3dxQAQLOEHqRBuUyePFkhW/7kyZO5XhTlo6mp+fDhQ4Wsf6mwO2qErK2ti4uL66nET506xfXyQY3VdD/w5s2b3bt3f/PNN6qqqlLruIqKioODw4cPH+jxsXOuP/VanZs5PJsAAM0Uj8cLDw+fOHEi14FAE/Tp06e8vLzc/5OXl0d/zMvLy8rKys7OzsvL27p167hx4+ScIL2hnjhxou6xKXBSzYSrq+vNmzfLysquXr3ar1+/+pgFdkeNDY/H09bW7t2794ULF7S0tBQ+/RMnTtANVSp8ylBPar0fqKys1NXVLSoqkvqtqqqqmpragQMHJk+ejJ1zPanv6tzMIRcOAACgYK1atWrVqpVCXkwAzvH5fHt7+0+fPg0fPrz+EgrQ2Pj6+gYEBIwePRpXIEDqsB+4efOmrFQCIaSioqKysnLKlClRUVF0U68Kihf+B6pz/VHhOgAAAACARo3P5587d65fv37Dhw+/f/8+1+FAQ2jXrl10dPSzZ89Gjx7NcjUIzUft9gMXLlxgb72VfkTl6NGjV65cKSwsVECgIAHVuf4gmwAAAABQDXV1dSQUmptevXrhCgRE1WI/cO7cucrKyhYtWqipqamqqkodR01NTUdHh6Kojx8/KjRe+P9QnesJHqcBAAAAqB59IfHNN9/glYfmg74CcXJywjPSQKvpfmDu3LmpqalaWlra2tpaWlpffPGFtrY2/b+2traurq6WlhadZUDLKfUN1bk+IJsAAAAAIBckFJohXIGAmBrtB3x8fBosMKgWqrPCIZsAAAAAwCYlJSUiIoL5OGPGjIyMjKFDh8bHx/fs2ZPDwKD+3L59m8fjMR9XrVr1008/OTo6xsfHt2zZksPAgCvYDygvVOf6g2wCAAAAgExLliwZOHDgrVu3JL/y9/c/fvx4w4cE9W3JkiXbtm3btm2b2PCEhIQLFy6MHz+ek6iAQ9gPKC9U53qFVhgBAAAAZBowYAAljZubW1VVFdfRQb3YunWr1EInhFRWVnIdHXAA+wHlhepcr5BNAAAAAAAAAICaQTYBAAAAAAAAAGoG2QQAAAAAAAAAqBlkEwAAAAAAAACgZpBNAAAAAAAAAICaQTYBAAAAAAA4U1hYyHUIUjTOqBSLoqhHjx6VlZVxHQgoK2QTAACao5iYGDs7u7dv33IdSH1p8gsI9QRbjmJhfQK74OBgBwcHOzu7hp81y8a5d+/eIUOGdO3atcGDalDHjh3r0KFDnz59CgoKuI4FlBWyCQAAzVF+fv6HDx+Ki4uZIenp6RzGo3CSC1hTTWyFgJzqvuWAKNREYPfdd999/PhRKBQqcJpybjMsG6eXl5dQKKyqqlJgVI3Q1KlTJ0yYwHUUoNyQTQAAaI5cXV1TU1O7detGfywoKJg6dSq3ISmW2ALWVNNbISCnOm45IAY1EdgJBII2bdoocILybzMsGyefzzczM1NgVI2Wvr4+1yGAckM2AQCguSsuLp44cSIeRWZghQA0BqiJUFPYZgAaGLIJAAAyZWZmzpkzZ8OGDXPmzBk3blxubu7ly5cFAoGamlpUVFRpaamXlxePx+vcufNff/1FCHn//r2dnd2ECRMSExNnzpwZEBCwZMmS+fPnVzsjqeNTFLVnz5558+b1799/xIgR//77LzP+hQsX5s+f7+PjM2DAgP379xNCwsPDtbW1zc3NCSEfP37csGEDn88fMGAAISQ1NXXLli3du3fPy8v7+uuv27Vrl5ubm52dvXPnzjt37hBCzpw58/z585ycnDlz5vz6669nz57V1tbm8Xjbt28vLy8nhNy6dcvExGTz5s3VLsj9+/fnzJkzdepUW1vbvXv3VlZWygqAEHLy5MmFCxcuX7581KhRP/74I90KFMuCJCcn/+c//7GyskpNTf3222/19PRsbW1v374tNRLRBXz06NGKFSssLS2Li4u9vLwMDAxsbW1fv34ta+WLrRCpW0K1k5VaTOzF2kjExsYaGhryeLwff/yRHnLt2rVWrVqtW7dO6nqQVb6MBqtHUsN7+vTpmjVrOnfunJKS4ufn17Zt227dul2/fr20tHTJkiUdOnRo27bt5cuXmYmIbjmNh/IWCmpirSlvoUuOz7JjZ1y7dm3EiBF6enpff/01XXzsJSu1BCW3GRaSlf3s2bPe3t6rVq1atGhR43zFRuFbhaioqCg+nz9p0qSzZ88SaWu4dqcH7OWokP1246/OTRkFANAsEULCw8PZx3F0dJw0aRL9f69evdzd3SmKmjJlipqaWnFxMUVR5eXl5ubmTk5OzE/c3NxevXrVuXPn+Ph4iqI+f/7s4OBQbTBSx/f39//9998piqqsrLSysmrdujU905CQkClTplRVVVEUtWnTJkLItWvXKIoaMWKEmZkZM80ePXrY2dlRFHXx4sUuXbrw+fx169bt27fP1tb2xIkTDg4OhJCTJ0/SIzs7O1tYWDC/Xb16NSHk3r179MeysrL+/ftXuxRv377V1NR88+YNRVEeHh6EEGtr68WLF0sGkJqaunXrVnt7+/LycoqicnJyOnbsOHjwYKFQyLIgsbGxVlZWfD5/8eLF169fP3XqlL6+voaGRlpamlgk8fHxoguYnp7u5ORECPn++++fPn368OHDFi1aTJ48mWXli60QqVsC+2RlFZOsYmXn5ubm5uZW7WjykGdS9Fn46dOn6Y8VFRUODg5CoVDqepBavqJTa7B6JHVGWVlZ06dPJ4R4e3snJCR8+vSpf//+lpaWCxYsSE5OLiwsHDhwoKWlJf0rsS2HnQILRZ7dkTIWStOrifKUlDzCw8PlOQlXxkKnZBSlrB07RVEjR47U19efNWvWpUuXdu3apaGhYWpqWlRUxF6yskpQbJuRRbKyHz161M7OrqSkhKKonJwcQ0PD1q1bVzudBt45U4reKrZs2UIIycjIoChq5cqVW7duZb6SuoZrcXrAXo5132/LCrXaNamo6tzMIZsAAM2UnNmEzZs30/9PmzatZ8+eFEXFxMQQQo4ePUoPX7x4sZqaWl5eHkVRJSUl48ePpxP2O3bsoEc4duwY+1ykjp+ammpsbEyfAVMUtXbtWkLIH3/8kZWVpaOj8/r1a3p4VlbW+PHjk5OTKYoaO3as6LmanZ0dc642e/ZsQsjLly+Zb69cucKSTfjw4YNAIPDy8qI/RkVFbdiwgX0pKIpavny5ubk5/f+LFy8IIXv37pUaQGZmpqamZmhoKPPbw4cPE0JCQkLYF8TT01MgENA5COr/zsjXrl0rGYzYAv7www+EkJycHPrjoEGDOnbsSMlY+ZIrROqWwDJZWcUkq1irXbcNfMJaVFSkp6fn6upKf4yKigoODqZkrwfJDUxUw9QjlvCCg4MJIY8fP6Y/rlu3jhDy8OFD+qOvry8hJCsri/4otuWwaOBsgpIWShOriQ2cTVDGQpc1PsuOfeTIkaampsxX9F33wMBASnbJspSgnNkE6n83zuLiYhMTE9GlGz9+fOPMJih2q6CzCWlpaatXr2YyFJTsNVy70wNZ5cgStvz7bc6rczMnqPnTDAAAzcX169cJISUlJUePHr179y5FUYQQR0fH9u3bh4aG0u08PX78uLKyMiIiwtvb+9SpU66urqqqqiNGjPDx8UlOTt68efOUKVPY5yJ1/L///ruiouK7775jRvPy8lJXV4+PjxcKhe3bt6cHGhoanjp1qtoFUVVVFQgEHTp0YIZoaGiwjG9mZubm5hYWFubv729gYHDixAn6QM4uNTX18+fP9P8dO3Y0MDD48OGD1ABu375dXFxMP/VKc3Z2JoT89ddf9O0IWfh8vkAgUFVVpT+OGzdOTU0tKSlJckyxBeTz+YQQgUDALODLly+JjJUvSeqWwDJZWcV08uRJqcXKssic0NTU9PDwCA4OzsnJMTAwCA8PDwwMJLLXg+QGJqph6hFLeHQxqaj89+1OunE1Zitq27YtIYS+FUmqqxocUtJCQU2sC2Us9FpsJISQVq1aMf97enpu3LgxISGByC5ZWYdIeebFEN044+Li0tPTe/TowQxRU1Or0dQajGK3Ctr333/funXrcePGMUNkreHanR7IKkeWsOXfbytkY4BaQ7sJAAAyVVVV+fv7z5gxo1OnTv3796cH8ni8GTNmXL16NSMjIz4+3tbWdtiwYWFhYYSQU6dO0Qfj06dPT5o0affu3Z07d46Nja12RpLjP3v2TFNTc///+uabb548eVJRUcEcbuvPkiVLSktL9+3bV15enpOTY2lpWe1PRo8enZube+3aNUJIQUFBUVHRyJEjpY757t07QkheXh4zxMDAgH5noUZBqqqqmpqa0q0z1Jo8hSV1S2Ahq5hkFWtd4q8n3t7eFRUVYWFhBQUFfD5fV1eX1Hw90BqsHskZHo/Hk/yo2A7q6okyFor8UBOlUsZCr+NGYmFhoaamVlJSwjKOwkvw+fPnRORitZFT4FZB09DQ2L9//61bt5ghLGu4FqcHLOq+31ai6twkIZsAACCdUCgcPXp0UlLSiRMnBg8eLPrVjBkzhELh8ePHg4ODFy5cOGPGjPj4+JiYGBMTEzodrqqqeuzYsdDQUELIiBEj6NMUFpLja2hopKSkpKSkiI6WnZ3dqlWr0tLS5ORk0eF0+4WKZWNjY29vHxwcHBUV5eLiIs9P3N3d9+3b5+Hh4evru2zZsuPHj9vb20sdk75VKNpMGq1z5841jbO8vLwWvxJVbWGxbAmyyComWcVal/jrSdeuXR0cHA4dOhQeHj5t2jRSq/XA/ivF1qPahadclK5QagQ1USplLPQ6biQqKioCgaB79+4s4yi8BOknEehMd+OnqK2CsWnTpi5dukyZMqWgoIAewrKGa3F6IItC9ttKVJ2bJGQTAACku3v37pUrV4YNG0Z/FL3BZWFh4ejouGPHDnV1dVNT03HjxmlpaU2bNs3T05MQUlZWtnv3bkKIu7v77du3hUIh/WKqLFLH79GjB0VRq1atYkZ79erVrl27+vXrRwjx9fVlbqUmJCQcP36cECIQCIqKiqqqqujhRUVF8t9uVVFRKSoqEhu4fPnytLS0ZcuWubm5yTOR0tLSFy9eJCYmbtiw4eDBg2PHjpU1pp2dnba29p9//skMod+SoG8myL8gWVlZGRkZrq6u9Mda3F6WVViiK4RlS5BFVjHJKtaaht0wvL29k5KSQkJChg4dSmq4HpgFb7B6VItiUkbKVSjyQ01koVyFLmt8+Xfsb9++raiomDhxIstcWEpQ6uGsWj179iSEREREMEOEQiETbSOkkK2C0bJly9DQ0PT09Dlz5tBD2OtITU8PZFHIflu5qnPTg2wCAIB09HN0R44cSUpK+v3335OTkzMzMx8/fpyZmUkI8fT0fPPmzaJFiwghGhoabm5uBgYG9JkrIeTgwYP0WYiZmZmOjk6fPn3Y5yU5/vDhw21sbI4dO+bq6hoWFrZr167vvvvu+++/t7e3HzVq1JkzZ5ycnIKDg1euXLl+/Xp3d3dCSI8ePQoKCvz9/V+8eLFx48aysrIXL148ePCAEEKfwzH3HAgh9FLk5OTQH01NTXNychISEm7cuMG0feDi4mJubt6rVy99fX151tjOnTuvXbt28uTJP//8Mzo6+uHDhxUVFfRXYgEYGBj4+/vfvHmTfi2CEBIUFDR9+nT6rIhlQQghZWVlTEMJmzZtcnd3t7OzI4Rs3brVwMDg2bNnUhfw48ePhBDmnYjMzEy64W5ZhSW6QugHbqVuCbImK6uYZBWrPKu34U2YMEFXV3f48OH0m6ssNUKsfEXLosHqEcuMPn36RESKiS415s5VYWEhEXnAR2zLaWyUq1AIaqIiKF2hSx2fZcfO5/Pz8/OLi4sJIRRFbdiwYd26dV26dCGyNxiWEpR6OJNKdOO0t7cfMmTI4cOH9+zZ8/nz53v37sXHx2dnZx87dox9IlxRyFZBCKFXe2VlZe/evdevX3/y5El/f39CCHsdqenpgaxyVMh+W7mqcxNUfw08AgA0ZkSOtnznzp2rra1tZ2cXHR19/vx5AwODCRMmFBUVURRVUlKyaNEiZsyHDx8yPRSUlpba2NiMGTMmICDA29t737597HORNX5ubu60adOMjIwMDQ09PDyYXp2Ki4vnzZvXpk0bY2PjefPmFRQU0MM/fvzo4uKipaVlZ2d37969WbNmzZw58/z58/v376ebl5sxYwbdHvL169cdHR0JIba2tlevXqUoKjEx0czMrFOnThEREaKxfffdd2JDWMTExBgZGTFtJhFCLCws3rx5IxkA7cyZMyNGjFiwYMHatWt//fVXuntIlgWhKMrLy0tVVdXT03PChAleXl7r169nmnEOCgoyMzN7/vy55ALGxMTQ71bMnz8/KysrLCxMU1OTEOLn51dcXCx15YutEKlbQmRkpKzJVlZWyiomWcXKruGbDaf5+vqmp6czH6Wuh+3bt4uVr2hZyPqVwuuRrBlFRkbSdx2nTZv28uXLGzdu9O7dmxAyevTox48f37x5s2/fvvS3r169kqwailqT7OTZHTGUqFCaXk2sUUmxkLNPB4YSFbqs8Vl27ImJiZMnTx45cqS3t7ePjw/TAwjLBlNZWSmrBGUdzsRIVvaCggJPT09jY+O2bdv6+fl5e3t7enpGR0czRxmpuNo5U4rYKo4fP96pUyd6Db948eL27dt024deXl7//vsvex2R//SAvRzrvt+muK7OzRyPaorPAQIAVIvH44WHh7M/Swm2traxsbEtW7aUZ+TQ0FAdHR1nZ+fc3Nzs7OzU1NTExMScnBy6AyqFmDNnTlhYGHvrXE0SvaGeOHGiUU2qmVPgmsTuSFkoqqROnDgxadIknIQ3Ac1251yj04PGCTtehUAPkQAADcHMzExWW4khISGjRo1q4HjkERMTM3ToUNFzBZal8PHx2b17d2pqKiHE0NDQ0NDQysrK2tr62LFjDRQuNAPKWI+aPBRKM6Qsha4scSqdGp0eYFU3bcgmAAA0BLHWhhuzuLi4uXPndu/ePSkpSaxzL5alOHLkSFpa2oYNG8aMGdO1a9fCwsLbt29fvXo1ICBAgbHl5eWVl5cXFRVpaWkpcLKgLJSoHjUfKJRmSFkKXVniVBa1Oz2Apg2tMAIAwP/Q19cvLS29f//+nj17DAwM5PyVu7u7r69vcHCwtbW1kZGRi4tLXl5eYGAg3cGYQvzwww+XL18WCoWLFi2Kj49X1GQBAACgWrU7PYCmDc8mAADA/7Cysnr16lVNf8Xn83/66aeffvrp8+fP6urqdEPNiuXv70+3NQ0AAAANrHanB9C0IZsAAACKpKGhwXUIAAAAAFDv8KYDAAAAAAAAANQMsgkAAAAAAAAAUDPIJgAAAAAAAABAzSCbAAAAAAAAAAA1g2wCAAAAAAAAANQMsgkAAAAAAAAAUDPIJgAAAAAAAABAzSCbAAAAAAAAAAA1g2wCAAAAAAAAANQMsgkAAAAAAAAAUDPIJgAAAAAAAABAzSCbAAAAAAAAAAA1I+A6AAAAzty+fZvH43EdRe0JhUIVFSSF5aLs6+rDhw/m5uYKnFpERISiptZsKbZQlH13BLWAatgEYOcMzRyyCQDQTJmZmW3btm3btm1cBwIglwEDBihkOmZmZhERERMnTlTI1Jo5BRYKdkdKQSAQmJiY1H06JiYmAoEA1bBpwM5ZSSmqOjdzPIqiuI4BAADkdeXKlV9++SU6OrpPnz4rVqyYMmUK1xEpAYqijh8//uuvvz58+HDo0KErVqz4+uuvcR8YAAAAoC6U+LFPAIDmQygURkZG9u/f/+uvvy4pKTl37lxCQgJSCXLi8XhTp0598OBBXFychobG6NGje/XqtW/fvtLSUq5DAwAAAFBWyCYAADRqxcXF+/bt69Kly9ixY42MjO7cuRMfH+/i4oJb67UwaNCgyMjIR48e9e7de8GCBe3bt/fz88vPz+c6LgAAAADlgzcdAAAaqezs7ODg4J07dxYVFU2cOPHHH3/s1KkT10E1HRkZGXv27AkMDKyqqvL09Fy+fLkCW9ICAAAAaPKQTQAAaHTevHmzffv2AwcOaGhofP/99wsXLtTX1+c6qKapsLDw0KFDv/76a1ZW1qRJk1auXNm9e3eugwIAAABQAsgmAAA0Ig8fPty2bdvx48fNzc19fHzmzJmjoaHBdVBNX3l5+R9//BEQEPD06VN7e/tVq1a5uLhwHRQAAABAo4Z2EwAAGgW6NYS+ffsmJSUdPHjwxYsXPj4+SCU0DDU1NQ8Pj6SkpKtXr+rq6n7zzTd9+/YNCQmprKzkOjQAAACARgrZBAAALlVUVERERNjY2Dg4OOTn5587d+7hw4ceHh4CgYDr0JodHo/n5OQUGRn54MGD7t27z549u1OnToGBgcXFxVyHBgAAANDo4E0HAABuFBUVHTx4cOvWrSkpKaNHj167dq2NjQ3XQcH/x7ReoaqqOmPGjFWrVpmamnIdFAAAAEBjgWwCAEBDy8rK2rVr144dO8rLy2fNmrVs2bK2bdtyHRRIl5OTc/DgwcDAwLy8vIkTJ65Zs6ZLly5cBwUAAADAPWQTAAAazqtXr4KCgvbv36+lpTV//vxFixbp6elxHRRUr6ysLDw8fPPmzf/+++/o0aN/+OGHgQMHch0UAAAAAJfQbgIAQEN48OCBh4dH586do6Ki/P3937175+fnh1SCsmjRooWHh0dycvKff/6Zm5trb28/aNCgiIiIqqoqrkMDAAAA4AayCQAA9YiiqOjoaBcXF2tr66dPnx46dIjurEFdXZ3r0KDGVFRUXFxc/v7777i4OFNT08mTJ3fp0iUwMLCkpITr0AAAAAAaGt50AACoF+Xl5X/88UdAQMDTp0/t7e1XrVrl4uLCdVCgSC9fvtyxY8e+fftatWo1b948vLcCAAAAzQqyCQAAClZYWHjo0KHffvstIyNj8uTJK1eu7N69O9dBQX3JzMzcvXs306bm0qVL27Vrx3VQAAAAAPUO2QQAAIWhLyyDgoIqKipmzZq1fPlyc3NzroOChiDW36evr6+trS3XQQEAAADUI2QTAAAUQOyhdx8fH11dXa6DgoZWUVHx559//vLLL/fu3aNfb3F2dubxeFzHBQAAAKB4aIURAKBOEhISPDw8unTpcv78+S1btrx9+9bPzw+phOZJVVXVzc3t7t27cXFxurq63377be/evUNCQioqKrgODQAAAEDBkE0AAKgNoVAYGRk5aNCgfv36JScnHzp06J9//kFnDUAbNGhQZGTkw4cPe/XqNXv27Hbt2vn5+RUUFHAdFwAAAIDC4E0HAICaoTtr+Pnnn589ezZmzBgfHx8nJyeug4LG6927d7t3796zZw9FUTNnzlyxYoWZmRnXQQEAAADUFbIJAADyojtr+OWXX7KzsydNmrR69WorKyuugwLl8OnTp8OHD2PjAQAAgCYD2QQAgOplZGTs2bMnMDCwqqrK09MTt5ehdkQfbBk2bNiiRYtcXFy4DgoAAACgNpBNAABg8+TJkx07doSEhOjo6MydO3fx4sVffPEF10GBchMKhefPnw8KCoqOju7bt6+Pj8/UqVMFAgHXcQEAAADUALIJAADSxcfH//zzz+fPn//yyy+///777777rmXLllwHBU1KQkJCYGDgsWPH2rVrt2jRojlz5mhoaHAdFAAAAIBckE0AAPgf9H1jf3//W7du2dvbr1q1ytnZmcfjcR0XNFmvXr0KCgo6cOCApqbm/PnzFyxYYGBgwHVQAAAAANVAD5EAAP9VVlYWEhLSrVu3sWPH6uvr37x5Mz4+3sXFBakEqFcdOnQIDAx8+/bt/Pnzd+7caWZm5uHh8c8//3AdFwAAAAAbZBMAAMinT58CAwMtLS3nzJljY2Pz5MmTyMjIgQMHch0XNCOGhoZ+fn6pqan79u27c+eOlZWVi4vL7du3uY4LAAAAQDq86QAAzdq7d+927969Z88eiqJmzpy5cuXKNm3acB0UNHf06zabN2++ffs2XrcBAACAxgnPJgBAM/X48WMPD4+OHTseOXJk8eLF7969CwwMRCoBGgMVFRUXF5dbt27FxcXp6up+++23nTt3DgwMLC0t5To0AAAAgP/CswkA0OwwnTV07959+fLlU6ZMUVVV5TooAJmSkpJ27tzJdFPq4+Ojq6vLdVAAAADQ3CGbAADNBf30+KZNm+7cuYOnx0HpZGRk7NmzJygoqLKy0tPTc/ny5ebm5lwHBQAAAM0X3nQAgKaP7qzByspq7NixhoaGt27dQmcNoHRat27t5+f37t27DRs2nDlzpkOHDhMnTrx//z7XcQEAAEAzhWwCADRlOTk5P//8c/v27b29vW1tbZOTkyMjI+3s7LiOC6CWtLW1fXx8Xr58eeDAgWfPntnY2AwaNCgyMhJPGgIAAEADQzYBAJqmt2/f+vj4WFhY+Pv7u7m5vXnzJiQkpHPnzlzHBaAAampqHh4eSUlJdDON33zzTd++fUNCQiorK7kODQAAAJoLtJsAAE1NYmLib7/9dvz4cTMzs8WLF3t5eWlqanIdFEA9evjw4bZt27DNAwAAQEPY4Od/AAAgAElEQVRCNgEAmg6ms4aePXsuXbp06tSpAoGA66AAGsibN2+2b99+8OBBPp8/c+bMVatWmZqach0UAAAANFl40wEAlJ5QKIyMjLS1tXVwcMjPzz979uzDhw89PDyQSoBmpX379oGBgampqT/99NPJkyfbt2/v4eHx7NkzruMCAACApgnZBABQYsXFxfv27evSpcvYsWONjY3v3LmDzhqgmdPR0fHx8Xn9+vX+/fvv3bvXvXt3FxeXmzdvsvzkyJEjCQkJDRYhAAAANA140wEAlFJ2dnZwcPDOnTuLioomTpz4448/durUieugABoXoVB4/vz5LVu2/P3339bW1osWLZo2bRqfzxcd5/3795aWlmpqahcvXhwyZAhXoQIAAIDSwbMJANC4vHv3jr1d+jdv3tCdNQQHBy9YsCA1NTUkJASpBABJKioq9IMJcXFxlpaWs2bN6ty5c2BgYElJCTPOtm3bVFRUysrKvv7668uXL3MYLQAAACgXPJsAAI3IiRMnpk2btmHDhtWrV0t+yzRcb25u7uPjM2fOHA0NjYYPEkBJvXz5cseOHfv379fW1p43b97ChQtVVFTatGlDJxd4PB6fzw8PDx8/fjzXkQIAAIASQDYBABqLkJAQT09PoVCor6+fkpLSsmVL5iu6s4aoqKjevXsvWbIEnTUA1Fp6enpQUNCePXsqKyv79+9/48YN5mkgHo/H4/F+//336dOncxskAAAANH540wEAGoX9+/fPnDlTKBQSQgoKCkJDQwkhFRUVERERNjY2dGcN586dQ2cNAHVkYmLi7+///v37tWvX3rlzR/TFIoqihELhzJkzDx8+zGGEAAAAoBRwRg4A3NuzZ8/8+fOZR6WEQuGmTZuKi4u3bduWkpIyevTou3fv2tjYcBskQFOira2tq6v7+fNnya+EQuHs2bOLiooWLlzY8IEBAACAssCbDgDAsV9++WXlypViA3k8XosWLby9vZctW9a2bVtOAgNowiiK6ty586tXr+gHgqT67bffli5d2pBRAQAAgBJBNgEAuPTzzz9LbXCRz+d369YtMTGx4UMCaA4iIyO/+eabakfbtGnTmjVrGiAeAAAAUDrIJgA0CyUlJXl5ebm5uXl5eXl5eZqamnp6egYGBnp6ejo6OlxFtW7dup9++ollhNjYWAcHhwaLB6D5mDx5cnh4uEAg4PP5QqGwoqJC6mg8Hm/+/PlDhgxp4PAarTFjxqArGQAAABqyCQBKrKysjEkQ0OiPOTk5YkNEu5cXw+fz9fX19f4P8z/zD5100NPT09bWVlTkFEUtW7Zs+/btLLsggUAwfPjwCxcuKGqmAMBIS0tLSEjIyMhIT0/Pzs5OTU1NSUnJyMjIzs4uLS3lOrrGy9raOjY2FgkFAAAAgmwCQONUUlKSnp6elpaWzyojI0O0Crds2VJXBlNTUxMTE/p/AwODqqoqqRMUm2lOTo7YHUt6FqJTk8rExITH48laOqFQOH/+/P3797O8sE3j8XjPnz/v1KlTHdcnAMivuLg4PT09MzMzMzMzLS1t9+7dhoaGf/31F9dxcY/H42lra/fu3fvChQtaWlpchwMAAMAx9OkA0HBKSkqkXrSLyczMFL3MlswRWFpaSqYJ9PX1W7RoIX8w6urqpqam8scsNePw+vVr+p/s7GzRfuYIIXROQTLR8MUXX4SGhl67do0QoqKiwufzCSGVlZVMWkRVVVVPT8/U1NTMzKxdu3b6+vryLxQA1J2mpuaXX3755Zdf0h9jY2O5jadR8fX1DQgIGD16NBIKAAAAyCYA1JXo9TZLmiArK6uqqor5FXuOgMkUtGnTpkY5AoVTV1evXd5BbFUweQfR9SAUClVUVDQ0NOjO6vT19Vu3bm1sbCy6Ep49e2ZqampqatqyZct6XlYAgGq0a9cuOjrayckJCQUAAABkEwCkY78nz6j2nrxkjoBOE+jq6nK1aPWkFnkHqas0ISFBzmc0JNeqiYlJTZ/RAACokV69eiGhAAAAQJBNgOZGMkcg9ZpWansBoo0FSM0R6FbXXgDQmLxDt27d2Meky0vWEx/M8w61bj9CTU2tnpcVAJogJBQAAAAIsgnQNEjNEUhmCnJzc8vLy0V/yFx20heZsnIErVu3VlFR4WrpmjMm72Btbc0+Zn5+PktTFEzeIT09XfRXsvIOYs1MGhoaqqqq1ueCAoCSQUIBAAAA2QRovFhyBKJpgry8vLKyMtEfil4i0heiUq8YjY2N6SYAoQmgy7Ta0UpLS/Py8li2q9evX9ObllgneZJ5B6kdWxgZGQkE2K8CNFm3b98WfQBt1apVP/30k6OjY3x8PNp2AQCA5gY9REJDY88RiGYKcDkHHKp2Q6W3UvZklqytFMksUCITJ04khJw4cYLrQLi3dOnSbdu2Sf3q1KlT48ePb+B4AAAAuIVsAihMPuuj5swFWH5+vuivpD5qLnkBhkfNodFS1Is2khWBhhdtgFvIJlSLx+OFh4fTKwoAAKD5wC1cqEZJSQlLr4eMapvBY5okQDN40MTUuhNNsaQD07iD1EZAq0066KIRUAAAAABoQMgmNFPsXfQxqu2iT7TZQuZSBzkCAKnqkncQrapM3qHaDkplkScGAAAAAAAWyCY0KaJXICxpgqysrKqqKuZX7DkC5tqjTZs2LVq04HDpAJqPWucdxCo+k3eottZLzTiYmpqiYTkAAAAAkArZBCXAfpeSUe1dSqndH5qamurK0RI+ADROtcg7SN2BMHmHap9IktyHmJiY6OvrI9sIAAAA0Kwgm8AZqW9QS57lS32DWvT1aak5Al28QQ0A/4vJO3Tr1o19THrvJOv5JibvUG1rKWIZB/p/vAkFAAAA0DQgm6BgimrdXVaOoCm17l5YWKitrc11FM1OVlZWdHR0dna2k5NTtVeVjUFRUZGWllbjmU5zwOQdrK2t2cfMZ+3Jhck7pKeni/5KVt5BrJlJ9OQCnMNxCgAAgAWyCXJh73meSROw9zxPn5pLPYdukj3Px8TErFmz5o8//rCwsBD7au/evceOHXv16lVKSkqNpnn06FF3d/cpU6b06tWrb9++w4cPP3DgQFBQ0OPHj69fv+7h4ZGYmKinp9cAi6Ck/vnnnxUrVgQHBy9cuHDFihU5OTmtWrWq75nWdDVmZ2ebmJjcv3//6dOnhw8ffvr0qdi1aE0dPXqUZTqclDKzjL1791bgZKVWhydPnpw/f/79+/e7du1avHjxtm3bFDhHeg9W7WilpaV5eXkse9HXr1/TO9LS0lLRH0rmHaR2bGFkZCQQ4HAGNVYfxykAAIDmo1mffrHnCJhMQWpqKkuOQFdX18TExNraGie4YvLz8z98+FBcXCz5lZeXV1hYmGibcDWyY8cOfX19+v+PHz/m5OQQQj5//pySkqLYpAzLIohKT083MTGp++wUNR0Wa9as6d69u7m5+ZEjR86fP98AqQQi92pknDlzpl27dr179+7Ro8eBAwfEWgOphcmTJ7NMp6bhKQSzjIqdrNTq0L179+7duxNCoqKiFDs7+dHvZ9WlE01GcnJyWloae+pWVtKhqaZuodbq7zgFAADQHDTNa9181odvmTRBfn6+6K+kdm0geUqKh2/l5Orq6urqKvUrPp9vZmb28uXL2k1ZNEfTpUuXzp070/+0bt1aR0endtOUimURGAUFBVOnTr1+/Xod56Wo6bC7fPmyra0tIURHR2fq1Kn1Oi+GPKtR1MmTJ93c3Mj/bSdPnjypYwDs06lpeArBLKNisVcHDQ0Nhc9R4erSiabo7v3p06fx8fH5crxWJvV5Md2m9VoZyFJ/xykAAIDmQJmyCSUlJSy9HjKqbRiMaZJA9FQSOQIlxVw+WVhY9OzZs4HnXlxcPHHixLdv3zaS6bArKSlp4DvwtZCXl3f9+vXNmzdzHUg9qr9l5LY6NLC65x3oAwrTuIPUJm+rTTrooslbAAAAaK64zyawd1rGqLbTMtFmC5mTPzQeLktycvLRo0fPnDlz9erV+fPnx8XFffnll0FBQXZ2dqmpqaGhoWFhYbGxsVOmTHn+/PmDBw/09fVPnjx548aNFi1aPH361Nra2tfX986dO66urjk5Of/5z382btxICLl27dq4ceOWLFmyfv367Ozs8PBwGxub/v370zM9e/bs+fPndXV16cQQEwxFUXv37k1MTHzw4IGOjk5wcHDHjh2lhiG5IBYWFhMmTCCE8Pn8pUuX0gOl/lZPT09yLvT49+/f37t3b3Fx8cuXL2fPnj179mz68QexRUhMTNy2bZuVlVV6enpZWdmuXbvOnDnz/Pnz/Pz8OXPmdO7cecqUKWLzXbdunY+PT1FR0bZt2+bPn6+mpnbr1q3x48cvXLhwzZo1zFKITWf58uVyrpPIyMgLFy6ILWllZeWPP/7Ytm3b9+/f5+TkHDhwQF9f/8iRI9HR0YSQiIiIly9ffvnll6tWrZIs0xYtWkjOJTQ09NKlS6dOnbp27dqBAwcOHTqkra29c+fOAQMG/PDDD+fOnauoqNi/f//XX38tdWOT3BKkzpf+6s8//2zTpk2/fv1Ep5CRkTF37tzY2FgLC4uwsDArKytCSGZmpuRiSi0m9ulIhnfhwoWoqChVVdW7d+/OmjVrzpw5LGFLrq6wsLBLly5JrVySyyi5FPfv3x8zZoyKisrp06ednJwWLFhw8ODBTp067d2719HR8f379xMnTjQzM/P19ZVcTKnVAeqSdxA9MDF5h2q745VFnhiUUWxsrKxjwfz58yXrqayjTLVTmzRpkqwjF/1bWZVXFvmPUwAAACAFVT8+f/6cmpr65MmTuLi4EydObN++fd26dYsWLZo+fbqzs7O9vb2VlZWJiYnY+6stW7Y0MTGxsrKyt7d3dnaePn36okWL1q1bt3379iNHjpw7dy4uLu7Vq1elpaX1FHbzERsba2VlxefzFy9efP369VOnTunr62toaKSlpV28eLFLly58Pn/dunX79u2ztbVNTU3dunWrvb19eXk5RVE5OTkdO3YcPHiwUCj89ddfCSGnT5+mJ1tRUeHg4CAUCuPj4x0cHAghJ0+epL86evSonZ1dSUkJPQVDQ8PWrVvTX/n7+//+++8URVVWVlpZWbVu3bq4uFhqGGFhYYSQgoIC9qWT+lupc6Eo6u3bt5qamm/evKEoysPDgxBibW29ePFiyUXo3LlzfHw8RVGfP392cHCgBzo7O1tYWLDMd/Xq1YSQe/fu0eOUlZX1799fMmbR6ci/Tg4ePCg5R0dHx0mTJtHT6dWrl7u7O/0//Ub9xo0b6Y+yylRyLo8ePZo+fTohxNvbOyEh4dOnT/3797e0tFywYEFycnJhYeHAgQMtLS2lloXkapQ1X/rbUaNGLVu2jPm5u7u7pqbmokWLnj179vjxY01NzTFjxtBfyVpMqcUkazqS4YWEhEyZMqWqqoqiqE2bNhFCrl27VqPV9ccff8iqXJLLKHUppkyZoqamRm+f5eXl5ubmTk5OzDpxc3N79eqV1MVk16VLl8WLF8szJlRL9Bh37ty5vXv3KvAYR+8nGw83Nzc3Nzf2cWQdC6Ru4VJ3lfJMjeXIRcmuvLLU6DjFjhASHh4uz5gAAABNSc2yCWLnT0eOHNmyZYvk+ZNk04O6urrs509PnjzJz8+vp4UEqTw9PQUCAX11RFFUeHg4IWTt2rUURc2ePZsQ8vLlS/qrzMxMTU3N0NBQ5reHDx8mhISEhBQVFenp6bm6utLDo6KigoOD6f+vXLnCnKUVFxebmJgcO3aMmcL48ePps7TU1FRjY2P6/I+iqLVr1xJC/vjjD8kwKIqSM5sg+VuWuSxfvtzc3Jwe/uLFC0LI3r17JReBfvV6x44d9FfMsohlASRj/vDhg0Ag8PLyYlbRhg0bJAMWnU6N1onkEEdHx82bN9P/T5s2rWfPnvT/otkEljKVOs3g4GBCyOPHj+mP69atI4Q8fPiQ/ujr60sIycrKklwusdXIPt/8/HxVVdVbt24x37q7u+vo6DBb6VdffWViYsKymLKKiWU6ouFlZWXp6Oi8fv2a/iorK2v8+PHJyck1XV0slUtsGaUuRUxMDCHk6NGj9PDFixerqanl5eVRFFVSUjJ+/HhZi8kO2QROMMfNq1evHjlyRFZuXayNhmrzDvfv309NTW2Y3Lo82QRZxwJZuyPJWiPP1CjZlUtW5WUPW87jVLWQTQAAgObpfy77S0pKIiMjs7Ky8v5Pbm6u6P+USHsEampqenp6enp6+vr6enp6hoaGnTt3pv/X19en/6FpampKeSgCuMbn8wUCAdNaxLhx49TU1JKSkgghqqqqAoGgQ4cO9Fe3b98uLi42Nzdnfuvs7EwI+euvv6ZPn+7h4REcHJyTk2NgYBAeHh4YGEiPI9rkW1xcXHp6eo8ePZghzBsof//9d0VFxXfffcd85eXlpa6uLhlGjYj9lmUuqampnz9/pgd27NjRwMDgw4cPkougqqo6YsQIHx+f5OTkzZs3T5kyRZ75EkLMzMzc3NzCwsL8/f0NDAxOnDhBX4qzqNE6kRxCN+VYUlJy9OjRu3fvilZbBnuZSk6TvsXKXPCYmZnRs6Y/tm3blhBC38qTnJfoamSf77lz54yMjJhHjpkFZGZkaWl569YtlsVkKSZZ0xENLz4+XigUtm/fnv5oaGh46tQpQsi5c+dqurpkVS6xZZS6FI6Oju3btw8NDaVbynz8+HFlZWVERIS3t/epU6dcXV3l3BqhMWDes+jWrRvLaBUVFVIPu/Tf1NTUpKQkemBRUZHoD7W1tZljMXPkpf9xcHCwtLSs5+X7L01NTanHAlm7I/bdu6ypEdmVS1blZSfncQoAAACk+p9swr1796ZOncrSH1L79u07derUsWPHL7/8sl27dswpi56eHvPaMygpVVVVU1NTqb3ovXv3jhCSl5fHDDEwMKAfLiWEeHt7b9++PSwsbObMmXw+X1da5/PPnz8nIhefop49e6apqbl//35FLYhULHMZPXr08ePHr127NmzYsIKCgqKiopEjR0qdyOnTp+fMmbN79+5Tp05FREQMHjxYzrkvWbLk+PHj+/btW758eU5OTrXn93VcJ1VVVQEBAQ8fPlywYEH//v1v374tOQ57mVZLrM05+qNoyyaysM/35MmTEyZMYGnQTvQrWYspTzHJmsWTJ08qKiooihIboY6rS7RyiS2j1KXg8XgzZszYsGFDRkbGy5cvbW1t+Xx+WFgYnU04evSonIsJSkRVVdXY2NjY2FjyK4qiRLMM6enp//7778uXL+m/hYWFhYWF9CYqxsfHZ/v27fUf+39JPRbIszuSf2qSmMolq/LKj+U4BQAAAFL9TzZh8ODBlZWV1TaLGBMTc+rUqWqbRRRregrNIjZ+5eXldIPwYui7Pa9fvxYbTo/ctWtXBweHQ4cOqaurT5s2TeqU6UJ/9+6d5PQ1NDRSUlJSUlLo29207OxsqXe5a41lLu7u7iUlJR4eHrNmzUpLSzt+/Li9vb3Uiaiqqh47dmz06NHLli0bMWLEo0ePunTpIs/cbWxs7O3tg4ODu3Tp4uLiUpdoq/2tUCgcPXq0vr7+iRMnCCGyUhLsZVp/WOZbWFh45coVuqnIarEsZq2LiRDSqlWr0tLS5ORk0dvIZWVldV9ddOUSW0aWpZgxY8b69euPHz9+9+7d33777fr169OnT4+JiTExMWGeUqn1YkIjwd7oI4Ol0cehQ4c2nkYfJY8Fcu6O5JyaLHTlklV55b/VwXKcAgAAAKmk9Okg52OZpLouG5nmr6vtslEy6aCLLhsbXFZWVkZGhtSet+3s7LS1tf/8889ly5bRQ+i3A7755hv6o7e39/Tp00NCQuLi4qROnO6sLiIiYsSIEfQQoVBIPwXTo0cPiqJWrVpF33ElhLx69SosLKza1wFqhGUupaWlL168SExMNDAwYJlCWVnZnj17fHx83N3d7e3tO3fuHBMT06VLFxUVFbEHj6Vavnz5uHHjli1bdv/+fWagUChk3h0QnU5d1sndu3evXLly4MAB+iN9s47+X7QaVlumdSS6aKJY5hsZGamrqztw4EB5pi9rMWUVk5xh0/0s+Pr6njx5ko4/ISEhKSnJ2dm5LquLqVxiy8hSWBYWFo6Ojjt27HB0dDQ1NR03bpyWlta0adMiIyPrvphQr9g7pGQ+VtshpWhHRaIac4eUYscCli1ckuROo9ojCxGpXPQBRbLyzpw5U87gWY5TAAAAIFWdeohUV1e3tLSU57XM/Px8lt4f6bxDenp6fn6+6K+k5h0ku/5G3qHWysrKkpKS6NdEN23a5O7uTvezVVRUVFVVVVBQ8MUXXxBCDAwM/P39Fy5cSL8OQAgJCgqaPn360KFD6elMmDBh0aJFw4cPFz0XzMzMJITQLf/Z29sPGTLk8OHD1tbWHh4eT58+jY+Pz87OPnbs2LfffmtjY3Ps2LHS0tJx48Z9+vTp9OnTf/zxh2QYNSL22+HDh8uay86dO69du9ahQ4fWrVtraWnp6+t3796d3qJEF4EQcvDgwQULFvD5fDMzMx0dnT59+hBCTE1Nc3JyEhISioqKbGxsZMXs4uJibm7eq1cvphe0rVu3bty48ebNm127dhWbjr29vfzrRGwIfZlx5MgRW1vbhIQEugXBx48fGxsbp6amEkLoRiLYy1RyLp8+fSKEMDdIP378SAjJzs6mPxYWFtKbk9RFE12NLPMdP368q6ur2OVEdnZ2QUFBeXk5fdswMzOzrKzs8+fPshbziy++kFpMsqajoaEhtqGOGjXqzJkzTk5Orq6u7969e/78+enTpwUCQY1WF5FRuQICAkSXkaWwjI2NPT09PTw8Tp8+TQjR0NBwc3O7e/cu03em1MWE+iMrRyCWJsjNzaXbyGQwBzL64CUrR9C6dWupCTjlInYsYNnCxWqN2E5D6tQYso5cUisve8ByHqfGjh0r2sICAAAA/FeDt/vIRrLPCMnmry0tLSUfXJRs/nrVqlVifUakpqbSN0aA5uXlpaqq6unpOWHCBC8vr/Xr19OdCOzfv59+on7GjBlMo/0URZ05c2bEiBELFixYu3btr7/+ynTpR/P19U1PT2c+Xr9+3dHRkRBia2t79epViqIKCgo8PT2NjY3btm3r5+fn7e3t6ekZHR1dVVWVm5s7bdo0IyMjQ0NDDw8PuqswqWHI2aeD1N9KnQtFUTExMUZGRqJnqxYWFm/evBFbhNLSUhsbmzFjxgQEBHh7e+/bt4/+eWJiopmZWadOnSIiImStOtp3330XERHBfAwKCjIzM3v+/LnkdGRFKzl9qXOcO3eutra2nZ1ddHT0+fPnDQwMJkyYEBcXRzfp1759+6NHj9LrUGqZSk4zJiaGvms3bdq0ly9f3rhxo3fv3oSQ0aNHP378+ObNm3379qW/ffXqldiiSW4JUudbVFSkrq4eExMjusZCQ0PpK40lS5Z8/PjxyJEjurq6hJClS5eWlZVJXczc3FzJYmKZzuXLl8XCKy4unjdvXps2bYyNjefNmye6scm5uigZlUvqMkpdiqKiIoqiSkpKFi1axIz58OFDplMJWVsjO/TpIKnag461tbWJiUm1Bx1vb2/JjopSU1MrKyu5XkQFkKdPB4bYsUDqFr59+3axWiO2P5Q1NUr2kYtirbxS1eg4xT4pgj4dAACgWeJRsh87bMxYbhOJ3inKy8tj7pfSRJ93kHzMgWFsbCzWT3jTM2fOnLCwsJKSEq4DqYGjR4+6u7sXFBTo6OgoapqhoaE6OjrOzs65ubnZ2dmpqamJiYk5OTlbtmxR1Cxotra2sbGxLVu2VOxkoRFqnJWra9euI0eO3LZtG9eB1LvS0tK8vDyWYwRzmCgtLRX9oeQDcVIPE0ZGRpIdITdhEydOJITQbR9wrnFWLh6PFx4eTq8oAACA5kNZz4eYxh2qHZP98dSEhAQ5H0+VmnRoMo+nKpeSkhJFZRMSEhJWr15NvwJgaGhoaGhoZWVlbW197NgxhUyfERMTM3ToUKQSgENib+kro3zWl+ZE9+2iv5LMEdCvG4jt2/HSXJNkZmYmdlOBERISMmrUqAaOBwAAoClR1myC/OqYd2Aec2AalZTadBZ7xoHW2JrOysvLKy8vLyoq0tLS4jqWmpk3b96gQYN69+5Nv8FeF0+ePElLS9uwYcOYMWO6du1aWFh4+/btq1evBgQEKCTUuLi4uXPndu/ePSkpKTY2ViHThMavUVWup0+fXrp0KTs7W7JPikaC3veytOlLq7ZBX6ZJAtEdMjoSamJqWrlSUlLqOyQAAIBmS1nfdOBW3bv1YmFqaqoro2NtBfrhhx927NhRXFzs6ek5a9asQYMG1fccG6eqqqr169fv27cvMzNTS0vLyspq3rx5Hh4einreJDk5me4S8vDhw4MHD1bINKGRQ+WiVdvZMK1GnQ0zmQJ9fX35e/6DOmo8bzo02sqFNx0AAKB5QjahfonmHVhOqbOyskS7oar2fJo+pW7Tpg3OpxXl8+fP6urqjerhEYBGSCyXKmu3Vrt9mqmpKd4GaoQaTzah0UI2AQAAmqem/6YDt2rxnoXUs3PmPYsa3cdjHvfFs77VQu9f0Jwp6nkrWd0fyrMPBAAAAADlgmxCY8HkHbp168Y+ZklJCctjDkzeodp3jCWTDsg7ADQlstqgFduBSG0LRnTPICtH0NjaggEAAACAhoRsgvJRV1e3tLS0tLSsdsx81vbP6bxDenp6fn6+6K+k5h0km5lE++cAnGDvp4ap8tX2UyMrR4B+agAAAABAHsgmNGX0tUG1o7FcnDB5h6ioKPTNDlB/qq2GdKYgLy9PrLs7sWrYrVs3qU29Ghsb8/l8rpYOAAAAAJoeXONBXTvRFJWcnFztBQ9Lb5q44IEmprS0NC8vT540QbWpOqlpAqTqAAAAAIArOA2FGlBI3iE9PT0hIR7x4/4AAB/iSURBVIH+v9qHsaUmHXTxMDZwLZ/1NSLRrV30V5I5Avp1A7GtHa8RAQAAAEDjh2wC1Iu65x3oG7ZMo5JSG4pjzzjQ0FAcyI/eGllaOaVV28Qp0yQBmjgFAAAAgKYK2QTgWF3yDqJXfUzeodpO7KQyNTXVlaONCVBG7N2vMqrtflW02UImTaCvr9+iRQsOlw4AAAAAgBPIJoDSqHXeQewaksk7ZGVlVVVVMb9i6URT9BqyTZs2uHpsDNhLmVFtKUt2bWBqampqatqyZUsOlw4AAAAAoJFDNgGaoFrkHaReizJ5h2rvWotdi+Kuda2xP4HCqPYJFKndH+IJFAAAAAAARUE2AZo1Ju/QrVs39jHZ36hn8g7VvlEvmXTQbQZv1LO3jsF8rLZ1DKk5Al20jgEAAAAA0OCQTQCQC5N3sLa2Zh8zn7W1fybvILW1f3V1ddEb7JLNTDaq1v5Zeu5ITU19/fp1WVlZvhw9d8jKEaDnDgAAAACARgvZBAAFo6+Eqx2ttLQ0Ly+Pufz+559/Dh8+/OzZs0GDBlEURecdoqKi0tLSSktLRX8o+byD1L4tjIyMBILaVHCWHIHoAwV5eXllZWWyAistLU1MTLSzs5s5c6axsbFoYMbGxnw+vxaBAQAAAABA44FsAgA36Gf4TU1NKyoqdu3a5efn16ZNm//X3r1HRVXufxx/hhlJQa0Og2ji0rwEmkJ4QdRUJOUcQTyZgjccdSWoaE0lHrMyOXES8Ug6pV1slZ4BJcRLhVpqYhoqXhAQRUDSTBEviJSAoMD+/THnx3EhIKMwG4b364/WzMOeZ3/Y355W+8vsvXfv3j1q1KgqWxYVFeXn5+fn59+8edPwT8MLw+sLFy4kJSUZ3t7/FQALC4u//D8bG5sqr4uKiirnqZzN8LpKj6DKDM8++2z//v2rzGZjY1OlgSJJUmRk5FtvvaXT6VavXu3j49NwRxJAQ7t06VJsbKzcKQAAQOOiuP8abwAmtn///nnz5l28eHHhwoWLFy9+zLs23r59u7IpUG2noPKFtbW1Wq1+sMtQ5bWNjc3j3I/g2rVrCxcujIqK8vb2XrNmTefOnR/ntwMgi7feemvVqlVyp2jUVCpVfHz80KFD5Q4CAIBJ0U0A5JGbm7to0aLIyMgxY8aY+ExboVDExMT4+fmZZncHDhyYO3euoWPy7rvvNp77PgAAAAB4ZNzhDDC1srIynU7n6Oh46NChnTt3xsXFmfcf7YcPH56amvr++++Hh4cPGDAgMTFR7kQAAAAAHhfdBMCkEhIS+vbtu3DhwhkzZpw6dcrLy0vuRKbQokWLRYsWpaWl2dnZDR48WKPR3Lx5U+5QAAAAAB4d3QTARPLz87Va7fDhw9VqdWpqqk6ns7a2ljuUSXXv3n337t0xMTG7d+/u3bu3Xq+XOxEAAACAR0Q3AWhwkiTp9XoHB4ctW7asX78+Pj6+Z8+ecoeSja+vb2Zmpp+f38yZM0eMGJGRkSF3IgAAAABGo5sANKyUlJTBgwe/+uqrU6ZMOXv2rEajkTuR/J566imdTnfs2LHbt2+7uLiEhIRUeSwlAAAAgEaObgLQUAoKCrRabf/+/VUq1cmTJ3U6Xdu2beUO1Yj069cvMTFx+fLlERERvXv33rt3r9yJAAAAANQV3QSgQcTGxjo6OkZFRUVERBw4cKBPnz5yJ2qMVCqVVqvNyMhwdnb29PT08/O7fv263KEAAAAAPBzdBKCeZWVleXp6Tpw40dPTMzMzU6vVWliw0GrTsWPHLVu2fP/990ePHnVwcNDpdBUVFXKHAgAAAFAbTnKAelNcXBwSEuLk5JSXl3f48GG9Xq9Wq+UO1WT4+PicPXt29uzZwcHBw4YNO336tNyJAAAAANSIbgJQP+Li4nr16qXT6cLDw48fP+7m5iZ3oqbHyspq+fLlJ06cKC8vd3Fx0Wq1hYWFcocCAAAAUA26CcDjOn/+vLe399ixY11dXTMyMrRarVKplDtUE+bs7Hz48OGvvvpq48aNjo6OW7dulTsRAAAAgKroJgCP7t69ezqdzsnJKTs7e8+ePZs3b7azs5M7lDlQKBQajeb06dMeHh4TJkzw8fH5/fff5Q4FAAAA4H/oJgCPaP/+/c7Ozu+8805wcPCpU6dGjRoldyJz0759e71ev3///uzs7F69eoWHh5eXl8sdCgAAAIAQdBOAR5Cbm6vRaDw8PLp165aenh4SEvLEE0/IHcpsubu7JycnBwcHL126tH///kePHpU7EQAAAAC6CYAxysrKdDqdo6PjoUOHdu7cGRcX17lzZ7lDmb+WLVuGhISkpaWp1erBgwfPnj37jz/+kDsUAAAA0KzRTQDqKiEhoW/fvgsXLpwxY8apU6e8vLzkTtS89OjRY+/evd988823337r6Oio1+vlTgQAAAA0X3QTgIfLz8/XarXDhw9Xq9Wpqak6nc7a2lruUM2Ur69vRkaGn5/fzJkzPTw8MjMz5U4EAAAANEd0E4DaSJKk1+sdHBy2bNmyfv36+Pj4nj17yh2quXv66ad1Ot2BAwdu3Ljh4uISEhJSWloqdygAAACgeaGbANQoJSVl8ODBr7766pQpU86ePavRaOROhP958cUXk5OTw8LCIiIi+vTp89NPP8mdCAAAAGhG6CYA1SgoKNBqtf3791epVCdPntTpdG3btpU7FKpSqVRarTYjI6NPnz6enp4ajebGjRtyhwIAAACaBboJQFWxsbGOjo5RUVEREREHDhzo06eP3IlQm44dO27duvW77747cOCAg4ODTqerqKiQOxQAAABg5ugmAP+TlZXl6ek5ceJET0/PzMxMrVZrYcEaaRp8fHzS09MDAwMXLFgwfPjwM2fOyJ0IAAAAMGecKQFCCFFcXBwSEuLk5JSXl3f48GG9Xq9Wq+UOBeNYW1svX778xIkT9+7dc3Fx0Wq1hYWFcocCAAAAzBPdBEDExcX16tVLp9OFh4cfP37czc1N7kR4dC+88MLhw4fXrFmzYcMGJyenH374Qe5EAAAAgBmim4Bm7fz5897e3mPHjnV1dc3IyNBqtUqlUu5QeFwWFhaBgYGZmZkvvviil5eXj4/PpUuX5A4FAAAAmBW6CWim7t27p9PpnJycsrOz9+zZs3nzZjs7O7lDoT61b99er9fHx8efO3euZ8+e4eHh5eXlcocCAAAAzATdBDRH+/fvd3Z2fuedd4KDg9PS0kaNGiV3IjSUESNGJCcnBwcHL126dMCAAceOHZM7EQAAAGAO6CagecnNzdVoNB4eHt26dUtPTw8JCbG0tJQ7FBpWq1atQkJC0tLSbGxsBg0aNHv27D///FPuUAAAAEDTRjcBzUVZWZlOp3N0dDx06NDOnTvj4uI6d+4sdyiYTo8ePfbs2bN+/frt27c7Ojrq9Xq5EwEAAABNGN0ENAsJCQl9+/ZduHDhjBkzTp065eXlJXciyEChUGg0mszMTF9f35kzZ3p7e1+4cEHuUAAAAECTRDcBZi4/P1+r1Q4fPlytVqempup0Omtra7lDQU5PP/20Tqf7+eefL168+Pzzz4eEhJSWlsodCgAAAGhi6CbAbEmSpNfrHRwctmzZsn79+vj4+J49e8odCo3F0KFDk5OTw8LCIiIinJyc9u3bJ3ciAAAAoClRSJIkdwag/qWkpMydO/fEiRNBQUGhoaFt27aVO5GcPvnkk3Xr1lW+zcrK6tChQ5s2bQxvu3TpEhcXJ1M0+Z0/f37+/Pk//vijv79/RESEra2t3IkAAACAJkAldwCgnhUUFCxdunTt2rWDBg06efJknz595E4kv9u3b58+ffr+kYsXL1a+rqioMHmiRqRr1667du2Ki4ubN2+eo6NjWFhYQECAQqGQOxcAAADQqHGlA5qeY8eO3bt3r9ofxcbGOjo6RkVFRUREHDhwgFaCwaRJk2o6PW7RosWMGTNMG6cx8vHxOXv2bEBAQFBQ0PDhw8+cOVPtZgkJCXl5eSbOBgAAADRCdBPQxERHR7u5uX344YdVxrOysjw9PSdOnOjp6ZmZmanVai0s+Nf7v7p27dq3b99qGwplZWW+vr6mj9QIWVtbL1++/Pjx46WlpS4uLlqttqio6P4Nzpw5M2LECG9vb+7aCAAAAHC6habkxIkTM2bMkCRp2bJl2dnZhsHi4uKQkBAnJ6e8vLzDhw/r9Xq1Wi1vzkZIo9EolcoqgxYWFgMHDuzSpYsciRopFxeXI0eOrFmzZsOGDU5OTj/++KNhXJKkgIAAIcTJkyeDgoJkzQgAAADIj24CmoyrV6+OGTOm8iL/OXPmCCHi4uJ69eql0+nCw8OPHz/u5uYma8bGa9KkSQ/eH8HCwkKj0ciSpzGzsLAIDAzMyMgYMmTI6NGjfXx8Ll++/PXXXycmJpaVlZWVla1fv/7TTz+VOyYAAAAgJ57pgKahpKRk6NChqamp998xwc3N7ejRo/7+/v/+97/t7OxkjNckeHh4HDx4sLy8vHJEqVReuXKlXbt2MqZq5Hbu3Dl//vxbt26Vl5cXFRVV/gdTqVT+9NNP7u7usqYDAAAAZMN3E9A0BAUFpaSk3N9KUCgU6enpu3bt0uv1tBLqYtq0afd3D5VK5ciRI2kl1M7b2/vMmTOdO3cuKSmp0nt9+eWXL1y4IFcwAAAAQF50E9AErFy5csOGDWVlZfcPSpJUXFwcHx8vV6omZ/z48SrV/x4KK0mSv7+/jHmaiqSkpLS0tCr/+hm+quDj41NcXCxXMAAAAEBGXOmAxm7Pnj2jR49+8Jp/A6VSmZSU5OzsbOJUTdTf//73Xbt2GU6MLS0tb9y40bZtW7lDNWp3797t3bv3+fPn779CpJJKpfLx8dm6dWtND+AEAAAAzBXfTUCjlpGRMX78+Nq3mTNnDk2xOvL39zecFatUqrFjx9JKeKiVK1dmZ2dX20oQQpSVlX377bcREREmTgUAAADIjm4CGq9bt255eXmVlJRU+8UEpVKpUqnKy8tTU1Nv3bpl+nhNkY+Pj5WVlRCivLx86tSpcsdpAiofRGppaVntFxAkSVq0aNGePXtMmwsAAACQGVc6oJEqLy/39vbet29f5fXqCoXC0tKytLRUCGFjYzNw4MBhw4YNGTKkX79+rVq1kjVsU6LRaCIjI1u3bp2Xl/fEE0/IHacJKCwsTElJSUpKOnjwYHx8fEFBgUKhUKlUlfcEtbCwsLa2PnnyZPfu3eWNCgAAAJgM3QQTKSkp2bVrV03fl8aD9Hr9jh07DH8NliSpVatWPXr0cHBw6N69e/fu3du0aVPTB21sbDw8PBouWFMvZUpKyrJly0aMGDF37ly5szycs7Pzc88913Dz//LLL1evXq379pIk5ebmnjt3Lisr6+zZszk5OZIkKZXK8vLyDh06hIeHt2zZsuHSNi0NXTsAAADIi26CiWzbtu2h1/+jvkRERLz11lsNNDmlNCVra+uEhIQXXnihgeZv0aJFlYc1oL40dO0AAAAgL+6bYCKGMxYJDSwmJkYIsWDBgrCwMErZ1L3yyiutW7ceMWLEiRMnGq6aMTExcv+iZsgEtQMAAIC86CbADK1ateqdd95puIYCTEOpVA4ZMqR///6jRo3ipLRpoXYAAABmj24CzNAbb7xBQ8E8KJXK77//npPSpojaAQAAmDe6CTBPNBTMRqtWrTgpbaKoHQAAgBmjmwCzRUPBbHBS2nRROwAAAHNFNwHmjIaC2eCktOmidgAAAGZJJXcAoP7FxsZWvu7YsaNGo3n33XdLS0tDQkLkC4VHcfny5furOX369KtXr3p4eCQkJDg5OckYDA9F7QAAAMybQpIkuTM0C5s3b544cSJHu6FdunRp4sSJR44cefBHSqXS8HDHx0QpTebIkSODBw+u9keTJk2Kjo5+/F0oFIqYmBg/P7/Hnwr3M0HtAAAAIC+udIBZ6dSp0+HDh6UHxMTElJeXy50Oxhk0aNCDpZQkydfXl2o2ctQOAADA7NFNAAAAAAAAxqGbAAAAAAAAjEM3AQAAAAAAGIduAgAAAAAAMA7dBAAAAAAAYBy6CZCZJEkpKSmlpaVyBwGaNVYiAAAAjEI3AXLatGlTt27dXFxcCgoK5M6CehMfH+/m5vbbb7/JHQR1xUoEAACAsegmQE5TpkyZMGGC3ClQz27dunXp0qWioiK5g0AIIXJzcx+6DSsRAAAAxqKbAJnZ2NjIHQH1bPz48Tk5Oc8//7zcQSAKCgqmTJlSly1ZiQAAADAK3QQAME9FRUV+fn5ccgIAAICGQDehETl48KCtra1CoXjvvfcMI/v27Wvbtu3SpUuvXbsWEBAQGhoaEBAwbty4mzdvCiFycnKWL1/eu3fv/Pz8v/71r507dzaMV6r2Uwa7du0KCgrSarWDBg368ssvax+XJOnzzz+fO3fuwIEDPT09z507ZxhPTU2dMWPGihUr3nzzzaCgoFoG62jHjh1KpXLixInfffddtfv97rvv2rRpo1AoVq9efffuXSHEkSNHOnTosGzZMqN21NBMUMrdu3erVCpLS8sdO3aUlJTMmjVLoVA4ODj8/PPPQojff//dzc1twoQJRpWj2hg1VV8IceLEiYCAgClTpri6un7xxRdlZWWG8Rs3bqxZs+bo0aOVW27ZsuW1114LDg4ePXr0e++9Z7jVX0pKysKFC7t27VpUVDRr1iy1Wu3q6nr+/PnHP/71qN5LWW1FajnIDy7Jupdp+/btGRkZeXl5AQEBK1eurPtvbTYrEQAAAA1IgknExMTU5Wgb/o9/27Zthrf37t0bOnRoRUWFu7v7xIkTDYPOzs7+/v6SJP3www+Ojo5KpXLp0qXr1q1zdXXNycm5f7ZqPyVJkl6vnzx5cnl5uSRJH374oRBi3759tYyHhYVt2LBBkqSysrJevXq1b9++qKhIkiQHB4eEhARJkoqLi4cOHWqYvNrBWixfvlwIcfXqVUmS/vGPf3z00UeVP6p2v2+//bYQ4vjx44ZtSktLBw4c+NC91PH410XjKeXkyZMtLS0Ntbh7926nTp1GjhxZ+RFfX99ff/3VqHJUG6Om6v/222/W1tYXLlyQJEmj0Qgh+vXr98YbbyQkJAwdOlQIsWXLFsO0H3300ZAhQ+7evStJUl5eXo8ePYYNG1ZRUZGbmzty5EghxLx5886cOZOcnPzEE09MmjTpocfW19fX19f3oZvVhRAiJiam9m3qt5TVVqSmg1ztkjSqTGPGjOnSpUtdDoVpVmI91g4AAADyoptgInU8BS0sLPzLX/4yfvx4w9sdO3asXbtWkiR3d/dly5YZBqdOnerk5GR4/eqrrwohsrOzq52t2k9dv379ySefPH/+vGH8+vXrr7zySnp6ek3jOTk5dnZ2hvMZSZLef/99IcQ333xj+IPkJ598YhjftGmTJEnVDtbOcA5z5cqVt99+u/KETZKkmvZ76dIllUo1a9asykMUGhr60L2YvptgglLGx8cLITZu3GgYf+ONNywtLfPz8yVJunPnziuvvPII5agSo6YqSJIUHBzcqVMnw3hWVpYQ4osvvjC83bNnT2U34dq1a9bW1pGRkZW7WL9+vRBCr9dLkrR48WIhRF5enuFHL774Yo8ePR4a0sTdhHosZbUVqekg17QkH9xFLWUytpvQ0CuRbgIAAIDZUDXQVx7waKytrTUazdq1a/Py8tRqdUxMjE6nE0Ls379fCHHnzp2NGzceO3ZMkiTD9i1atFCpVN26dat2tmo/lZCQUFFR8eyzzxq2sbW13bp1qxBi+/bt1Y5v2bLl3r17s2fPrpx21qxZrVq1atGihaenp1arTU9PX7Zs2eTJkw15Hhysi3nz5rVv337cuHGVI4cPH652v/b29r6+vlFRUWFhYWq1evPmzUuXLq3jXkzJBKV0d3d/9tlnIyMjDbfZO3XqVFlZWWxsbGBg4NatW8ePH/8I5agSo6YqCCFycnKKi4sNgz169FCr1ZcuXTK8tbKyqtw+MTGxqKioU6dOlSNjxowRQvz888/Tpk1TKpVCCJXqv/8hsre3z87OfmhIE6vHUlZbkZoOck1L9cFd1FImY5nfSgQAAEADoZvQ6AQGBq5evToqKmrGjBlKpfLpp58WQpSXl69YsSI5OXn+/PkDBw5MTEysy1TVfur06dP37t2TJEmhUNy/cU3jZ8+etba2vv/eCpW2bdsWEBDw2Wefbd26NTY2dtiwYTUNPpSVldWXX345bdq0QYMGPXS/b775ZnR09Lp164KDg/Py8rp27VqXXZheQ5dSoVBMnz49NDT06tWr2dnZrq6uSqUyKirK0E3YuHGjeNRyVKqlCl5eXtHR0fv27XvppZcKCgoKCwv/9re/PbjZxYsXhRD5+fmVI2q12srK6sqVK0YlkVc9lvLBitR0kENDQ6tdkg+qpUzGMsuVCAAAgIbAXRgbnZ49ew4dOvTrr7+OiYmZOnWqEKKiosLLyystLW3z5s11Pxus6VNt27YtKSlJT0+/f+PS0tKaxq2srC5fvnz58uX7x2/cuCGEaNGixaZNmyIjI4UQnp6eGRkZNQ0+1Icffujo6Dh58uSCggLDSC37HTBgwJAhQ9auXbtjxw4fH586HhDTa+hSCiGmT59eUVERHR29du3a1157bfr06QkJCfHx8R06dDD8afrRylGplir4+/uvW7dOo9EsWbJkwYIF0dHRQ4YMeXAGw5/WH7y3ooODg1FJ5FVfpRTVVaSmg1zTknxwzlrKZCyzXIkAAABoCHQTGqPAwMC0tDS9Xu/h4SGEOHbs2J49e1566SXDTw1/rqzpsxUVFYYXNX2qf//+QoglS5ZUbpmUlBQdHV3TeJ8+fSRJWrRoUeUufv31108//bS0tPSzzz4TQvj7+ycmJlZUVMTHx1c7WJdfuWXLlpGRkbm5uQEBAYaRmvZreB0cHHzlypUFCxb4+vrWZX65NGgphRBdunRxd3f/5JNPWrVq9cwzz4wbN65169ZTp06dOXOmEOKRy1GpliqUlJRkZWWlpqaGhoZ+9dVXL7/8crUzuLm5tWnT5ttvv60cMVwiMXbsWKOSyK5eSlltRWo6yDUtyQfnr6VMFhYWhYWFdf81zXUlAgAAoN5xpUNjNGHChNdff33UqFEWFhZCCMP3nP/zn/+4uromJSWlp6dfu3bt1KlTdnZ2hYWF5eXlBQUFTz31lBDio48++te//nXo0KGePXvW9Knu3buPHj16+/btI0eOHD9+/MWLFzMyMrZt26ZSqaodVyqVAwYM2LRpU0lJybhx4/78889t27Z98803Qoivvvpq/vz5SqXS3t7+ySefdHFxqWmwFkVFRUKIsrKyF1544Z///OfixYvDwsIWL148atSomvYrhPDx8enUqZOzs7ONjU0DVuKxNWgp7ezs7OzsZs6cqdFotm3bJoSwsrLy9fU9duyY4URUGF+OKjFqqcKaNWv27dvXrVu39u3bt27d2sbGpnfv3i1atBBCXLt2TQiRl5cnhFCr1WFhYa+99prhmgghxMcffzxt2jTDOfkff/whhKh8tOS1a9fu3LlTl+/2m169lFJUVxE3N7dqD7Jara52SQpjyvTMM8/k5eUlJSUVFhYOGDDg/ltaVGHeKxEAAAD1z7Q3fWy+jH2mwJIlS3Jzcyvfzpkzp02bNm5ubj/99NPOnTvVavWECRNWr15ta2srhJg+fXpycrIkSR9//LG9vX1GRkYtnyosLCwqKpo7d27Hjh3t7Ozmzp1bUFBg2L6m8Zs3b06dOrVdu3a2trYajcbwxLuSkpIBAwZ4e3uvWLEiMDBw3bp1NQ3WIjo6+rnnnhNCBAUFZWVlJSYmGm7LN2vWrHPnzlW730qzZ8+OjY2t4/E0/TMdKjVoKSVJunPnzuuvv145f3JycuUDFIwtx5dfflklhlRD9SVJio+Pb9euneHU2qBLly4XLlzYv3+/u7u7EMLV1XXv3r2Gjbdv3+7p6Tl//vz3339/5cqVFRUVhhkM10EEBQVdv349KirK2tpaCBESElJWVlZLThM/06HS45eyporUdJCrXZJGlSk1NdXe3v65556rfbGYbCXyTAcAAACzoZBq/nYu6tHmzZsNj6aXO4j5cHV1PXjwYMuWLeuycT0ef0ppEBkZ+eSTT44ZM+bmzZs3btzIyclJTU3Ny8szPGiwQfn5+QkhNm/e/PhTKRSKmJgYw4R4NEatxHqsHQAAAOTFlQ5ocPb29tXeOk4IodfrR48e/QhzxsfHe3h41PEEBverl3IkJSW9/fbbOTk5QghbW1tbW9tevXr169dv06ZN9ZkV9YqVCAAAgHpENwENrsrd4B/HL7/8MmfOnN69e6elpR08eLC+pm1W6qUcp0+fvnLlSmhoqLe3d8+ePW/fvp2YmLh3794VK1Y8/uRoIKxEAAAA1COe6YCmxMbGpqSk5MSJE59//rlarZY7TvPl7++/ZMmStWvX9uvXr127dj4+Pvn5+TqdzvBYSpg9ViIAAAD4bgKakl69ev36669yp4BQKpUffPDBBx98UFxc3KpVq0b4CAY0KFYiAAAA6CYAeHS1PHEQAAAAgBnjSgcAAAAAAGAcugkAAAAAAMA4dBMAAAAAAIBx6CYAAAAAAADj0E0AAAAAAADGoZsAAAAAAACMQzcBAAAAAAAYh24CAAAAAAAwDt0EAAAAAABgHLoJAAAAAADAOHQTAAAAAACAcegmAAAAAAAA46jkDtC8xMbGyh2hmUpMTKzfCSmljC5dutSpU6f6mi0xMVGhUNTXbKhd/dYOAAAAMqKbYCIdOnRQqVR+fn5yB2m+7O3t62UeStkYDBo0qF7msbe3X7Vq1apVq+plNtRFfdUOAAAA8lJIkiR3BgAAAAAA0JRw3wQAAAAAAGAcugkAAAAAAMA4dBMAAAAAAIBx6CYAAAAAAADj/B+UNPeJ1VwBxAAAAABJRU5ErkJggg==","fileName":"tf-ga-2","createdTime":"2021-07-21
                    13:48:20.968332296 +0000
                    UTC","dependencyRef":[],"owner":{"id":"1a56b4adge67fg4622ga052g93280b35c5ee"},"state":""}],"count":1,"requestID":"052f299d-4373-44c9-ab96-3fa93effca52"}
      tags:
        - Templates
  /v1/{projectId}/terraform/upload:
    post:
      summary: upload template
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
          required: true
          description: string projectId of the templates to get
      requestBody:
          content:
            application/json:     # Media type
              schema:             # Request body contents
                $ref: '#/components/schemas/Terraform'   # Reference to an object
              examples:    # Child of media type
                Request:
                    value: |-
                      {
                         "fileName":"iec-testing-3",
                         "fileContent":""
                      }
      description: Thi API uploads a template to the gopaddle portal
      operationId: ''
      responses:
        default:
          description: Default error sample response
          content:
            application/json:
              examples:
                upload_response:
                  value: |-
                    {
                      "message": "Uploading terraform template",
                      "requestID": "a9fbd75c-8b17-4523-b024-81be7d860ca2",
                      "activityID": "act2a53ed2de3e3de4ffbe8183e3f652bd7eefc",
                      "templateID": "tmp3a2c220ae6d30e482beab5ce9a6f242d434d"
                    }
      tags:
        - Templates
  /v1/{projectId}/terraform/{templateID}/keyFile:
    summary: retreive key file
    description: 'This API returns all the key file associated to a particular template '
    get:
      summary: retreive key file
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
          required: true
          description: string projectId of the templates to get
        - in: path
          name: templateID
          schema:
            type: string
          required: true
          description: string templateID of the templates to launch
      description: ''
      operationId: ''
      responses:
        default:
          description: Default error sample response
          content:
            application/json:
              examples:
                keyFile_response:
                  value: |-
                    {
                      "keyFile": {
                        "variable": [
                          {
                            "aws_region": [
                              {
                                "default": "us-east-2",
                                "description": "aws_region"
                              }
                            ]
                          },
                          {
                            "aws_instance": [
                              {
                                "default": "t2.small",
                                "description": "instance_type"
                              }
                            ]
                          },
                          {
                            "aws_ami": [
                              {
                                "default": "ami-0b9064170e32bde34",
                                "description": "aws_ami"
                              }
                            ]
                          },
                          {
                            "access_key": [
                              {
                                "default": ",
                                "description": "access_key"
                              }
                            ]
                          },
                          {
                            "secret_key": [
                              {
                                "default": "",
                                "description": "secret_key"
                              }
                            ]
                          },
                          {
                            "aws_subnet_id": [
                              {
                                "default": "subnet-d64dcabe",
                                "description": "subnet_id"
                              }
                            ]
                          },
                          {
                            "key_name": [
                              {
                                "default": "terraform",
                                "description": "key_name"
                              }
                            ]
                          },
                          {
                            "vpc_id": [
                              {
                                "default": "vpc-561e9f3e",
                                "description": "vpc_id"
                              }
                            ]
                          }
                        ]
                      },
                      "files": [
                        {
                          "fileContent": "",
                          "name": "terraform.pem"
                        },
                        {
                          "fileContent": "IG1pY3JvazhzIGpvaW4gMTcyLjMxLjIzLjE5MDoyNTAwMC81Y2NlYjZkMjU2YzQ4M2QxMGYyODRhYmNlMjMxNjUxNAogbWljcm9rOHMgam9pbiAxNzIuMzEuMjcuMTI1OjI1MDAwL2RjNmI4YWRmYTMwZDUxMjQyMjE1Yzg4YjlhMGZlNTkzCiBtaWNyb2s4cyBqb2luIDE3Mi4zMS4yOS45OjI1MDAwLzUyMzUyNzg5ZWJlYTFkOWMyZjA1YzdhMGY2OWY4OGUyCiBtaWNyb2s4cyBqb2luIDE3Mi4zMS4yMC4xNDk6MjUwMDAvMWEwYzYwMzlkYTFlNWVhNzQ3MmIzNzBlMmIyODU0MGUKIG1pY3JvazhzIGpvaW4gMTcyLjMxLjI0LjEzNToyNTAwMC80ODg2OTdjZWI2Mjg0OWI5Y2QyNTk5ODk1YTYwZGFhOAogbWljcm9rOHMgam9pbiAxNzIuMzEuMTguMTQ5OjI1MDAwL2I4YmVkN2Q2Yzk0Nzc1ZDNkZjExODhjMGI5YTY4MThmCiBtaWNyb2s4cyBqb2luIDE3Mi4zMS4zMS4xOTI6MjUwMDAvYzE3ZTUyOGU0ODA5Yjg2OTc0NDY4NGY1MWE0NTc5MmUKIG1pY3JvazhzIGpvaW4gMTcyLjMxLjI4LjIzOjI1MDAwLzQ5NDZiMmRhZDM3ZjdmNGRhNjE1YWJhNzkyZmE0OTc0CiBtaWNyb2s4cyBqb2luIDE3Mi4zMS4xLjEwNDoyNTAwMC9hZDAzM2I5NzU4ZDNjMTljMjhmMTljOWQ2OTc3YTAyMAo=",
                          "name": "token"
                        }
                      ]
                    }
      tags:
        - Templates
  /v1/{projectId}/terraform/{templateID}/status:
    description: This API is to get the status of the template after launch
    get:
      summary: get status
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
          required: true
          description: string projectId of the templates to get
        - in: path
          name: templateID
          schema:
            type: string
          required: true
          description: string templateID of the templates to launch
      description: ''
      operationId: ''
      responses:
        default:
          description: Default error sample response
          content:
            application/json:
              examples:
                status_response:
                  value: |-
                    {
                      "requestID": "81161dce-e093-40ea-87c4-d41aaf4751b7",
                      "templateID": "Created"
                    }
      tags:
        - Templates
  /v1/{projectId}/terraform/{templateID}/:
    summary: get template
    description: >-
      This API is to get details of a specific terraform template in gopaddle
      portal
    get:
      summary: get template
      parameters:
        - in: path
          name: projectId
          schema:
            type: string
          required: true
          description: string projectId of the templates to get
        - in: path
          name: templateID
          schema:
            type: string
          required: true
          description: string templateID of the templates to launch
      description: ''
      operationId: ''
      responses:
        default:
          description: Default error sample response
          content:
            application/json:
              examples:
                get_response:
                  value: >-
                    {"id":"tmpea34d1d1ef637e4450ea0fde7276d178c5c4","Project":["prjca5e4c9ae0585e4e79ea8b3e67d5be369fae"],"desc":"","templateGraph":"iVBORw0KGgoAAAANSUhEUgAABW8AAAJ7CAIAAAATKPTRAAAABmJLR0QA/wD/AP+gvaeTAAAgAElEQVR4nOzdd1xT1/8/8BOSsElA9hARUGQJijIdqEhxV20dValaxC11j2rFaqvW1tWiIm2titvWAVWrglbFASgyXYAoe0kChJnx++N+m18+gBQVuAm8nn/4uCv3vHITkPu+557LkEgkBAAAAAAAAACgxZToDgAAAAAAAAAACgbVBAAAAAAAAAB4N6gmAAAAAAAAAMC7YdEdAAAAAAA6uPr6ej6fX15eXlZWVldXJxAIqOUCgaCuro6a1tTUZLPZ1LSOjo6ysjKHw+Fyudra2vSEBgCAZqGaAAAAAAAfRCKR5OTkvHz5Mjs7u6ioKCcnp7CwMDc3t7CwsKysrLy8vKqq6kP2z+VyuVxuly5dTE1NDQ0NqX/NzMxMTU2tra1RbgAAoAUDz3QAAAAAgJYTCASpqamJiYnPnj3LyMhIT09PT0+vqakhhLDZbOnZvomJiZGRkY6ODpfLpXoZUB0NmEwml8uldqWqqqqmpkZNl5eXi0QiQohQKKyoqKitrS0vL+fz+Xw+n8fj8fn80tLSvLw8aZ2iuLiYeqGenp6VlZW1tbW1tbWdnZ2Tk5O1tTWTyaTj2AAAdCKoJgAAAABAcyorK+/fv//gwYPExMTExMT09HSxWKylpWVjY2Mtw8rKysjIqN1S1dXVvX79Ol3GixcvMjMzhUKhurq6vb29s7Ozs7Ozl5eXg4MDigsAAK0O1QQAAAAAaKioqOjmzZsxMTExMTGJiYlCodDCwqJPnz69e/fu3bu3k5OTpaUlg8GgO2ZDNTU1KSkpiYmJSUlJSUlJCQkJfD6fw+F4enp6enoOHDjQ09NTWVmZ7pgAAB0BqgkAAAAAQAghYrE4ISHh+vXrERER9+7dYzAYNjY2AwYM8PLyGjx4cLdu3egO+D4yMzPv3LkTExNz586dtLQ0dXV1T09PHx+fcePG9erVi+50AAAKDNUEAAAAgE5NJBLduHHjxIkT58+ff/PmjYWFhZ+fn5+f37BhwzQ1NelO15pevXp15cqVy5cvR0VFVVZW2tnZTZ48ecqUKT179qQ7GgCA4kE1AQAAAKCTiouLCw8PP336dEFBQb9+/SZPnjxq1ChbW1u6c7W5urq627dvX7hw4cyZM9R7nzp16meffdae4z4AACg6VBMAAAAAOpfa2tqLFy/u2bMnJibG1tZ20qRJU6dOtbGxoTsXDcRi8d27d8+cOXPixAk+nz9u3LjAwEAfHx+6cwEAKABUEwAAAAA6i5KSkh9//DEsLKyiomLixIkLFy708vKiO5RcqKmpOXXqVEhISFxcnLOz8/Lly6dOnYonQQAANAPVBAAAAICOr6ysbOfOnXv27FFTU1uyZElAQIChoSHdoeRRbGzs3r17T5482bNnz+Dg4E8++URJSYnuUAAA8gjVBAAAAICOTCgU7t27d/PmzUwmc+XKlYsWLdLQ0KA7lLx79uzZN998c/LkSQcHh59//nngwIF0JwIAkDsotQIAAAB0WHFxca6url999dWSJUtevny5evVqlBJawsbG5tixY0lJSaampoMHD54zZ05ZWRndoQAA5AuqCQAAAAAdkFAoXL16tYeHh7a2dmJi4qZNm7S0tOgOpWDs7e0vXbp04sSJyMhIW1vbK1eu0J0IAECOoJoAAAAA0NGUlJT4+fn99NNPoaGhUVFRPXv2pDuRAps8efKTJ0+GDx8+evTo7777DrcJAwBQMG4CAAAAQIfy5MmTESNGMBiMP//8s0+fPnTH6Th++umn5cuXjx079vjx48rKynTHAQCgGaoJAAAAAB1HRkbGoEGDunfvfuHCBV1dXbrjdDS3bt0aM2aMj4/PqVOnWCwW3XEAAOiEOx0A
[...]
